# Parsing Data

Data from various sources is always stored in different formats and file types. These are the common formats:

- **CSV**: Comma Separated Values

- **JSON**: JavaScript Object Notation

- **XML**: Extensible Markup Language

- **PDF**: Portable Document Format

## Part 1: CSV File

A CSV is a Comma Separated Values file, which allows data to be saved in a **tabular format**. **Each row** of the file is a **data record**; **each column** is a **field** (or an attribute). **Each data record** consists of **one or more fields**, **separated by commas**. 


![](image/parse_csv.png)

### 1.0 Import data using standard library

In [1]:
# The first 10 lines of the file
with open("data/Melbourne_bike_share.csv", 'r') as f:
    for line in f.readlines()[:10]:
        print (line)

ID,Featurename,TerminalName,NBBikes,NBEmptydoc,UploadDate,Coordinates

2,Harbour Town - Docklands Dve - Docklands,60000,9,14,28/01/2016 12:30:05 PM +0000,"(-37.814022, 144.939521)"

4,Federation Square - Flinders St / Swanston St - City,60001,12,10,28/01/2016 12:30:05 PM +0000,"(-37.817523, 144.967814)"

5,Plum Garland Reserve - Beaconsfield Pde - Albert Park,60002,16,1,28/01/2016 12:30:05 PM +0000,"(-37.84782, 144.948196)"

6,State Library - Swanston St / Little Lonsdale St - City,60003,9,2,28/01/2016 12:30:05 PM +0000,"(-37.810702, 144.964417)"

7,Bourke Street Mall - 205 Bourke St - City,60004,9,2,28/01/2016 12:30:05 PM +0000,"(-37.813088, 144.967437)"

8,Melbourne Uni - Tin Alley - Carlton,60005,2,17,28/01/2016 12:30:05 PM +0000,"(-37.79625, 144.960858)"

9,RMIT - Swanston St / Franklin St - City,60006,9,2,28/01/2016 12:30:05 PM +0000,"(-37.807699, 144.963095)"

10,St Paul's Cathedral - Swanston St / Flinders St - City,60007,4,7,28/01/2016 12:30:05 PM +0000,"(-37.817189, 144.967409)"

11,MSAC - Aughtie Dve - Albert Park,60008,9,18,28/01/2016 12:30:05 PM +0000,"(-37.842395, 144.961868)"

In [2]:
# The last 10 lines
with open("data/Melbourne_bike_share.csv", 'r') as f:
    for line in f.readlines()[-10:]:
        print (line)

46,South Melbourne Market - York St / Cecil St - South Melbourne,60039,9,6,28/01/2016 12:30:06 PM +0000,"(-37.831475, 144.957511)"

47,VCAM - St Kilda Rd / Southbank Blvd - Southbank,60040,6,5,28/01/2016 12:30:06 PM +0000,"(-37.824088, 144.970085)"

48,Museum - Rathdowne St - Carlton,60041,4,11,28/01/2016 12:30:06 PM +0000,"(-37.803868, 144.969609)"

49,Jolimont Station - Wellington Pde South - East Melbourne,60042,3,8,28/01/2016 12:30:06 PM +0000,"(-37.816731, 144.982006)"

50,ACCA - Sturt St - Southbank,60043,15,8,28/01/2016 12:30:06 PM +0000,"(-37.826578, 144.966542)"

51,ANZ - Collins St - Docklands,60044,9,10,28/01/2016 12:30:06 PM +0000,"(-37.821568, 144.944488)"

52,Flagstaff Gardens - Peel St - West Melbourne,60048,6,5,28/01/2016 12:30:06 PM +0000,"(-37.809216, 144.955223)"

53,Victoria Market - Elizabeth St / Victoria St - City,60049,15,10,28/01/2016 12:30:06 PM +0000,"(-37.806091, 144.959017)"

55,Coventry St / Clarendon St - South Melbourne,60050,7,4,28/01/2016 12:30:06 PM +0000,"(-37.831776, 144.960818)"

57,Fitzroy Street - St Kilda,60052,19,12,28/01/2016 12:30:06 PM +0000,"(-37.858655, 144.978818)"

### 1.1 Import CSV data using pandas

Importing CSV files with Pandas <a href='http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html'><font color = "blue">read_csv()</font></a> function and converting the data into a form Python can understand 
is simple. 
It only takes a couple of lines of code.
The imported data will be stored in Pandas DataFrame.

In [3]:
import pandas as pd
csvdf = pd.read_csv("data/Melbourne_bike_share.csv")
type(csvdf)

pandas.core.frame.DataFrame

Or you can use the <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html"><font color='blue'>read_table()</font></a> function

In [4]:
csvdf_1 = pd.read_table("data/Melbourne_bike_share.csv", sep=",")
type(csvdf_1)

pandas.core.frame.DataFrame

you can use 
* <font color='blue'>csvdf.head(n = 5)</font>: It will return first `n` rows in a DataFrame, n = 5 by default.
* <font color='blue'>csvdf[:5]</font>: It uses the slicing method to retrieve the first 5 rows

Refer to "[Indexing and Selecting Data](http://pandas.pydata.org/pandas-docs/stable/indexing.html)"
for how to slice, dice, and generally get and set subsets of pandas objects.
Here, we use the `head` function.

In [5]:
csvdf.head()
#csvdf.loc[:4]
#csvdf[:5]

,ID,Featurename,TerminalName,NBBikes,NBEmptydoc,UploadDate,Coordinates
0,2,Harbour Town - Docklands Dve - Docklands,60000,9,14,28/01/2016 12:30:05 PM +0000,"(-37.814022, 144.939521)"
1,4,Federation Square - Flinders St / Swanston St ...,60001,12,10,28/01/2016 12:30:05 PM +0000,"(-37.817523, 144.967814)"
2,5,Plum Garland Reserve - Beaconsfield Pde - Albe...,60002,16,1,28/01/2016 12:30:05 PM +0000,"(-37.84782, 144.948196)"
3,6,State Library - Swanston St / Little Lonsdale ...,60003,9,2,28/01/2016 12:30:05 PM +0000,"(-37.810702, 144.964417)"
4,7,Bourke Street Mall - 205 Bourke St - City,60004,9,2,28/01/2016 12:30:05 PM +0000,"(-37.813088, 144.967437)"

In [6]:
# the last 5 rows of the data
csvdf.tail()

,ID,Featurename,TerminalName,NBBikes,NBEmptydoc,UploadDate,Coordinates
45,51,ANZ - Collins St - Docklands,60044,9,10,28/01/2016 12:30:06 PM +0000,"(-37.821568, 144.944488)"
46,52,Flagstaff Gardens - Peel St - West Melbourne,60048,6,5,28/01/2016 12:30:06 PM +0000,"(-37.809216, 144.955223)"
47,53,Victoria Market - Elizabeth St / Victoria St -...,60049,15,10,28/01/2016 12:30:06 PM +0000,"(-37.806091, 144.959017)"
48,55,Coventry St / Clarendon St - South Melbourne,60050,7,4,28/01/2016 12:30:06 PM +0000,"(-37.831776, 144.960818)"
49,57,Fitzroy Street - St Kilda,60052,19,12,28/01/2016 12:30:06 PM +0000,"(-37.858655, 144.978818)"

Currently, the row indices are integers automatically generated by Pandas.
Suppose you want to set IDs as row indices and delete the ID column.
Resetting the row indices can be easily done with the following DataFrame function
```python
    DataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)
```
See its [API webpage](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html) 
for the detailed usage.
The keys are going to be the IDs in the first column. 
By setting `inplace = True`, the corresponding change is done inplace and won't return a new DataFrame object.

In [7]:
csvdf.set_index(csvdf.ID, inplace = True)
csvdf.head()

,ID,Featurename,TerminalName,NBBikes,NBEmptydoc,UploadDate,Coordinates
ID,,,,,,,
2,2,Harbour Town - Docklands Dve - Docklands,60000,9,14,28/01/2016 12:30:05 PM +0000,"(-37.814022, 144.939521)"
4,4,Federation Square - Flinders St / Swanston St ...,60001,12,10,28/01/2016 12:30:05 PM +0000,"(-37.817523, 144.967814)"
5,5,Plum Garland Reserve - Beaconsfield Pde - Albe...,60002,16,1,28/01/2016 12:30:05 PM +0000,"(-37.84782, 144.948196)"
6,6,State Library - Swanston St / Little Lonsdale ...,60003,9,2,28/01/2016 12:30:05 PM +0000,"(-37.810702, 144.964417)"
7,7,Bourke Street Mall - 205 Bourke St - City,60004,9,2,28/01/2016 12:30:05 PM +0000,"(-37.813088, 144.967437)"

To remove the ID column that is now redundant, you use DataFrame `drop` function and set `inplace = True`
```python
    DataFrame.drop(labels, axis=0, level=None, inplace=False, errors='raise')
```

In [8]:
csvdf.drop('ID', 1, inplace = True)

csvdf.head()

/var/folders/4n/y3z900hx7yj7qq3g3q2t8y7m0000gn/T/ipykernel_76629/160776694.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  csvdf.drop('ID', 1, inplace = True)

,Featurename,TerminalName,NBBikes,NBEmptydoc,UploadDate,Coordinates
ID,,,,,,
2,Harbour Town - Docklands Dve - Docklands,60000,9,14,28/01/2016 12:30:05 PM +0000,"(-37.814022, 144.939521)"
4,Federation Square - Flinders St / Swanston St ...,60001,12,10,28/01/2016 12:30:05 PM +0000,"(-37.817523, 144.967814)"
5,Plum Garland Reserve - Beaconsfield Pde - Albe...,60002,16,1,28/01/2016 12:30:05 PM +0000,"(-37.84782, 144.948196)"
6,State Library - Swanston St / Little Lonsdale ...,60003,9,2,28/01/2016 12:30:05 PM +0000,"(-37.810702, 144.964417)"
7,Bourke Street Mall - 205 Bourke St - City,60004,9,2,28/01/2016 12:30:05 PM +0000,"(-37.813088, 144.967437)"

Instead of using the above method of setting row indices to IDs, you can specify which column to 
be used as row indices while reading the CSV file. See the API reference page for
[pandas.read_csv](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html).
To do so, you can use the <font color='blue'>index_col</font> argument of <font color='blue'>read_csv()</font>.

In [9]:
csvdf = pd.read_csv("data/Melbourne_bike_share.csv", index_col = "ID")
csvdf.head()

,Featurename,TerminalName,NBBikes,NBEmptydoc,UploadDate,Coordinates
ID,,,,,,
2,Harbour Town - Docklands Dve - Docklands,60000,9,14,28/01/2016 12:30:05 PM +0000,"(-37.814022, 144.939521)"
4,Federation Square - Flinders St / Swanston St ...,60001,12,10,28/01/2016 12:30:05 PM +0000,"(-37.817523, 144.967814)"
5,Plum Garland Reserve - Beaconsfield Pde - Albe...,60002,16,1,28/01/2016 12:30:05 PM +0000,"(-37.84782, 144.948196)"
6,State Library - Swanston St / Little Lonsdale ...,60003,9,2,28/01/2016 12:30:05 PM +0000,"(-37.810702, 144.964417)"
7,Bourke Street Mall - 205 Bourke St - City,60004,9,2,28/01/2016 12:30:05 PM +0000,"(-37.813088, 144.967437)"

Similarly, with the <font color='blue'>read_table()</font> function, you can also set the value of <font color='blue'> index_col</font> to "ID".

### 1.2. Manipulating the Data

So far, you have learned a little bit about the Melbourne_bike_share data.
Let's further process the data by splitting the coordinates into latitude and longitude.
First figure out what type of data we're dealing with, i.e., the data type of the "Coordinates" column.

In [10]:
type(csvdf['Coordinates']) 
# type(csvdf.Coordinates)

pandas.core.series.Series

The data type of this column is Pandas Series, i.e., 
a one-dimensional labeled array capable of holding any data type.
Next, in order to split the coordinates, you should know the data type of those coordinates. Are they strings?
Let's check them by printing the first element in the Series and its type.

In [11]:
print (csvdf['Coordinates'].iloc[0])
type(csvdf['Coordinates'].iloc[0])

(-37.814022, 144.939521)

str

Those coordinates are indeed strings. Thus, to extract both latitude and longitude, you can either use regular expressions introduced in the previous chapter or common string operations.

To use regular expressions, the key is figuring out the patterns of characters. Then according to those patterns, you formulate your regular expressions.

Looking at the first couple of coordinates in the Series object, i.e.:

```
    (-37.814022, 144.939521)
    (-37.817523, 144.967814)
    (-37.84782, 144.948196)
```

You will find that latitudes are always negative real values, and longitudes are positive real values.

That is because Australia lies between latitudes 9Â° and 44Â°S, and longitudes 112Â° and 154Â°E.

The regular expression is

```
    r"-?\d+\.?\d*"
```

![](image/parse_csv_regex.jpg)

It contains four parts

- "-?": optionally matches a single '-'.

- "\d+": matches one or more digits.

- "\\.?": optionally matches a single dot.
- "\d*": matches zero or more digits.

The following code extracts all real values matching this regular expression. The <font color="blue">re.findall()</font> returns all matched values in a Python list.

In [12]:
import re
str1 = csvdf['Coordinates'].iloc[0] # csvdf.Coordinates
re.findall(r"-?\d+\.?\d*", str1)

['-37.814022', '144.939521']

Using common string operations might be simpler than using regular expressions. 
<font color="blue">str.split()</font> is the function used here to extract both latitudes and longitudes.
However, you should choose a proper delimiter to split a string.
First, split the string by ',':

In [13]:
s = csvdf['Coordinates'].iloc[1].split(', ') # assuming they're all '(x, y)'
print ('lat = ', s[0], ' long = ', s[1])

lat =  (-37.817523  long =  144.967814)

The printout shows that the latitude contains '(', and the longitude contains ')'.
You should consider removing both the left and the right parentheses. 
Of course, the `split` function can be used again. 
Note that the goal here is to remove the leading and trailing parentheses.
Python string class provides two functions to do the two operations,
which are:
* <font color="blue">string.lstrip()</font>: returns a copy of the string with leading characters removed
* <font color="blue">string.rstrip()</font>: returns a copy of the string with trailing characters removed.

Let's try the two functions.

In [14]:
print (s[0].lstrip('('))
print (s[1].rstrip(')'))

-37.817523
144.967814

The latitude and longitude in the first coordinate have been successfully extracted.
Next, we are going to apply the extracting process to every coordinate in the DataFrame.
There are multiple ways of doing that. 
The most straightforward way is to write a FOR loop to iterate over all the coordinates,
and apply the above scripts to each individual coordinate. 
Two Pandas Series can be then used to store latitudes and longitudes.
However, we are going to show you how to use some advanced Python programming functionality.

Pandas Series class implements an [`apply()`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html) method that applies a given function
to all values in a Series object, and returns a new one.
Please note that this function can only works on single values. 
To apply <font color="blue">str.split()</font> to every coordinate and
get latitudes and longitudes, you can use the following two lines of code:

In [15]:
csvdf['lat'] = csvdf['Coordinates'].apply(lambda x: x.split(', ')[0])
csvdf['lon'] = csvdf['Coordinates'].apply(lambda x: x.split(', ')[1])
csvdf.head()

,Featurename,TerminalName,NBBikes,NBEmptydoc,UploadDate,Coordinates,lat,lon
ID,,,,,,,,
2,Harbour Town - Docklands Dve - Docklands,60000,9,14,28/01/2016 12:30:05 PM +0000,"(-37.814022, 144.939521)",(-37.814022,144.939521)
4,Federation Square - Flinders St / Swanston St ...,60001,12,10,28/01/2016 12:30:05 PM +0000,"(-37.817523, 144.967814)",(-37.817523,144.967814)
5,Plum Garland Reserve - Beaconsfield Pde - Albe...,60002,16,1,28/01/2016 12:30:05 PM +0000,"(-37.84782, 144.948196)",(-37.84782,144.948196)
6,State Library - Swanston St / Little Lonsdale ...,60003,9,2,28/01/2016 12:30:05 PM +0000,"(-37.810702, 144.964417)",(-37.810702,144.964417)
7,Bourke Street Mall - 205 Bourke St - City,60004,9,2,28/01/2016 12:30:05 PM +0000,"(-37.813088, 144.967437)",(-37.813088,144.967437)

The first line extracts all the latitudes and store them in a column in our DataFrame.
The second line extracts all the longitudes.
You might wonder what "lambda" is in the code. 
It is a Python keyword used to construct small anonymous functions at runtime. (See [Section 4.7.5. Lambda Expressions](https://docs.python.org/2/tutorial/controlflow.html) ðŸ“– )
You can use a similar approach to remove the heading and trailing parentheses.

In [16]:
csvdf['lat'] = csvdf['lat'].apply(lambda x: x.lstrip('('))
csvdf['lon'] = csvdf['lon'].apply(lambda x: x.rstrip(')'))
csvdf.drop('Coordinates', 1, inplace = True)
csvdf.head()

/var/folders/4n/y3z900hx7yj7qq3g3q2t8y7m0000gn/T/ipykernel_76629/2252879611.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  csvdf.drop('Coordinates', 1, inplace = True)

,Featurename,TerminalName,NBBikes,NBEmptydoc,UploadDate,lat,lon
ID,,,,,,,
2,Harbour Town - Docklands Dve - Docklands,60000,9,14,28/01/2016 12:30:05 PM +0000,-37.814022,144.939521
4,Federation Square - Flinders St / Swanston St ...,60001,12,10,28/01/2016 12:30:05 PM +0000,-37.817523,144.967814
5,Plum Garland Reserve - Beaconsfield Pde - Albe...,60002,16,1,28/01/2016 12:30:05 PM +0000,-37.84782,144.948196
6,State Library - Swanston St / Little Lonsdale ...,60003,9,2,28/01/2016 12:30:05 PM +0000,-37.810702,144.964417
7,Bourke Street Mall - 205 Bourke St - City,60004,9,2,28/01/2016 12:30:05 PM +0000,-37.813088,144.967437

So far, we have split the "Coordinates" column into two columns, i.e., "lat" and 'lon' in the DataFrame, and dumped the "Coordinates" column. The last step is to infer better type for object columns. All the numerical values and dates are encoded as strings in the current DataFrame. We would like to convert those values to types that they are supposed to have.

In [17]:
csvdf.dtypes

Featurename     object
TerminalName     int64
NBBikes          int64
NBEmptydoc       int64
UploadDate      object
lat             object
lon             object
dtype: object

In [18]:
csvdf = csvdf.apply(pd.to_numeric, errors='ignore')
csvdf.dtypes

Featurename      object
TerminalName      int64
NBBikes           int64
NBEmptydoc        int64
UploadDate       object
lat             float64
lon             float64
dtype: object

However, dates are still strings, which means the `convert_object` function cannot convert data strings to datatime
object.
Here you need to force them to be converted to datatime object with [`pd.to_datetime`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html).

In [19]:
csvdf['UploadDate'] = pd.to_datetime(csvdf['UploadDate'])
print (csvdf.dtypes)
csvdf.head()

Featurename                  object
TerminalName                  int64
NBBikes                       int64
NBEmptydoc                    int64
UploadDate      datetime64[ns, UTC]
lat                         float64
lon                         float64
dtype: object

,Featurename,TerminalName,NBBikes,NBEmptydoc,UploadDate,lat,lon
ID,,,,,,,
2,Harbour Town - Docklands Dve - Docklands,60000,9,14,2016-01-28 12:30:05+00:00,-37.814022,144.939521
4,Federation Square - Flinders St / Swanston St ...,60001,12,10,2016-01-28 12:30:05+00:00,-37.817523,144.967814
5,Plum Garland Reserve - Beaconsfield Pde - Albe...,60002,16,1,2016-01-28 12:30:05+00:00,-37.847820,144.948196
6,State Library - Swanston St / Little Lonsdale ...,60003,9,2,2016-01-28 12:30:05+00:00,-37.810702,144.964417
7,Bourke Street Mall - 205 Bourke St - City,60004,9,2,2016-01-28 12:30:05+00:00,-37.813088,144.967437

Finally, you have loaded the given CSV file into Python with Pandas. 
You have also tidied the data a bit by getting latitudes and longitudes out
from the strings.

Besides `read_csv`, there are other parsing functions in pandas for 
reading tabular data as a DataFrame object. They include
* [`read_table`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html): Reads general delimited file into DataFrame. The default delimiter is '\t'.
* [`read_fwf`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_fwf.html): Reads a table of fixed-width formatted lines into DataFrame.
* [`read_clipboard`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_clipboard.html): Reads text from clipboard and passes to read_table. See read_table for the full argument list.
* * *

## Part 2: JSON File

JSON (JavaScript Object Notation) is one of the most commonly used formats 
for transferring data between web services and other applications via HTTP requests.
Nowadays, many sites have JSON-enabled APIs and 
JSON is quickly becoming the encoding protocol of choice.
As a light weighted data-interchange format inspired by JavaScript, 
it is clean, easy to read, and easy to parse.
Here is a simple example adapted from [Wikipedia page on JSON](https://en.wikipedia.org/wiki/JSON)
```
[
{
  "firstName": "John",
  "lastName": "Smith",
  "age": 25,
  "address": {
    "streetAddress": "21 2nd Street",
    "city": "New York",
    "state": "NY",
    "postalCode": "10021"
   }
}
]

```

From the above example, you will see that each data record looks like a [Python dictionary](https://docs.python.org/2/tutorial/datastructures.html#dictionaries). 
A JSON file usually contains a list of dictionaries, which is defined by '[' and ']'.
In each of those dictionaries,
there is a key-value pair for each row and the key and value are separated by a colon.
Different key-value pairs are separated by commas.
Note that a value can also be a dictionary, see "address" in the example.
The basic types are object, array, value, string and number.
If you would like to know more about JSON, please refer to 
* [Introducing to JSON](http://www.json.org/): the JSON org website gives a very good diagrammatic explanation 
of JSON ðŸ“–.
* [Introduction to JSON](https://www.youtube.com/watch?v=WWa0cg_xMC8): a 15-minutes Youtube video on JSON, recommended for visual learners.

(Of course, you can also go and find your own materials on JSON by searching the Internet.)

In the rest of this section, we will start from an simple example, walking through steps of acquiring JSON Data from Google Maps Elevation API and normalizing those data into a flat table. Then, we revisit the dataset mentioned in the previous section (except that it is now in JSON format), parsing the data and store them in a Pandas DataFrame object.
Before we start, it might be good for you to view one of the following tutorials on parsing JSON files:
* [Working with JSON data](http://wwwlyndacom.ezproxy.lib.monash.edu.au/Python-tutorials/Working-JSON-data/122467/142575-4.html): A Lynda tutorial on parsing JSON data. You need a Monash account to access this website.
[here](http://resources.lib.monash.edu.au/eresources/lynda-guide.pdf) is the lynda settup guide.
* A [Youtube video](https://www.youtube.com/watch?v=9Xt2e9x4xwQ ) on extracting data from JSON files (**optional**).

### 2.1 Acquiring JSON Data From The Internet
This section will start with showing you how to acquire a small chunk of JSON data
from Internet via HTTP requests and load it into Python with `json` library. 
The example we used is inspired by the question asked in [Stack Overflow](http://stackoverflow.com/questions/21104592/json-to-pandas-dataframe).
In the example, the goal is to extract elevation data from a 
[Google Maps Elevation API](https://developers.google.com/maps/web-services/overview) along
a path specified by latitude and longitude, and convert the JSON data
into a Pandas DataFrame object, which could look similar to (but the actual values might vary!)

||elevation|location.lat|location.lng|resolution|
|------|------|------|------|------|
|0|243.346268|42.974049|-81.205203|19.087904|
|1|244.131866|42.974298|-81.195755|19.087904|


The first step is to make a HTTP request to get the data from the Google Maps API.
Here we are going to use [`urllib2`](https://docs.python.org/2/library/urllib2.html) library.
It defines a set of functions and classes that help in opening URLs.

In order to run the following code, please following the instruction on https://developers.google.com/maps/documentation/elevation/start
to request a API key.

In [20]:
locations = "42.974049,-81.205203|42.974298,-81.195755"
try:
    from urllib2 import Request, urlopen # for python 2
except ImportError:
    from urllib.request import urlopen, Request # for python 3

api_key = "#######" #use your own API key here
request = Request("https://maps.googleapis.com/maps/api/elevation/json?locations="+locations+"&key="+api_key)

response = urlopen(request)
elevations = response.read()
elevations.splitlines()

[b'{',
 b'   "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",',
 b'   "results" : [],',
 b'   "status" : "REQUEST_DENIED"',
 b'}']

In the above code, we have:
1. Imports Request class and the <font color="blue">urlopen() </font> function from `urllibs` module.
2. Defines a path with the coordinates of the start and end points
3. Creates a URL Request object. Note that you can change the output format by replacing '/json' with '/xml'.
4. Opens the URL, and returns a file-like object.
5. Reads data returned from the HTTP request.

The returned data is actually stored in a string. 
You can check it out using Python's built-in function `type`, 
```python
    type(elevations)
```
What does the data look like?
In stead of printing the data in one single string, one can use
```python
    elevations.splitlines()
```
to print the data as a list of lines in the string, breaking
at line boundaries, i.e., '\n'. 
The printout you get should look like
```
['{',
 '   "results" : [',
 '      {',
 '         "elevation" : 243.3462677001953,',
 '         "location" : {',
 '            "lat" : 42.974049,',
 '            "lng" : -81.205203',
 '         },',
 '         "resolution" : 19.08790397644043',
 '      },',
 '      {',
 '         "elevation" : 244.1318664550781,',
 '         "location" : {',
 '            "lat" : 42.974298,',
 '            "lng" : -81.19575500000001',
 '         },',
 '         "resolution" : 19.08790397644043',
 '      }',
 '   ],',
 '   "status" : "OK"',
 '}']
```
It is easy to dump the data into a JSON file, which just takes three lines of code:
```python
    import json
    with open("elevations.json", "w") as outfile:
         json.dump(elevations, outfile)
```

To read the acquired JSON data, you can use the `json` module as follows:

In [21]:
import json
data = json.loads(elevations)
print (type(data))
data

<class 'dict'>

{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account',
 'results': [],
 'status': 'REQUEST_DENIED'}

It loads the data into a Python dictionary.
The data we want is stored in the first entry.
The value of this entry is a list of two dictionaries, each of which corresponds to a record.
see [JSON encoder and decoder](https://docs.python.org/2/library/json.html) for more on reading
JSON files.

As mentioned earlier in this section, 
we will convert the JSON data into Pandas DataFrame.
Therefore, Pandas functions on reading JSON are to be used.
If you would like to know about those functions, you can read Pandas tutorial on [Reading JSON](http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader) (**optional**).
Let's first try the <font color="blue">read_json()</font> function.

In [22]:
df = pd.read_json(elevations)
df

Empty DataFrame
Columns: [error_message, results, status]
Index: []

Unfortunately, the DataFrame returned by `read_json` is not the one we want.
You might wonder why the `read_json` function did not return the DataFrame we want.
There is a straight forward answer.
Let's try to build a DataFrame from `data` returned by 
```
    data = json.loads(elevations)
```
What do you get?

In [23]:
pd.DataFrame(data)

Empty DataFrame
Columns: [error_message, results, status]
Index: []

You have got a DataFrame that is exactly the same as the one returned by `read_json`.
This is due to Pandas' way of constructing a DataFrame from a dictionary. 
See [Intro to Data Structures](http://pandas.pydata.org/pandas-docs/stable/dsintro.html)
for constructing a DataFrame from a dictionary
and "Object Creation" in [10 Mintues to Pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html) ðŸ“–.
It is not hard to figure out that dictionary keys 
are used as column 
labels, and values of whatever data types are put as column values.

What we want is to flatten out JSON object into a flat table.
Fortunately, Pandas provides a JSON normalization function [(<font color="blue">json_normalize()</font>)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.io.json.json_normalize.html)
that takes a dict or list of dicts and normalize semi-structured data into a flat table.

In [24]:
#from pandas.io.json import json_normalize
from pandas import json_normalize

json_normalize(data['results'])

Empty DataFrame
Columns: []
Index: []

Eventually, the <font color="blue">json_normalize()</font> function returns the DataFrame we want.
However flattening objects with embedded arrays/lists is not as trivial.
See [Flattening JSON objects in Python](https://gist.github.com/amirziai/2808d06f59a38138fa2d)
for more information.

### 2.2. Parsing the "Melbourne_bike_share.json"  File
Now that you have learned how to use `json` module and Pandas together to parse a simple JSON file.
In this section we will walk you through the process of extracting bike hub station statistical data from "Melbourne_bike_share.json". Then produce the same DataFrame as the one in Section 1.

Remember that the first step is always to glance through the JSON file with your favorite editor.
Below is the first 20 lines from our JSON file.

![](image/parse_json.png)

This JSON file is much more complex that the one used in the previous section
It might take a bit of time to figure out that this file is a dictionary of 
two large dictionaries, one with key "meta", and another with "data".
The "meta" dictionary contains all the meta information, including column names.
The "data" dictionary actually contains the data we want.
In the following subsection, we will show you how to extract records from the "data"
dictionary, while leaving the task of extracting column labels from the "meta" dictionary as an exercise.
Similarly, our JSON data can be read into Python as follows.

In [25]:
import json
from pandas import json_normalize

with open("data/Melbourne_bike_share.json") as json_file:
    json_data = json.load(json_file)
print (type(json_data))
json_data['meta']['view']

<class 'dict'>

{'id': 'tdvh-n9dv',
 'name': 'Melbourne bike share',
 'attribution': 'City of Melbourne, Australia',
 'averageRating': 0,
 'category': 'Transport & Movement',
 'createdAt': 1428898164,
 'description': 'Melbourne Bike Share is a joint RACV/Victorian Government bicycle hire scheme. This dataset contains the locations of all of the bike share pods, the amount of bikes located at each pod and the number of empty slots at the pod.',
 'displayType': 'table',
 'downloadCount': 1314,
 'indexUpdatedAt': 1453946128,
 'licenseId': 'CC_30_BY_AUS',
 'newBackend': False,
 'numberOfComments': 0,
 'oid': 11003321,
 'publicationAppendEnabled': True,
 'publicationDate': 1429672791,
 'publicationGroup': 2657856,
 'publicationStage': 'published',
 'rowClass': '',
 'rowIdentifierColumnId': 200082496,
 'rowsUpdatedAt': 1453945520,
 'rowsUpdatedBy': 'xaa8-tsya',
 'state': 'normal',
 'tableId': 2706226,
 'totalTimesRated': 0,
 'viewCount': 1426,
 'viewLastModified': 1453945510,
 'viewType': 'tabular',
 'columns': [{'id': -1,
   'name': 'sid',
   'dataTypeName': 'meta_data',
   'fieldName': ':sid',
   'position': 0,
   'renderTypeName': 'meta_data',
   'format': {}},
  {'id': -1,
   'name': 'id',
   'dataTypeName': 'meta_data',
   'fieldName': ':id',
   'position': 0,
   'renderTypeName': 'meta_data',
   'format': {}},
  {'id': -1,
   'name': 'position',
   'dataTypeName': 'meta_data',
   'fieldName': ':position',
   'position': 0,
   'renderTypeName': 'meta_data',
   'format': {}},
  {'id': -1,
   'name': 'created_at',
   'dataTypeName': 'meta_data',
   'fieldName': ':created_at',
   'position': 0,
   'renderTypeName': 'meta_data',
   'format': {}},
  {'id': -1,
   'name': 'created_meta',
   'dataTypeName': 'meta_data',
   'fieldName': ':created_meta',
   'position': 0,
   'renderTypeName': 'meta_data',
   'format': {}},
  {'id': -1,
   'name': 'updated_at',
   'dataTypeName': 'meta_data',
   'fieldName': ':updated_at',
   'position': 0,
   'renderTypeName': 'meta_data',
   'format': {}},
  {'id': -1,
   'name': 'updated_meta',
   'dataTypeName': 'meta_data',
   'fieldName': ':updated_meta',
   'position': 0,
   'renderTypeName': 'meta_data',
   'format': {}},
  {'id': -1,
   'name': 'meta',
   'dataTypeName': 'meta_data',
   'fieldName': ':meta',
   'position': 0,
   'renderTypeName': 'meta_data',
   'format': {}},
  {'id': 200082496,
   'name': 'ID',
   'dataTypeName': 'number',
   'fieldName': 'id',
   'position': 1,
   'renderTypeName': 'number',
   'tableColumnId': 27624912,
   'width': 124,
   'cachedContents': {'non_null': 50,
    'smallest': '2',
    'sum': '1493',
    'null': 0,
    'average': '29.86',
    'largest': '57',
    'top': [{'count': 20, 'item': '47'},
     {'count': 19, 'item': '48'},
     {'count': 18, 'item': '49'},
     {'count': 17, 'item': '50'},
     {'count': 16, 'item': '51'},
     {'count': 15, 'item': '52'},
     {'count': 14, 'item': '53'},
     {'count': 13, 'item': '55'},
     {'count': 12, 'item': '57'}]},
   'format': {}},
  {'id': 200082497,
   'name': 'Featurename',
   'dataTypeName': 'text',
   'fieldName': 'featurename',
   'position': 2,
   'renderTypeName': 'text',
   'tableColumnId': 27624913,
   'width': 232,
   'cachedContents': {'non_null': 50,
    'smallest': '205 Bourke St  near Russell St',
    'null': 0,
    'largest': 'York St / Cecil St',
    'top': [{'count': 20, 'item': 'VCAM - St Kilda Rd / Southbank Blvd'},
     {'count': 19, 'item': 'Museum - Rathdowne St'},
     {'count': 18, 'item': 'Jolimont Station - Wellington Parade South'},
     {'count': 17, 'item': 'ACCA (Australian Centre of Contemporary Art)'},
     {'count': 16, 'item': 'Docklands - Collins St (ANZ)'},
     {'count': 15, 'item': 'William St / Peel St (Flagstaff Gardens)'},
     {'count': 14,
      'item': 'Victoria Market - Elizabeth St / Victoria St (NW)'},
     {'count': 13, 'item': 'Coventry St / Clarendon St'},
     {'count': 12, 'item': 'St Kilda - Fitzroy Street'}]},
   'format': {}},
  {'id': 200082498,
   'name': 'TerminalName',
   'dataTypeName': 'text',
   'fieldName': 'terminalname',
   'position': 3,
   'renderTypeName': 'text',
   'tableColumnId': 27624914,
   'width': 244,
   'cachedContents': {'non_null': 50,
    'smallest': '60000',
    'null': 0,
    'largest': '60052',
    'top': [{'count': 20, 'item': '60040'},
     {'count': 19, 'item': '60041'},
     {'count': 18, 'item': '60042'},
     {'count': 17, 'item': '60043'},
     {'count': 16, 'item': '60044'},
     {'count': 15, 'item': '60048'},
     {'count': 14, 'item': '60049'},
     {'count': 13, 'item': '60050'},
     {'count': 12, 'item': '60052'}]},
   'format': {}},
  {'id': 200082499,
   'name': 'NBBikes',
   'dataTypeName': 'number',
   'fieldName': 'nbbikes',
   'position': 4,
   'renderTypeName': 'number',
   'tableColumnId': 27624915,
   'width': 184,
   'cachedContents': {'non_null': 50,
    'smallest': '0',
    'sum': '507',
    'null': 0,
    'average': '10.14',
    'largest': '29',
    'top': [{'count': 20, 'item': '16'},
     {'count': 19, 'item': '14'},
     {'count': 18, 'item': '9'},
     {'count': 17, 'item': '7'},
     {'count': 16, 'item': '17'},
     {'count': 15, 'item': '6'},
     {'count': 14, 'item': '1'},
     {'count': 13, 'item': '4'},
     {'count': 12, 'item': '11'},
     {'count': 11, 'item': '15'},
     {'count': 10, 'item': '10'},
     {'count': 9, 'item': '8'},
     {'count': 8, 'item': '18'},
     {'count': 7, 'item': '29'},
     {'count': 6, 'item': '24'},
     {'count': 5, 'item': '13'},
     {'count': 4, 'item': '22'},
     {'count': 3, 'item': '3'},
     {'count': 2, 'item': '0'},
     {'count': 1, 'item': '12'}]},
   'format': {}},
  {'id': 200082500,
   'name': 'NBEmptydoc',
   'dataTypeName': 'number',
   'fieldName': 'nbemptydoc',
   'position': 5,
   'renderTypeName': 'number',
   'tableColumnId': 27624916,
   'width': 220,
   'cachedContents': {'non_null': 50,
    'smallest': '0',
    'sum': '383',
    'null': 0,
    'average': '7.66',
    'largest': '26',
    'top': [{'count': 20, 'item': '6'},
     {'count': 19, 'item': '12'},
     {'count': 18, 'item': '5'},
     {'count': 17, 'item': '2'},
     {'count': 16, 'item': '4'},
     {'count': 15, 'item': '9'},
     {'count': 14, 'item': '11'},
     {'count': 13, 'item': '0'},
     {'count': 12, 'item': '18'},
     {'count': 11, 'item': '7'},
     {'count': 10, 'item': '8'},
     {'count': 9, 'item': '3'},
     {'count': 8, 'item': '22'},
     {'count': 7, 'item': '20'},
     {'count': 6, 'item': '26'},
     {'count': 5, 'item': '10'},
     {'count': 4, 'item': '13'},
     {'count': 3, 'item': '16'}]},
   'format': {}},
  {'id': 200083809,
   'name': 'UploadDate',
   'dataTypeName': 'date',
   'fieldName': 'uploaddate',
   'position': 6,
   'renderTypeName': 'date',
   'tableColumnId': 27624917,
   'width': 220,
   'cachedContents': {'non_null': 50,
    'smallest': 1446210006,
    'null': 0,
    'largest': 1446706808,
    'top': [{'count': 20, 'item': 1446706807},
     {'count': 19, 'item': 1446210006},
     {'count': 18, 'item': 1446706808}]},
   'format': {'view': 'date_dmy_time', 'align': 'left'}},
  {'id': 200082502,
   'name': 'Coordinates',
   'dataTypeName': 'location',
   'fieldName': 'coordinates',
   'position': 7,
   'renderTypeName': 'location',
   'tableColumnId': 27624918,
   'width': 186,
   'cachedContents': {'non_null': 50,
    'smallest': {'longitude': '144.939521',
     'latitude': '-37.814022',
     'human_address': '{"address":"","city":"","state":"","zip":""}'},
    'null': 0,
    'largest': {'longitude': '144.939521',
     'latitude': '-37.814022',
     'human_address': '{"address":"","city":"","state":"","zip":""}'},
    'top': [{'count': 20,
      'item': {'longitude': '144.970085',
       'latitude': '-37.824088',
       'human_address': '{"address":"","city":"","state":"","zip":""}'}},
     {'count': 19,
      'item': {'longitude': '144.969609',
       'latitude': '-37.803868',
       'human_address': '{"address":"","city":"","state":"","zip":""}'}},
     {'count': 18,
      'item': {'longitude': '144.982006',
       'latitude': '-37.816731',
       'human_address': '{"address":"","city":"","state":"","zip":""}'}},
     {'count': 17,
      'item': {'longitude': '144.966542',
       'latitude': '-37.826578',
       'human_address': '{"address":"","city":"","state":"","zip":""}'}},
     {'count': 16,
      'item': {'longitude': '144.944488',
       'latitude': '-37.821568',
       'human_address': '{"address":"","city":"","state":"","zip":""}'}},
     {'count': 15,
      'item': {'longitude': '144.955223',
       'latitude': '-37.809216',
       'human_address': '{"address":"","city":"","state":"","zip":""}'}},
     {'count': 14,
      'item': {'longitude': '144.959017',
       'latitude': '-37.806091',
       'human_address': '{"address":"","city":"","state":"","zip":""}'}},
     {'count': 13,
      'item': {'longitude': '144.960818',
       'latitude': '-37.831776',
       'human_address': '{"address":"","city":"","state":"","zip":""}'}},
     {'count': 12,
      'item': {'longitude': '144.978818',
       'latitude': '-37.858655',
       'human_address': '{"address":"","city":"","state":"","zip":""}'}}]},
   'format': {'view': 'coords', 'align': 'left'},
   'subColumnTypes': ['human_address',
    'latitude',
    'longitude',
    'machine_address',
    'needs_recoding']}],
 'grants': [{'inherited': False, 'type': 'viewer', 'flags': ['public']}],
 'license': {'name': 'Creative Commons Attribution 3.0 Australia',
  'logoUrl': 'images/licenses/cc30by.png',
  'termsLink': 'http://creativecommons.org/licenses/by/3.0/au/deed.en'},
 'metadata': {'custom_fields': {'Melbourne Metadata': {'Original upload date': '13/04/2015',
    'Spatial dataset': 'Yes',
    'Last Updated': '13/04/2015',
    'Version number': '1.10.010',
    'Data Completeness statement: Has the full dataset been included, or has a subset been excluded? Why?': 'All data has been included',
    'Update Frequency': 'Every 15 minutes',
    'Data Quality': '5 Star'}},
  'renderTypeConfig': {'visible': {'table': True}},
  'rowLabel': 'Row',
  'availableDisplayTypes': ['table', 'fatrow', 'page'],
  'rdfSubject': '0',
  'rowIdentifier': '200082496',
  'rdfClass': ''},
 'owner': {'id': 'xcv7-86fp',
  'displayName': 'City of Melbourne',
  'profileImageUrlLarge': '/api/users/xcv7-86fp/profile_images/LARGE',
  'profileImageUrlMedium': '/api/users/xcv7-86fp/profile_images/THUMB',
  'profileImageUrlSmall': '/api/users/xcv7-86fp/profile_images/TINY',
  'roleName': 'administrator',
  'screenName': 'City of Melbourne',
  'rights': ['create_datasets',
   'edit_others_datasets',
   'edit_sdp',
   'edit_site_theme',
   'moderate_comments',
   'manage_users',
   'chown_datasets',
   'edit_nominations',
   'approve_nominations',
   'feature_items',
   'federations',
   'manage_stories',
   'manage_approval',
   'change_configurations',
   'view_domain',
   'view_others_datasets',
   'edit_pages',
   'create_pages',
   'view_goals',
   'view_dashboards',
   'edit_goals',
   'edit_dashboards',
   'create_dashboards',
   'manage_provenance',
   'create_story',
   'edit_story_title_desc',
   'create_story_copy',
   'delete_story',
   'manage_story_collaborators',
   'manage_story_visibility',
   'manage_story_public_version',
   'edit_story',
   'view_unpublished_story',
   'view_story']},
 'query': {},
 'rights': ['read'],
 'tableAuthor': {'id': 'xcv7-86fp',
  'displayName': 'City of Melbourne',
  'profileImageUrlLarge': '/api/users/xcv7-86fp/profile_images/LARGE',
  'profileImageUrlMedium': '/api/users/xcv7-86fp/profile_images/THUMB',
  'profileImageUrlSmall': '/api/users/xcv7-86fp/profile_images/TINY',
  'roleName': 'administrator',
  'screenName': 'City of Melbourne',
  'rights': ['create_datasets',
   'edit_others_datasets',
   'edit_sdp',
   'edit_site_theme',
   'moderate_comments',
   'manage_users',
   'chown_datasets',
   'edit_nominations',
   'approve_nominations',
   'feature_items',
   'federations',
   'manage_stories',
   'manage_approval',
   'change_configurations',
   'view_domain',
   'view_others_datasets',
   'edit_pages',
   'create_pages',
   'view_goals',
   'view_dashboards',
   'edit_goals',
   'edit_dashboards',
   'create_dashboards',
   'manage_provenance',
   'create_story',
   'edit_story_title_desc',
   'create_story_copy',
   'delete_story',
   'manage_story_collaborators',
   'manage_story_visibility',
   'manage_story_public_version',
   'edit_story',
   'view_unpublished_story',
   'view_story']},
 'tags': ['bike share', 'bike', 'bicycle', 'entrepreneur', 'eventsplanner'],
 'flags': ['default']}

The loaded JSON data has been saved in a Python dictionary with two entries, one for "data" and another for "meta".
Using `json_normalize`, you can flatten the "data" dictionary into a table and save it in a DataFrame.

In [26]:
df = json_normalize(json_data,'data')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,155,7C09387D-9E6C-4B42-9041-9A98B88F54BB,155,1428899388,880594,1453945520,880594,"{\n ""invalidCells"" : {\n ""27624917"" : ""22/...",2,Harbour Town - Docklands Dve - Docklands,60000,9,14,1453985105,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."
1,156,52739A59-E034-436B-A613-E7A5F62448C0,156,1428899388,880594,1453945520,880594,"{\n ""invalidCells"" : {\n ""27624917"" : ""22/...",4,Federation Square - Flinders St / Swanston St ...,60001,11,11,1453985105,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."
2,157,7EFB5219-2764-47CE-A497-B6D872823BBE,157,1428899388,880594,1453945520,880594,"{\n ""invalidCells"" : {\n ""27624917"" : ""22/...",5,Plum Garland Reserve - Beaconsfield Pde - Albe...,60002,16,1,1453985105,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."
3,158,4B09D743-FFEE-4185-B968-A7866E45FE0B,158,1428899388,880594,1453945520,880594,"{\n ""invalidCells"" : {\n ""27624917"" : ""22/...",6,State Library - Swanston St / Little Lonsdale ...,60003,9,2,1453985105,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."
4,159,C5493850-5714-40E2-9A67-DA443A4F64F8,159,1428899388,880594,1453945520,880594,"{\n ""invalidCells"" : {\n ""27624917"" : ""22/...",7,Bourke Street Mall - 205 Bourke St - City,60004,10,1,1453985105,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."

We seem to have a lot of extra columns. The data we want starts at column 8. Therefore, dump all the irrelevant preceding columns.

In [27]:
try:
    df.drop(xrange(8), axis=1, inplace=True) #For python 2
except:
    df.drop(range(8), axis=1, inplace=True) # For python 3

df.head()

,8,9,10,11,12,13,14
0,2,Harbour Town - Docklands Dve - Docklands,60000,9,14,1453985105,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."
1,4,Federation Square - Flinders St / Swanston St ...,60001,11,11,1453985105,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."
2,5,Plum Garland Reserve - Beaconsfield Pde - Albe...,60002,16,1,1453985105,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."
3,6,State Library - Swanston St / Little Lonsdale ...,60003,9,2,1453985105,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."
4,7,Bourke Street Mall - 205 Bourke St - City,60004,10,1,1453985105,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."

Renaming all the columns with the field names given by the CSV file. 
You can programmatically extract field names from the "meta" dictionary.
We will leave it for you to do as an exercise.
Similar to parsing CSV file, IDs are unique and can be set to row indices.

In [28]:
df.columns = ['id','featurename','terminalname','nbbikes','nbemptydoc','uploaddate','coordinates']
df.set_index(df.id, inplace= True)
df.drop('id', 1, inplace = True)
df.head()

/var/folders/4n/y3z900hx7yj7qq3g3q2t8y7m0000gn/T/ipykernel_76629/3220869368.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df.drop('id', 1, inplace = True)

,featurename,terminalname,nbbikes,nbemptydoc,uploaddate,coordinates
id,,,,,,
2,Harbour Town - Docklands Dve - Docklands,60000,9,14,1453985105,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."
4,Federation Square - Flinders St / Swanston St ...,60001,11,11,1453985105,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."
5,Plum Garland Reserve - Beaconsfield Pde - Albe...,60002,16,1,1453985105,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."
6,State Library - Swanston St / Little Lonsdale ...,60003,9,2,1453985105,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."
7,Bourke Street Mall - 205 Bourke St - City,60004,10,1,1453985105,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."

What's in the last two columns?
"uploaddate" is supposed to have a standard datetime format in the column,
and coordinates should be pairs of latitude and longitude.
Both of them should be real numbers.
At the moment, a datetime is encoded as a 64-digit integer (i.e., datetimes in milliseconds since epoch),
and a coordinate is a Python list as
```python
 [u'{"address":"","city":"","state":"","zip":""}',
 u'-37.814022',
 u'144.939521',
 None,
 False]
```
Let's first convert those integers into standard datetime.
The following Python code converts 
one of these integers into a standard datetime using Python
[`datatime`](https://docs.python.org/2/library/datetime.html) module:
```python
    import datatime
    date = datetime.datetime.fromtimestamp(df.iloc[0,4])
    print data
```
The output is 
```
    2016-01-28 23:45:05
```
Similar to the way of splitting coordinates in Section 2.1, 
one can use `pandas.Series.apply` to invoke  `datetime.datetime.fromtimestamp`
on each individual integer in the column. 
Please try this method by yourself.

Instead, we will show you a pandas specific way of converting 
timestamp values in milliseconds into standard datetime.
Here we use Pandas [`to_datetime`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
function.

In [29]:
df['uploaddate'] = pd.to_datetime(df['uploaddate'], unit='s')
df.head()

,featurename,terminalname,nbbikes,nbemptydoc,uploaddate,coordinates
id,,,,,,
2,Harbour Town - Docklands Dve - Docklands,60000,9,14,2016-01-28 12:45:05,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."
4,Federation Square - Flinders St / Swanston St ...,60001,11,11,2016-01-28 12:45:05,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."
5,Plum Garland Reserve - Beaconsfield Pde - Albe...,60002,16,1,2016-01-28 12:45:05,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."
6,State Library - Swanston St / Little Lonsdale ...,60003,9,2,2016-01-28 12:45:05,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."
7,Bourke Street Mall - 205 Bourke St - City,60004,10,1,2016-01-28 12:45:05,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},..."

Note that the unit argument must be explicitly specified. It can take values on (D,s,ms,us,ns).
Without specifying its value, `1453985105`, for example, will be converted to some strange date as
```
    Timestamp('1970-01-01 00:00:01.453985105')
```
You can compare the converted dates with those in the DataFrame constructed from our CSV file.
For example,

In [30]:
print (csvdf.iloc[0,4]) # the csv date
print (df.iloc[0,4])

2016-01-28 12:30:05+00:00
2016-01-28 12:45:05

The difference is due to that two files were downloaded one after another.
However, the time format is the same.

The last step is to extract latitudes and longitudes into two columns.
Each coordinate in the last column of the DataFrame is a Python list.
The second and the third entries are latitude and longitude respectively.
It is very easy to get the two entries into a list.
We will apply the following anonymous function to all the coordinates one after another
```python
    lambda col: col[i]
```
where i = 1 or 2. While i = 1, it returns latitudes; i = 2, it returns longitudes.

In [31]:
df['lat'] = df['coordinates'].apply(lambda col: col[1]) # arrrrgh
df['lon'] = df['coordinates'].apply(lambda col: col[2])
df.head()

,featurename,terminalname,nbbikes,nbemptydoc,uploaddate,coordinates,lat,lon
id,,,,,,,,
2,Harbour Town - Docklands Dve - Docklands,60000,9,14,2016-01-28 12:45:05,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},...",-37.814022,144.939521
4,Federation Square - Flinders St / Swanston St ...,60001,11,11,2016-01-28 12:45:05,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},...",-37.817523,144.967814
5,Plum Garland Reserve - Beaconsfield Pde - Albe...,60002,16,1,2016-01-28 12:45:05,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},...",-37.84782,144.948196
6,State Library - Swanston St / Little Lonsdale ...,60003,9,2,2016-01-28 12:45:05,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},...",-37.810702,144.964417
7,Bourke Street Mall - 205 Bourke St - City,60004,10,1,2016-01-28 12:45:05,"[{""address"":"""",""city"":"""",""state"":"""",""zip"":""""},...",-37.813088,144.967437

Now, dump the "coordinates" columns and change data type of each column.

In [32]:
df.drop('coordinates', 1, inplace = True)

df['lat'] = df['lat'].apply(pd.to_numeric, errors='ignore')
df['lon'] = df['lon'].apply(pd.to_numeric, errors='ignore')

print(df.dtypes)

#df = df.convert_objects(convert_numeric=True) 
df.head()

featurename             object
terminalname            object
nbbikes                 object
nbemptydoc              object
uploaddate      datetime64[ns]
lat                    float64
lon                    float64
dtype: object

/var/folders/4n/y3z900hx7yj7qq3g3q2t8y7m0000gn/T/ipykernel_76629/1090279698.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df.drop('coordinates', 1, inplace = True)

,featurename,terminalname,nbbikes,nbemptydoc,uploaddate,lat,lon
id,,,,,,,
2,Harbour Town - Docklands Dve - Docklands,60000,9,14,2016-01-28 12:45:05,-37.814022,144.939521
4,Federation Square - Flinders St / Swanston St ...,60001,11,11,2016-01-28 12:45:05,-37.817523,144.967814
5,Plum Garland Reserve - Beaconsfield Pde - Albe...,60002,16,1,2016-01-28 12:45:05,-37.847820,144.948196
6,State Library - Swanston St / Little Lonsdale ...,60003,9,2,2016-01-28 12:45:05,-37.810702,144.964417
7,Bourke Street Mall - 205 Bourke St - City,60004,10,1,2016-01-28 12:45:05,-37.813088,144.967437

## Part 3: XML File

[XML](https://www.w3.org/XML/), Extensible Markup Language, is a markup language much like HTML.
It is a simple and flexible data format that defines a set of rules for encoding documents in a way that 
is both human and machine readable.

XML files are not as easy as the CSV or JSON files to preview and understand.
The data we are going to parse is the XML version for the "Melbourne bike share" dataset downloaded from
[data.gov.au](https://data.melbourne.vic.gov.au/Transport-Movement/Melbourne-bike-share/tdvh-n9dv).

Let's first open the file in your favorite editor to preview it. Note that it is always necessary to inspect the file before we parse it, as the inspection can give an idea of what the format of the file is, what information it stores, etc. If you scroll through the opened file, you will find that the data has been encompassed in XML syntax, using things called tags. The following figure shows a snippet of the data.

![](image/parse_xml_example.png)

After inspecting the file, you should find that data values can be stored in two places in an XML file, which are:
* in between two tags, for example, 
    ```html
        <featurename>Harbour Town - Docklands Dve - Docklands</featurename>
    ```
    where the value is "Harbour Town - Docklands Dve - Docklands" for the <featurename> tag.
* as an attribute of a tag, for example
    ```html
        <coordinates human_address="{&quot;address&quot;:&quot;&quot;,&quot;city&quot;:&quot;&quot;
        ,&quot;state&quot;:&quot;&quot;,&quot;zip&quot;:&quot;&quot;}" 
        latitude="-37.814022" longitude="144.939521" needs_recoding="false"/>
    ```
    where the value of latitude is -37.814022 and longitude is 144.939521. 

The attributes in XML store rich information about a specific tag.
Comparing XML with JSON, you will find that the XML tags and attributes hold data in 
a similar way to the JSON keys. 
The advantage of XML is that each tag in XML can hold more than one attribute, and
more values can be stored in one node. See the "coordinate" tag above.

Now, how can we extract data stored either in between tags or as attributes?
The goal is to parse the XML file, extract relevant information, and store the information in Pandas DataFrame that looks like
![](image/parse_xml.png)

In the following sections, we will demonstrate the process of loading and exploring a XML file, extracting
data from the XML file and storing the data in Pandas DataFrame.
* * *

### 3.1 Loading and Exploring an XML file

Python can parse XML files in many ways.
You can find several Python libraries for parsing XML from 
[" XML Processing Modules"](https://docs.python.org/2/library/xml.html).
Here we will show you how to use the following Python libraries
to parse our XML file.
* ElementTree
* lxml
* beautifulsoup

There are a couple of good materials worth reading
* The office ElementTree [API](https://docs.python.org/2/library/xml.etree.elementtree.html#module-xml.etree.ElementTree) documentation, which provides not only the API reference but also a short tutorial on using ElementTree. ðŸ“–
* [Parsing XML](http://www.diveintopython3.net/xml.html#xml-parse), Section 12.4 in Chapter 12 of "**Dive into Python**" does a good job on elaborating the process of parsing an example XML file with ElementsTree. ðŸ“–

If you are a visual learner, we suggest the following YouTube video
* [Parsing XML files in Python](https://www.youtube.com/watch?v=c2qlCZhkwtE)

We strongly suggest that you read these materials, although we are going to reproduce some of their content
along with our own XML file.

Let's start with ElementTree. 
There are several ways to import the data, which depends on how the data is stored.
Here we will read the file from disk.

In [33]:
import xml.etree.ElementTree as etree    
tree = etree.parse("data/Melbourne_bike_share.xml")

In the ElementTree API, an element object is designed to store data in a hierarchical structure according to the XML tag structure.
Each element has a number of properties associated with it, for example, a tag, a text string,
a set of attributes and a set of child elements.
The <font color="blue">parse()</font> function is one of the entry points of the ElementTree library.
It parses the entire XML document at once into an ElementTree object that contains a hierarchy of Element objects. 
see ["How ElementTree represents XML"](http://infohost.nmt.edu/tcc/help/pubs/pylxml/web/etree-view.html). ðŸ“–

The first element in every XML document is called the root element,
and an XML document can only have one root.
However, the returning ElementTree object is not the root element. 
Instead, it represents the entire document.
To get a reference to the root element, call <font color="blue">getroot()</font> method.

In [34]:
root = tree.getroot()     
root.tag

'response'

As expected, the root element is the <font color='orange'>response</font> element. See the original XML file.
You can also check the number of children of the root element by typing
```python
    len(root)
```
It will give you one. To get the only child, one can use the <font color="blue">getchildren()</font> method.
But it will result in a warning message
that looks like 
```python
    /Users/land/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: DeprecationWarning: This method 
    will be removed in future versions.  Use 'list(elem)' or iteration over elem instead.
    from ipykernel import kernelapp as app.
```
This is because the method has already been deprecated in Python 2.7.
Indeed, an element acts like a list in the ElementTree API.
The items of the list are the elementâ€™s children.

In [35]:
for child in root:           
    print (child)

<Element 'row' at 0x7faba4e921d0>

The <font color='orange'>root</font> list only contains its direct children elements. The children elements of each entry in the list are not included. 

Each element can also have its own set of attributes. The <font color="orange">attrib</font> property of an element is a mutable 
Python dictionary. 
Does the root have attributes? Let's check it out.

In [36]:
root.attrib

{}

It returns a empty dictionary. 
So far, the element tree seems to be empty.
Now you need to <font color='red'>either examine the original xml to discover the structure,
or further traverse the element hierarchy by iteratively printing out all the elements and 
data contained therein </font>.
The <font color='orange'>root</font> element has only one child.
It can be accessed by index, for example:
```python
    root[0]
```
A FOR loop can be used to print out all the children of <font color='orange'>root[0]</font>.

In [37]:
print ("the total number of rows: ", len(root[0]))

the total number of rows:  50

In [38]:
for child in root[0]:
    print (child)

<Element 'row' at 0x7faba4e92180>
<Element 'row' at 0x7faba4e92450>
<Element 'row' at 0x7faba4e926d0>
<Element 'row' at 0x7faba4e92950>
<Element 'row' at 0x7faba4e92bd0>
<Element 'row' at 0x7faba4e92e50>
<Element 'row' at 0x7faba4e94130>
<Element 'row' at 0x7faba4e943b0>
<Element 'row' at 0x7faba4e94630>
<Element 'row' at 0x7faba4e948b0>
<Element 'row' at 0x7faba4e94b30>
<Element 'row' at 0x7faba4e94db0>
<Element 'row' at 0x7faba4e97090>
<Element 'row' at 0x7faba4e97310>
<Element 'row' at 0x7faba4e97590>
<Element 'row' at 0x7faba4e97810>
<Element 'row' at 0x7faba4e97a90>
<Element 'row' at 0x7faba4e97d10>
<Element 'row' at 0x7faba4e97f90>
<Element 'row' at 0x7faba4e9a270>
<Element 'row' at 0x7faba4e9a540>
<Element 'row' at 0x7faba4e9a810>
<Element 'row' at 0x7faba4e9aa90>
<Element 'row' at 0x7faba4e9ad10>
<Element 'row' at 0x7faba4e77d10>
<Element 'row' at 0x7faba4e779a0>
<Element 'row' at 0x7faba4e77360>
<Element 'row' at 0x7faba4e77040>
<Element 'row' at 0x7faba4e9c090>
<Element 'row' at 0x7faba4e9c310>
<Element 'row' at 0x7faba4e9c590>
<Element 'row' at 0x7faba4e9c810>
<Element 'row' at 0x7faba4e9ca90>
<Element 'row' at 0x7faba4e9cd10>
<Element 'row' at 0x7faba4e9cf90>
<Element 'row' at 0x7faba4e9f270>
<Element 'row' at 0x7faba4e9f4f0>
<Element 'row' at 0x7faba4e9f770>
<Element 'row' at 0x7faba4e9fa40>
<Element 'row' at 0x7faba4e9fcc0>
<Element 'row' at 0x7faba4e9ff40>
<Element 'row' at 0x7faba4ea1220>
<Element 'row' at 0x7faba4ea14a0>
<Element 'row' at 0x7faba4ea1770>
<Element 'row' at 0x7faba4ea19f0>
<Element 'row' at 0x7faba4ea1cc0>
<Element 'row' at 0x7faba4ea1f90>
<Element 'row' at 0x7faba4ea5270>
<Element 'row' at 0x7faba4ea54f0>
<Element 'row' at 0x7faba4ea5770>

The tag of each child is the same, called 'row', which stores information about one bike station.
Let's keep on retrieving the children of these rows. Instead of doing that for 
all the rows, we retrieve the children of <font color="orange">root[0][0]</font> and that should correspond to the first record.

In [39]:
for child in  root[0][0]:
    print (child)

<Element 'id' at 0x7faba4e92220>
<Element 'featurename' at 0x7faba4e92270>
<Element 'terminalname' at 0x7faba4e922c0>
<Element 'nbbikes' at 0x7faba4e92310>
<Element 'nbemptydoc' at 0x7faba4e92360>
<Element 'uploaddate' at 0x7faba4e923b0>
<Element 'coordinates' at 0x7faba4e92400>

Fortunately, the tags of the retrieved child elements correspond to the column names in the DataFrame.
Thus, all the tags storing the data we want have been found. 
To confirm it you can inspect the original XML file 
or simply look at the figure shown in Section 1. 
Another way of exploring the element hierarchy is to use the iteration function of ElementTree, `iter()`.
The iterator loops over all elements in the tree, in section order.
Each element is represented as a Python tuple, where the first entry is a tag,
the second is the text, and the last is a dictionary of attributes.

In [40]:
for elem in tree.iter():
    print (elem.tag, elem.text, elem.attrib)

response None {}
row None {}
row None {'_id': '155', '_uuid': '7C09387D-9E6C-4B42-9041-9A98B88F54BB', '_position': '155', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/2'}
id 2 {}
featurename Harbour Town - Docklands Dve - Docklands {}
terminalname 60000 {}
nbbikes 9 {}
nbemptydoc 14 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.814022', 'longitude': '144.939521', 'needs_recoding': 'false'}
row None {'_id': '156', '_uuid': '52739A59-E034-436B-A613-E7A5F62448C0', '_position': '156', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/4'}
id 4 {}
featurename Federation Square - Flinders St / Swanston St - City {}
terminalname 60001 {}
nbbikes 15 {}
nbemptydoc 7 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.817523', 'longitude': '144.967814', 'needs_recoding': 'false'}
row None {'_id': '157', '_uuid': '7EFB5219-2764-47CE-A497-B6D872823BBE', '_position': '157', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/5'}
id 5 {}
featurename Plum Garland Reserve - Beaconsfield Pde - Albert Park {}
terminalname 60002 {}
nbbikes 16 {}
nbemptydoc 1 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.84782', 'longitude': '144.948196', 'needs_recoding': 'false'}
row None {'_id': '158', '_uuid': '4B09D743-FFEE-4185-B968-A7866E45FE0B', '_position': '158', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/6'}
id 6 {}
featurename State Library - Swanston St / Little Lonsdale St - City {}
terminalname 60003 {}
nbbikes 9 {}
nbemptydoc 2 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.810702', 'longitude': '144.964417', 'needs_recoding': 'false'}
row None {'_id': '159', '_uuid': 'C5493850-5714-40E2-9A67-DA443A4F64F8', '_position': '159', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/7'}
id 7 {}
featurename Bourke Street Mall - 205 Bourke St - City {}
terminalname 60004 {}
nbbikes 10 {}
nbemptydoc 1 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.813088', 'longitude': '144.967437', 'needs_recoding': 'false'}
row None {'_id': '160', '_uuid': '1130BB85-AE44-4706-89AD-91B3B6AF15CF', '_position': '160', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/8'}
id 8 {}
featurename Melbourne Uni - Tin Alley - Carlton {}
terminalname 60005 {}
nbbikes 2 {}
nbemptydoc 17 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.79625', 'longitude': '144.960858', 'needs_recoding': 'false'}
row None {'_id': '161', '_uuid': '37EE6B9B-D06F-493E-9263-F9708FCFDB33', '_position': '161', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/9'}
id 9 {}
featurename RMIT - Swanston St / Franklin St - City {}
terminalname 60006 {}
nbbikes 11 {}
nbemptydoc 0 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.807699', 'longitude': '144.963095', 'needs_recoding': 'false'}
row None {'_id': '162', '_uuid': 'EBE9EF80-BF46-4553-968D-DF94EB556268', '_position': '162', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/10'}
id 10 {}
featurename St Paul's Cathedral - Swanston St / Flinders St - City {}
terminalname 60007 {}
nbbikes 4 {}
nbemptydoc 7 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.817189', 'longitude': '144.967409', 'needs_recoding': 'false'}
row None {'_id': '163', '_uuid': '635C91D4-127F-4C5E-AAFD-967D04900027', '_position': '163', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/11'}
id 11 {}
featurename MSAC - Aughtie Dve - Albert Park {}
terminalname 60008 {}
nbbikes 9 {}
nbemptydoc 18 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.842395', 'longitude': '144.961868', 'needs_recoding': 'false'}
row None {'_id': '164', '_uuid': 'AA5B6285-EEDD-4102-A5B5-0AD25BB7FB8D', '_position': '164', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/12'}
id 12 {}
featurename Fitzroy Town Hall - Moor St - Fitzroy {}
terminalname 60009 {}
nbbikes 3 {}
nbemptydoc 4 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.801813', 'longitude': '144.979209', 'needs_recoding': 'false'}
row None {'_id': '165', '_uuid': '4E10C43A-8DE3-4FE0-96B5-17BEF69EB2DA', '_position': '165', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/15'}
id 15 {}
featurename Coventry St / St Kilda Rd - Southbank {}
terminalname 60017 {}
nbbikes 5 {}
nbemptydoc 6 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.828887', 'longitude': '144.970822', 'needs_recoding': 'false'}
row None {'_id': '166', '_uuid': '59632E91-08BE-40D4-A863-51A28D7CB5F3', '_position': '166', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/16'}
id 16 {}
featurename NAB - Harbour Esp / Bourke St - Docklands {}
terminalname 60011 {}
nbbikes 13 {}
nbemptydoc 20 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.818306', 'longitude': '144.945923', 'needs_recoding': 'false'}
row None {'_id': '167', '_uuid': 'EAF2E40E-3E0C-4FDE-AD1E-7667A77411D7', '_position': '167', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/17'}
id 17 {}
featurename Yarra's Point - Lorimer St / Yarra River - Docklands {}
terminalname 60024 {}
nbbikes 5 {}
nbemptydoc 9 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.823805', 'longitude': '144.943051', 'needs_recoding': 'false'}
row None {'_id': '168', '_uuid': '8A211E44-3AC2-48FB-832E-47B4E5B2DA9E', '_position': '168', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/18'}
id 18 {}
featurename Argyle Square - Lygon St - Carlton {}
terminalname 60021 {}
nbbikes 0 {}
nbemptydoc 11 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.802129', 'longitude': '144.96677', 'needs_recoding': 'false'}
row None {'_id': '170', '_uuid': 'E50ADBDC-8B95-456F-A92B-91FB44A11FEB', '_position': '170', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/20'}
id 20 {}
featurename Parliament Station - Nicholson St / Albert St - City {}
terminalname 60025 {}
nbbikes 8 {}
nbemptydoc 7 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.809072', 'longitude': '144.972762', 'needs_recoding': 'false'}
row None {'_id': '171', '_uuid': 'F83F8106-F883-4E8A-92F1-95850DAA0E36', '_position': '171', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/21'}
id 21 {}
featurename Bridport St / Montague St - Albert Park {}
terminalname 60014 {}
nbbikes 6 {}
nbemptydoc 17 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.840885', 'longitude': '144.955303', 'needs_recoding': 'false'}
row None {'_id': '172', '_uuid': 'C59C7CA0-A02E-40D3-9667-39DC9EB3B03D', '_position': '172', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/22'}
id 22 {}
featurename Pickles St / Ingles St - Port Melbourne {}
terminalname 60027 {}
nbbikes 12 {}
nbemptydoc 11 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.835803', 'longitude': '144.94852', 'needs_recoding': 'false'}
row None {'_id': '173', '_uuid': '5BD9B795-6F53-46E8-8A96-A10321D2BB65', '_position': '173', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/23'}
id 23 {}
featurename Yarra's Edge - River Esp / Yarra River - Docklands {}
terminalname 60015 {}
nbbikes 10 {}
nbemptydoc 1 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.824468', 'longitude': '144.946033', 'needs_recoding': 'false'}
row None {'_id': '174', '_uuid': '33D0B004-3202-47A2-91F2-AD89B0666CD2', '_position': '174', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/24'}
id 24 {}
featurename North Melbourne Station - Adderley St - North Melbourne {}
terminalname 60038 {}
nbbikes 7 {}
nbemptydoc 8 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.807021', 'longitude': '144.941854', 'needs_recoding': 'false'}
row None {'_id': '175', '_uuid': '589A56B0-E7A8-4D88-ADAA-A9804D6F106F', '_position': '175', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/25'}
id 25 {}
featurename Sandridge Bridge - Southbank {}
terminalname 60026 {}
nbbikes 1 {}
nbemptydoc 26 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.820836', 'longitude': '144.962266', 'needs_recoding': 'false'}
row None {'_id': '176', '_uuid': '6EDC4391-3FED-4FA2-B744-F3FD14CB7005', '_position': '176', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/26'}
id 26 {}
featurename Beach St - Port Melbourne {}
terminalname 60029 {}
nbbikes 17 {}
nbemptydoc 22 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.841954', 'longitude': '144.935296', 'needs_recoding': 'false'}
row None {'_id': '177', '_uuid': '084EA824-DB3F-4D4D-A32B-1D56DECC42A6', '_position': '177', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/27'}
id 27 {}
featurename New Quay Prom / Harbour Esp - Docklands {}
terminalname 60028 {}
nbbikes 4 {}
nbemptydoc 23 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.814117', 'longitude': '144.944081', 'needs_recoding': 'false'}
row None {'_id': '178', '_uuid': '0ADD1AA0-18C5-4651-92D2-E2857C30CDA7', '_position': '178', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/28'}
id 28 {}
featurename Queensbridge St / Yarra River - Southbank {}
terminalname 60035 {}
nbbikes 0 {}
nbemptydoc 15 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.821071', 'longitude': '144.961113', 'needs_recoding': 'false'}
row None {'_id': '179', '_uuid': 'CE0A1000-AD4E-4522-9AFF-03CCFAB4B6C7', '_position': '179', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/29'}
id 29 {}
featurename Southern Cross Station - Spencer St - City {}
terminalname 60034 {}
nbbikes 0 {}
nbemptydoc 26 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.818124', 'longitude': '144.953581', 'needs_recoding': 'false'}

row None {'_id': '180', '_uuid': '325ED8D1-B7B3-4D8B-8322-AAAEEE91F501', '_position': '180', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/30'}
id 30 {}
featurename Gasworks Arts Park - Pickles St - Albert Park {}
terminalname 60023 {}
nbbikes 6 {}
nbemptydoc 5 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.842174', 'longitude': '144.946051', 'needs_recoding': 'false'}
row None {'_id': '181', '_uuid': 'D03B2082-EFCE-4197-A761-47F5953F8F3C', '_position': '181', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/31'}
id 31 {}
featurename Cleve Gardens - Fitzroy St - St Kilda {}
terminalname 60032 {}
nbbikes 10 {}
nbemptydoc 5 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.861984', 'longitude': '144.97341', 'needs_recoding': 'false'}
row None {'_id': '182', '_uuid': '550A5A60-CF0E-4615-B5FE-E391D6D82105', '_position': '182', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/32'}
id 32 {}
featurename West Beach Pavilion - Beaconsfield Pde - St Kilda West {}
terminalname 60030 {}
nbbikes 8 {}
nbemptydoc 7 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.858553', 'longitude': '144.969101', 'needs_recoding': 'false'}
row None {'_id': '183', '_uuid': '4D352150-8BE5-491D-A468-69FB41A50353', '_position': '183', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/33'}
id 33 {}
featurename Siddeley St / Seafarers Bridge - Docklands {}
terminalname 60031 {}
nbbikes 22 {}
nbemptydoc 1 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.823124', 'longitude': '144.951918', 'needs_recoding': 'false'}
row None {'_id': '184', '_uuid': 'E03921EE-0B31-43F0-920E-5E1E02098437', '_position': '184', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/34'}
id 34 {}
featurename RACV - Bourke St / New Chancery Ln - City {}
terminalname 60013 {}
nbbikes 8 {}
nbemptydoc 3 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.815505', 'longitude': '144.959278', 'needs_recoding': 'false'}
row None {'_id': '185', '_uuid': '8A0F1BC0-5386-4BED-97BF-B57D0F0152A3', '_position': '185', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/35'}
id 35 {}
featurename Yorkshire Brewery - Wellington St - Collingwood {}
terminalname 60033 {}
nbbikes 3 {}
nbemptydoc 4 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.805997', 'longitude': '144.986953', 'needs_recoding': 'false'}
row None {'_id': '186', '_uuid': 'F8475211-428F-4DCB-96C6-08207FDAAF74', '_position': '186', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/36'}
id 36 {}
featurename Napier St / Victoria Pde - Fitzroy {}
terminalname 60022 {}
nbbikes 7 {}
nbemptydoc 4 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.808266', 'longitude': '144.979005', 'needs_recoding': 'false'}
row None {'_id': '187', '_uuid': '609E776E-AB71-47AD-8A50-CB925EC7EF37', '_position': '187', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/37'}
id 37 {}
featurename University Square - Grattan St - Carlton {}
terminalname 60045 {}
nbbikes 4 {}
nbemptydoc 11 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.800214', 'longitude': '144.960313', 'needs_recoding': 'false'}
row None {'_id': '188', '_uuid': '61B9BAE6-0E20-41BA-B3E5-8B0F050EB42C', '_position': '188', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/38'}
id 38 {}
featurename Aquarium - Kings Way / Flinders St - City {}
terminalname 60046 {}
nbbikes 5 {}
nbemptydoc 6 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.821324', 'longitude': '144.958318', 'needs_recoding': 'false'}
row None {'_id': '189', '_uuid': 'A098BBA8-C74E-4CDE-95F7-2915BBCB4D8B', '_position': '189', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/39'}
id 39 {}
featurename Richmond Station - Brunton Ave - East Melbourne {}
terminalname 60020 {}
nbbikes 12 {}
nbemptydoc 7 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.822962', 'longitude': '144.988507', 'needs_recoding': 'false'}
row None {'_id': '190', '_uuid': 'C839809C-AD68-4FB6-9A3D-93C4A84632E8', '_position': '190', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/40'}
id 40 {}
featurename Rod Laver Arena - Batman Ave / Swan St - City {}
terminalname 60047 {}
nbbikes 14 {}
nbemptydoc 8 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.822987', 'longitude': '144.978459', 'needs_recoding': 'false'}
row None {'_id': '191', '_uuid': '686B6908-C48E-4626-8E86-FCA3D45175C4', '_position': '191', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/41'}
id 41 {}
featurename Domain Interchange - Park St / St Kilda Rd - Melbourne {}
terminalname 60016 {}
nbbikes 12 {}
nbemptydoc 3 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.832396', 'longitude': '144.971678', 'needs_recoding': 'false'}
row None {'_id': '192', '_uuid': 'D5B41F96-AB9D-4CCA-9862-9FD410E7DF2F', '_position': '192', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/42'}
id 42 {}
featurename Kings Way / St Kilda Rd - Melbourne {}
terminalname 60018 {}
nbbikes 18 {}
nbemptydoc 8 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.836323', 'longitude': '144.975162', 'needs_recoding': 'false'}
row None {'_id': '193', '_uuid': '45E235B6-993C-4927-8741-EE2651101735', '_position': '193', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/43'}
id 43 {}
featurename Spring St / Collins St - City {}
terminalname 60019 {}
nbbikes 9 {}
nbemptydoc 2 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.813774', 'longitude': '144.974054', 'needs_recoding': 'false'}
row None {'_id': '194', '_uuid': '08F09E48-9FB6-4E8F-A3FF-5D57CDB5D700', '_position': '194', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/44'}
id 44 {}
featurename Queens Rd / Bowen Cres - Melbourne {}
terminalname 60036 {}
nbbikes 10 {}
nbemptydoc 5 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.835383', 'longitude': '144.973699', 'needs_recoding': 'false'}
row None {'_id': '195', '_uuid': 'E0DCF7FB-3562-48A2-9637-23241D1A5A71', '_position': '195', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/45'}
id 45 {}
featurename Luna Park - Lower Esp - St Kilda {}
terminalname 60037 {}
nbbikes 23 {}
nbemptydoc 16 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.867068', 'longitude': '144.976428', 'needs_recoding': 'false'}
row None {'_id': '196', '_uuid': '7F84D0CB-B469-4D64-8980-40165B502EA2', '_position': '196', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/46'}
id 46 {}
featurename South Melbourne Market - York St / Cecil St - South Melbourne {}
terminalname 60039 {}
nbbikes 9 {}
nbemptydoc 6 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.831475', 'longitude': '144.957511', 'needs_recoding': 'false'}
row None {'_id': '197', '_uuid': '6882C51B-0A33-4596-A62C-5F2F79AC7D92', '_position': '197', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/47'}
id 47 {}
featurename VCAM - St Kilda Rd / Southbank Blvd - Southbank {}
terminalname 60040 {}
nbbikes 6 {}
nbemptydoc 5 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.824088', 'longitude': '144.970085', 'needs_recoding': 'false'}
row None {'_id': '198', '_uuid': '2BC742C3-CDD4-43C5-94F9-674D78EDCFB3', '_position': '198', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/48'}
id 48 {}
featurename Museum - Rathdowne St - Carlton {}
terminalname 60041 {}
nbbikes 4 {}
nbemptydoc 11 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.803868', 'longitude': '144.969609', 'needs_recoding': 'false'}
row None {'_id': '199', '_uuid': '8EF503F8-ADF0-4BAA-8C7F-ED39AE5E8196', '_position': '199', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/49'}
id 49 {}
featurename Jolimont Station - Wellington Pde South - East Melbourne {}
terminalname 60042 {}
nbbikes 3 {}
nbemptydoc 8 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.816731', 'longitude': '144.982006', 'needs_recoding': 'false'}
row None {'_id': '200', '_uuid': '3F1BF86C-DC07-4395-9CD3-0A8D729C23AF', '_position': '200', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/50'}
id 50 {}
featurename ACCA - Sturt St - Southbank {}
terminalname 60043 {}
nbbikes 15 {}
nbemptydoc 8 {}

uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.826578', 'longitude': '144.966542', 'needs_recoding': 'false'}
row None {'_id': '201', '_uuid': 'FE678EF7-468B-4594-AF13-57858D566267', '_position': '201', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/51'}
id 51 {}
featurename ANZ - Collins St - Docklands {}
terminalname 60044 {}
nbbikes 9 {}
nbemptydoc 10 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.821568', 'longitude': '144.944488', 'needs_recoding': 'false'}
row None {'_id': '202', '_uuid': 'A5EFB6BA-5E93-4171-978B-8981B324B0A2', '_position': '202', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/52'}
id 52 {}
featurename Flagstaff Gardens - Peel St - West Melbourne {}
terminalname 60048 {}
nbbikes 6 {}
nbemptydoc 5 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.809216', 'longitude': '144.955223', 'needs_recoding': 'false'}
row None {'_id': '203', '_uuid': 'D531339E-DBBC-42B8-8937-8A2D8433C792', '_position': '203', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/53'}
id 53 {}
featurename Victoria Market - Elizabeth St / Victoria St - City {}
terminalname 60049 {}
nbbikes 15 {}
nbemptydoc 10 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.806091', 'longitude': '144.959017', 'needs_recoding': 'false'}
row None {'_id': '204', '_uuid': '75FC6E82-0B5C-45DD-800E-3FFD5AD0B359', '_position': '204', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/55'}
id 55 {}
featurename Coventry St / Clarendon St - South Melbourne {}
terminalname 60050 {}
nbbikes 8 {}
nbemptydoc 3 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.831776', 'longitude': '144.960818', 'needs_recoding': 'false'}
row None {'_id': '205', '_uuid': '223A0CB0-60DD-4166-82F0-C2D181086C8E', '_position': '205', '_address': 'http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/57'}
id 57 {}
featurename Fitzroy Street - St Kilda {}
terminalname 60052 {}
nbbikes 18 {}
nbemptydoc 13 {}
uploaddate 1453986006 {}
coordinates None {'human_address': '{"address":"","city":"","state":"","zip":""}', 'latitude': '-37.858655', 'longitude': '144.978818', 'needs_recoding': 'false'}

Besides ElementTree, there are other Python libraries that can be used to parse XML files.
Here we show two of them, which are **`lxml`** and **`BeautifulSoup`**.

### 3.2 The lxml package
[**`lxml`**](http://lxml.de) is an open source third-party library that builds on top of two C libraries 
libxml2 and libxslt.
It is mostly compatible but superior to the well-known ElementTree API.
To study **`lxml`** in detail, you should refer to:
* [the lxml.etree tutorial](http://lxml.de/tutorial.html), a tutorial on XML processing with lxml.etree.
* and [Going Further With lxml](http://www.diveintopython3.net/xml.html#xml-lxml), Section 12.6 in Chapter 12 of "**Dive into Python 3**". ðŸ“– 

Here we are going to briefly show you how to extract the text content of an element tree
using **XPath**.
**XPath** allows you to extract the separate text chunks into a list:

In [41]:
from lxml import etree
ltree = etree.parse("data/Melbourne_bike_share.xml")
for el in ltree.xpath('descendant-or-self::text()'):
    print (el)

2
Harbour Town - Docklands Dve - Docklands
60000
9
14
1453986006
4
Federation Square - Flinders St / Swanston St - City
60001
15
7
1453986006
5
Plum Garland Reserve - Beaconsfield Pde - Albert Park
60002
16
1
1453986006
6
State Library - Swanston St / Little Lonsdale St - City
60003
9
2
1453986006
7
Bourke Street Mall - 205 Bourke St - City
60004
10
1
1453986006
8
Melbourne Uni - Tin Alley - Carlton
60005
2
17
1453986006
9
RMIT - Swanston St / Franklin St - City
60006
11
0
1453986006
10
St Paul's Cathedral - Swanston St / Flinders St - City
60007
4
7
1453986006
11
MSAC - Aughtie Dve - Albert Park
60008
9
18
1453986006
12
Fitzroy Town Hall - Moor St - Fitzroy
60009
3
4
1453986006
15
Coventry St / St Kilda Rd - Southbank
60017
5
6
1453986006
16
NAB - Harbour Esp / Bourke St - Docklands
60011
13
20
1453986006
17
Yarra's Point - Lorimer St / Yarra River - Docklands
60024
5
9
1453986006
18
Argyle Square - Lygon St - Carlton
60021
0
11
1453986006
20
Parliament Station - Nicholson St / Albert St - City
60025
8
7
1453986006
21
Bridport St / Montague St - Albert Park
60014
6
17
1453986006
22
Pickles St / Ingles St - Port Melbourne
60027
12
11
1453986006
23
Yarra's Edge - River Esp / Yarra River - Docklands
60015
10
1
1453986006
24
North Melbourne Station - Adderley St - North Melbourne
60038
7
8
1453986006
25
Sandridge Bridge - Southbank
60026
1
26
1453986006
26
Beach St - Port Melbourne
60029
17
22
1453986006
27
New Quay Prom / Harbour Esp - Docklands
60028
4
23
1453986006
28
Queensbridge St / Yarra River - Southbank
60035
0
15
1453986006
29
Southern Cross Station - Spencer St - City
60034
0
26
1453986006
30
Gasworks Arts Park - Pickles St - Albert Park
60023
6
5
1453986006
31
Cleve Gardens - Fitzroy St - St Kilda
60032
10
5
1453986006
32
West Beach Pavilion - Beaconsfield Pde - St Kilda West
60030
8
7
1453986006
33
Siddeley St / Seafarers Bridge - Docklands
60031
22
1
1453986006
34
RACV - Bourke St / New Chancery Ln - City
60013
8
3
1453986006
35
Yorkshire Brewery - Wellington St - Collingwood
60033
3
4
1453986006
36
Napier St / Victoria Pde - Fitzroy
60022
7
4
1453986006
37
University Square - Grattan St - Carlton
60045
4
11
1453986006
38
Aquarium - Kings Way / Flinders St - City
60046
5
6
1453986006
39
Richmond Station - Brunton Ave - East Melbourne
60020
12
7
1453986006
40
Rod Laver Arena - Batman Ave / Swan St - City
60047
14
8
1453986006
41
Domain Interchange - Park St / St Kilda Rd - Melbourne
60016
12
3
1453986006
42
Kings Way / St Kilda Rd - Melbourne
60018
18
8
1453986006
43
Spring St / Collins St - City
60019
9
2
1453986006
44
Queens Rd / Bowen Cres - Melbourne
60036
10
5
1453986006
45
Luna Park - Lower Esp - St Kilda
60037
23
16
1453986006
46
South Melbourne Market - York St / Cecil St - South Melbourne
60039
9
6
1453986006
47
VCAM - St Kilda Rd / Southbank Blvd - Southbank
60040
6
5
1453986006
48
Museum - Rathdowne St - Carlton
60041
4
11
1453986006
49
Jolimont Station - Wellington Pde South - East Melbourne
60042
3
8
1453986006
50
ACCA - Sturt St - Southbank
60043
15
8
1453986006
51
ANZ - Collins St - Docklands
60044
9
10
1453986006
52
Flagstaff Gardens - Peel St - West Melbourne
60048
6
5
1453986006
53
Victoria Market - Elizabeth St / Victoria St - City
60049
15
10
1453986006
55
Coventry St / Clarendon St - South Melbourne
60050
8
3
1453986006
57
Fitzroy Street - St Kilda
60052
18
13
1453986006

In the <font color='blue'>xpath()</font> function,
the <font color='orange'>descendant-or-self::</font> is an axis selector that limits the search to the context node, its children, their children, and so on out to the leaves of the tree. The <font color = 'blue'>text()</font> function selects only text nodes, discarding any elements, comments, and other non-textual content. The return value is a list of strings.
Read [XPath processing](http://infohost.nmt.edu/tcc/help/pubs/pylxml/web/xpath.html) ðŸ“– for a short introduction
to `xpath` and [W3C's website on Xpath](http://www.w3.org/TR/xpath/) for a detailed introduction to XPath.
Note that <font color='blue'>lxml</font> is significantly faster than the built-in <font color='blue'>ElementTree</font> library on parsing large xml documents.
If your XML files are very large, you should consider using <font color='blue'>lxml</font>.

### 3.3 The Beautiful Soup Pacakge
[Beautiful Soup](http://www.crummy.com/software/BeautifulSoup/) is an another Python library for pulling data out of HTML and XML files. It provides Pythonic idioms for iterating, searching, and modifying the parsed tree.
We begin by reading in our XML file and creating a Beautiful Soup object with the BeautifulSoup function.

In [42]:
from bs4 import BeautifulSoup
btree = BeautifulSoup(open("data/Melbourne_bike_share.xml"),"lxml-xml")

There are two different ways of passing an XML document into the BeautifulSoup constructor. One is to pass in a string, another is to parse an open filehandle. the above example follows the second approach. The second argument is the parser to be used to parse the document. Beautiful Soup presents the same interface to a number of different parsers, but each parser is different. Different parsers will create different parsed trees from the same document.

In [43]:
print(btree.prettify())

<?xml version="1.0" encoding="utf-8"?>
<response>
 <row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/2" _id="155" _position="155" _uuid="7C09387D-9E6C-4B42-9041-9A98B88F54BB">
   <id>
    2
   </id>
   <featurename>
    Harbour Town - Docklands Dve - Docklands
   </featurename>
   <terminalname>
    60000
   </terminalname>
   <nbbikes>
    9
   </nbbikes>
   <nbemptydoc>
    14
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.814022" longitude="144.939521" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/4" _id="156" _position="156" _uuid="52739A59-E034-436B-A613-E7A5F62448C0">
   <id>
    4
   </id>
   <featurename>
    Federation Square - Flinders St / Swanston St - City
   </featurename>
   <terminalname>
    60001
   </terminalname>
   <nbbikes>
    15
   </nbbikes>
   <nbemptydoc>
    7
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.817523" longitude="144.967814" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/5" _id="157" _position="157" _uuid="7EFB5219-2764-47CE-A497-B6D872823BBE">
   <id>
    5
   </id>
   <featurename>
    Plum Garland Reserve - Beaconsfield Pde - Albert Park
   </featurename>
   <terminalname>
    60002
   </terminalname>
   <nbbikes>
    16
   </nbbikes>
   <nbemptydoc>
    1
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.84782" longitude="144.948196" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/6" _id="158" _position="158" _uuid="4B09D743-FFEE-4185-B968-A7866E45FE0B">
   <id>
    6
   </id>
   <featurename>
    State Library - Swanston St / Little Lonsdale St - City
   </featurename>
   <terminalname>
    60003
   </terminalname>
   <nbbikes>
    9
   </nbbikes>
   <nbemptydoc>
    2
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.810702" longitude="144.964417" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/7" _id="159" _position="159" _uuid="C5493850-5714-40E2-9A67-DA443A4F64F8">
   <id>
    7
   </id>
   <featurename>
    Bourke Street Mall - 205 Bourke St - City
   </featurename>
   <terminalname>
    60004
   </terminalname>
   <nbbikes>
    10
   </nbbikes>
   <nbemptydoc>
    1
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.813088" longitude="144.967437" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/8" _id="160" _position="160" _uuid="1130BB85-AE44-4706-89AD-91B3B6AF15CF">
   <id>
    8
   </id>
   <featurename>
    Melbourne Uni - Tin Alley - Carlton
   </featurename>
   <terminalname>
    60005
   </terminalname>
   <nbbikes>
    2
   </nbbikes>
   <nbemptydoc>
    17
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.79625" longitude="144.960858" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/9" _id="161" _position="161" _uuid="37EE6B9B-D06F-493E-9263-F9708FCFDB33">
   <id>
    9
   </id>
   <featurename>
    RMIT - Swanston St / Franklin St - City
   </featurename>
   <terminalname>
    60006
   </terminalname>
   <nbbikes>
    11
   </nbbikes>
   <nbemptydoc>
    0
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.807699" longitude="144.963095" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/10" _id="162" _position="162" _uuid="EBE9EF80-BF46-4553-968D-DF94EB556268">
   <id>
    10
   </id>
   <featurename>
    St Paul's Cathedral - Swanston St / Flinders St - City
   </featurename>
   <terminalname>
    60007
   </terminalname>
   <nbbikes>
    4
   </nbbikes>
   <nbemptydoc>
    7
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.817189" longitude="144.967409" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/11" _id="163" _position="163" _uuid="635C91D4-127F-4C5E-AAFD-967D04900027">
   <id>
    11
   </id>
   <featurename>
    MSAC - Aughtie Dve - Albert Park
   </featurename>
   <terminalname>
    60008
   </terminalname>
   <nbbikes>
    9
   </nbbikes>
   <nbemptydoc>
    18
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.842395" longitude="144.961868" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/12" _id="164" _position="164" _uuid="AA5B6285-EEDD-4102-A5B5-0AD25BB7FB8D">
   <id>
    12
   </id>
   <featurename>
    Fitzroy Town Hall - Moor St - Fitzroy
   </featurename>
   <terminalname>
    60009
   </terminalname>
   <nbbikes>
    3
   </nbbikes>
   <nbemptydoc>
    4
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.801813" longitude="144.979209" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/15" _id="165" _position="165" _uuid="4E10C43A-8DE3-4FE0-96B5-17BEF69EB2DA">
   <id>
    15
   </id>
   <featurename>
    Coventry St / St Kilda Rd - Southbank
   </featurename>
   <terminalname>
    60017
   </terminalname>
   <nbbikes>
    5
   </nbbikes>
   <nbemptydoc>
    6
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.828887" longitude="144.970822" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/16" _id="166" _position="166" _uuid="59632E91-08BE-40D4-A863-51A28D7CB5F3">
   <id>
    16
   </id>
   <featurename>
    NAB - Harbour Esp / Bourke St - Docklands
   </featurename>
   <terminalname>
    60011
   </terminalname>
   <nbbikes>
    13
   </nbbikes>
   <nbemptydoc>
    20
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.818306" longitude="144.945923" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/17" _id="167" _position="167" _uuid="EAF2E40E-3E0C-4FDE-AD1E-7667A77411D7">
   <id>
    17
   </id>
   <featurename>
    Yarra's Point - Lorimer St / Yarra River - Docklands
   </featurename>
   <terminalname>
    60024
   </terminalname>
   <nbbikes>
    5
   </nbbikes>
   <nbemptydoc>
    9
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.823805" longitude="144.943051" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/18" _id="168" _position="168" _uuid="8A211E44-3AC2-48FB-832E-47B4E5B2DA9E">
   <id>
    18
   </id>
   <featurename>
    Argyle Square - Lygon St - Carlton
   </featurename>
   <terminalname>
    60021
   </terminalname>
   <nbbikes>
    0
   </nbbikes>
   <nbemptydoc>
    11
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.802129" longitude="144.96677" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/20" _id="170" _position="170" _uuid="E50ADBDC-8B95-456F-A92B-91FB44A11FEB">
   <id>
    20
   </id>
   <featurename>
    Parliament Station - Nicholson St / Albert St - City
   </featurename>
   <terminalname>
    60025
   </terminalname>
   <nbbikes>
    8
   </nbbikes>
   <nbemptydoc>
    7
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.809072" longitude="144.972762" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/21" _id="171" _position="171" _uuid="F83F8106-F883-4E8A-92F1-95850DAA0E36">
   <id>
    21
   </id>
   <featurename>
    Bridport St / Montague St - Albert Park
   </featurename>
   <terminalname>
    60014
   </terminalname>
   <nbbikes>
    6
   </nbbikes>
   <nbemptydoc>
    17
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.840885" longitude="144.955303" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/22" _id="172" _position="172" _uuid="C59C7CA0-A02E-40D3-9667-39DC9EB3B03D">
   <id>
    22
   </id>
   <featurename>
    Pickles St / Ingles St - Port Melbourne
   </featurename>
   <terminalname>
    60027
   </terminalname>
   <nbbikes>
    12
   </nbbikes>
   <nbemptydoc>
    11
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.835803" longitude="144.94852" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/23" _id="173" _position="173" _uuid="5BD9B795-6F53-46E8-8A96-A10321D2BB65">
   <id>
    23
   </id>
   <featurename>
    Yarra's Edge - River Esp / Yarra River - Docklands
   </featurename>
   <terminalname>
    60015
   </terminalname>
   <nbbikes>
    10
   </nbbikes>
   <nbemptydoc>
    1
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.824468" longitude="144.946033" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/24" _id="174" _position="174" _uuid="33D0B004-3202-47A2-91F2-AD89B0666CD2">
   <id>
    24
   </id>
   <featurename>
    North Melbourne Station - Adderley St - North Melbourne
   </featurename>
   <terminalname>
    60038
   </terminalname>
   <nbbikes>
    7
   </nbbikes>
   <nbemptydoc>
    8
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.807021" longitude="144.941854" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/25" _id="175" _position="175" _uuid="589A56B0-E7A8-4D88-ADAA-A9804D6F106F">
   <id>
    25
   </id>
   <featurename>
    Sandridge Bridge - Southbank
   </featurename>
   <terminalname>
    60026
   </terminalname>
   <nbbikes>
    1
   </nbbikes>
   <nbemptydoc>
    26
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.820836" longitude="144.962266" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/26" _id="176" _position="176" _uuid="6EDC4391-3FED-4FA2-B744-F3FD14CB7005">
   <id>
    26
   </id>
   <featurename>
    Beach St - Port Melbourne
   </featurename>
   <terminalname>
    60029
   </terminalname>
   <nbbikes>
    17
   </nbbikes>
   <nbemptydoc>
    22
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.841954" longitude="144.935296" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/27" _id="177" _position="177" _uuid="084EA824-DB3F-4D4D-A32B-1D56DECC42A6">
   <id>
    27
   </id>
   <featurename>
    New Quay Prom / Harbour Esp - Docklands
   </featurename>
   <terminalname>
    60028
   </terminalname>
   <nbbikes>
    4
   </nbbikes>
   <nbemptydoc>
    23
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.814117" longitude="144.944081" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/28" _id="178" _position="178" _uuid="0ADD1AA0-18C5-4651-92D2-E2857C30CDA7">
   <id>
    28
   </id>
   <featurename>
    Queensbridge St / Yarra River - Southbank
   </featurename>
   <terminalname>
    60035
   </terminalname>
   <nbbikes>
    0
   </nbbikes>
   <nbemptydoc>
    15
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.821071" longitude="144.961113" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/29" _id="179" _position="179" _uuid="CE0A1000-AD4E-4522-9AFF-03CCFAB4B6C7">
   <id>
    29
   </id>
   <featurename>
    Southern Cross Station - Spencer St - City
   </featurename>
   <terminalname>
    60034
   </terminalname>
   <nbbikes>
    0
   </nbbikes>
   <nbemptydoc>
    26
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.818124" longitude="144.953581" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/30" _id="180" _position="180" _uuid="325ED8D1-B7B3-4D8B-8322-AAAEEE91F501">
   <id>
    30
   </id>
   <featurename>
    Gasworks Arts Park - Pickles St - Albert Park
   </featurename>
   <terminalname>
    60023
   </terminalname>
   <nbbikes>
    6
   </nbbikes>
   <nbemptydoc>
    5
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.842174" longitude="144.946051" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/31" _id="181" _position="181" _uuid="D03B2082-EFCE-4197-A761-47F5953F8F3C">
   <id>
    31
   </id>
   <featurename>
    Cleve Gardens - Fitzroy St - St Kilda
   </featurename>
   <terminalname>
    60032
   </terminalname>
   <nbbikes>
    10
   </nbbikes>
   <nbemptydoc>
    5
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.861984" longitude="144.97341" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/32" _id="182" _position="182" _uuid="550A5A60-CF0E-4615-B5FE-E391D6D82105">
   <id>
    32
   </id>
   <featurename>
    West Beach Pavilion - Beaconsfield Pde - St Kilda West
   </featurename>
   <terminalname>
    60030
   </terminalname>
   <nbbikes>
    8
   </nbbikes>
   <nbemptydoc>
    7
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.858553" longitude="144.969101" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/33" _id="183" _position="183" _uuid="4D352150-8BE5-491D-A468-69FB41A50353">
   <id>
    33
   </id>
   <featurename>
    Siddeley St / Seafarers Bridge - Docklands
   </featurename>
   <terminalname>
    60031
   </terminalname>
   <nbbikes>
    22
   </nbbikes>
   <nbemptydoc>
    1
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.823124" longitude="144.951918" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/34" _id="184" _position="184" _uuid="E03921EE-0B31-43F0-920E-5E1E02098437">
   <id>
    34
   </id>
   <featurename>
    RACV - Bourke St / New Chancery Ln - City
   </featurename>
   <terminalname>
    60013
   </terminalname>
   <nbbikes>
    8
   </nbbikes>
   <nbemptydoc>
    3
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.815505" longitude="144.959278" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/35" _id="185" _position="185" _uuid="8A0F1BC0-5386-4BED-97BF-B57D0F0152A3">
   <id>
    35
   </id>
   <featurename>
    Yorkshire Brewery - Wellington St - Collingwood
   </featurename>
   <terminalname>
    60033
   </terminalname>
   <nbbikes>
    3
   </nbbikes>
   <nbemptydoc>
    4
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.805997" longitude="144.986953" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/36" _id="186" _position="186" _uuid="F8475211-428F-4DCB-96C6-08207FDAAF74">
   <id>
    36
   </id>
   <featurename>
    Napier St / Victoria Pde - Fitzroy
   </featurename>
   <terminalname>
    60022
   </terminalname>
   <nbbikes>
    7
   </nbbikes>
   <nbemptydoc>
    4
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.808266" longitude="144.979005" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/37" _id="187" _position="187" _uuid="609E776E-AB71-47AD-8A50-CB925EC7EF37">
   <id>
    37
   </id>
   <featurename>
    University Square - Grattan St - Carlton
   </featurename>
   <terminalname>
    60045
   </terminalname>
   <nbbikes>
    4
   </nbbikes>
   <nbemptydoc>
    11
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.800214" longitude="144.960313" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/38" _id="188" _position="188" _uuid="61B9BAE6-0E20-41BA-B3E5-8B0F050EB42C">
   <id>
    38
   </id>
   <featurename>
    Aquarium - Kings Way / Flinders St - City
   </featurename>
   <terminalname>
    60046
   </terminalname>
   <nbbikes>
    5
   </nbbikes>
   <nbemptydoc>
    6
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.821324" longitude="144.958318" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/39" _id="189" _position="189" _uuid="A098BBA8-C74E-4CDE-95F7-2915BBCB4D8B">
   <id>
    39
   </id>
   <featurename>
    Richmond Station - Brunton Ave - East Melbourne
   </featurename>
   <terminalname>
    60020
   </terminalname>
   <nbbikes>
    12
   </nbbikes>
   <nbemptydoc>
    7
   </nbemptydoc>
   <uploaddate>
    1453986006
   </uploaddate>
   <coordinates human_address='{"address":"","city":"","state":"","zip":""}' latitude="-37.822962" longitude="144.988507" needs_recoding="false"/>
  </row>
  <row _address="http://data.melbourne.vic.gov.au/resource/tdvh-n9dv/40" _id="190" _position="190" _uuid="C839809C-AD68-4FB6-9A3D-93C4A84632E8">
   <id>
    40
   </id>
   <featurename>
    Rod Laver Arena - Batman Ave / Swan St - City
   </featurename>
   <terminalname>
    60047
   </terminalname>
   <nbbikes>
    14
   </nbbikes>
   <nbemptydoc>
    8
   </nbemptydoc>
   <uploaddate>
    1453986006

The soup object contains all of the XML content in the original document.
The XML tags contained in the angled brackets provide structural information (and sometimes formatting).
If you were to take a moment to print out the parsed tree, you would find Beautiful Soup did a good job.
It provides a structural representation of the original XML document. 
Now it is easy for you to eyeball the document and the tags or attributes containing the data we want. <font color="red">We will stop here and leave the extraction of the data with Beautiful Soup as a simple exercise for you.</font>
The documentation of how to use Beautiful Soup can be found [here](https://www.crummy.com/software/BeautifulSoup/bs4/doc/).

* * *

### 3.4 Extracting XML data into DataFrame
So far we have loaded XML into an element tree and have also found all the tags that contain the data we want. 
We have worked with our XML file in a top-down fashion, starting with the root element, 
then getting its child elements, and so on. 
We have also gained a brief idea of **lxml** and **beautiful soup**.
This section will show you how to extract the data from all the tags and put it into Pandas DataFrame, a common
and standard storage structure we used in the previous chapter. 
This structure will also be used in the following chapters. 
Before we walk through the extracting process, please read: 
* [Searching For Nodes Within An XML Document](http://www.diveintopython3.net/xml.html#xml-find) Section 12.5 in Chapter 12 of "**Dive into Python 3**". ðŸ“– 

Let's first just look at one tag, i.e., '*featurename*'.
Since we don't know where it is, the code should loop over all the elements in the tree.
To produce a simple list of the featurenames, the logic could be simplified using 
`findall()` to look for all the elements with tag name '*featurename*'.
Both the ElementTree and the Element classes implement `findall(match)` function.
The one implemented by the ElementTree class finds all the matched subelements starting from root.
The other implemented by the Element finds those sub-elements starting from a given Element in the tree.
All the matched elements returned by the function are stored in a list.
The `match` argument should take values on either tag names or paths to specific tags.
Try 
```python
    tree.findall('featurename')
```
and 
```python
    tree.findall('row/featurename')
```
What did you get?

The '*featurename*' tag is not the child or grandchild of the root element.
In order to get all the '*featurename*', 
we should first figure out the path from the root to the '*featurename*' tag.
By looking at the original file or basing on what we learnt from the previous section, we know the path is
```html
    row/row/featurename
```
Thus,

In [44]:
elements = tree.findall('row/row/featurename')
elements

[<Element 'featurename' at 0x7faba4e92270>,
 <Element 'featurename' at 0x7faba4e924f0>,
 <Element 'featurename' at 0x7faba4e92770>,
 <Element 'featurename' at 0x7faba4e929f0>,
 <Element 'featurename' at 0x7faba4e92c70>,
 <Element 'featurename' at 0x7faba4e92ef0>,
 <Element 'featurename' at 0x7faba4e941d0>,
 <Element 'featurename' at 0x7faba4e94450>,
 <Element 'featurename' at 0x7faba4e946d0>,
 <Element 'featurename' at 0x7faba4e94950>,
 <Element 'featurename' at 0x7faba4e94bd0>,
 <Element 'featurename' at 0x7faba4e94e50>,
 <Element 'featurename' at 0x7faba4e97130>,
 <Element 'featurename' at 0x7faba4e973b0>,
 <Element 'featurename' at 0x7faba4e97630>,
 <Element 'featurename' at 0x7faba4e978b0>,
 <Element 'featurename' at 0x7faba4e97b30>,
 <Element 'featurename' at 0x7faba4e97db0>,
 <Element 'featurename' at 0x7faba4e9a090>,
 <Element 'featurename' at 0x7faba4e9a310>,
 <Element 'featurename' at 0x7faba4e9a5e0>,
 <Element 'featurename' at 0x7faba4e9a8b0>,
 <Element 'featurename' at 0x7faba4e9ab30>,
 <Element 'featurename' at 0x7faba4e9adb0>,
 <Element 'featurename' at 0x7faba4e77bd0>,
 <Element 'featurename' at 0x7faba4e776d0>,
 <Element 'featurename' at 0x7faba4e77310>,
 <Element 'featurename' at 0x7faba4e9ae50>,
 <Element 'featurename' at 0x7faba4e9c130>,
 <Element 'featurename' at 0x7faba4e9c3b0>,
 <Element 'featurename' at 0x7faba4e9c630>,
 <Element 'featurename' at 0x7faba4e9c8b0>,
 <Element 'featurename' at 0x7faba4e9cb30>,
 <Element 'featurename' at 0x7faba4e9cdb0>,
 <Element 'featurename' at 0x7faba4e9f090>,
 <Element 'featurename' at 0x7faba4e9f310>,
 <Element 'featurename' at 0x7faba4e9f590>,
 <Element 'featurename' at 0x7faba4e9f810>,
 <Element 'featurename' at 0x7faba4e9fae0>,
 <Element 'featurename' at 0x7faba4e9fd60>,
 <Element 'featurename' at 0x7faba4ea1040>,
 <Element 'featurename' at 0x7faba4ea12c0>,
 <Element 'featurename' at 0x7faba4ea1540>,
 <Element 'featurename' at 0x7faba4ea1810>,
 <Element 'featurename' at 0x7faba4ea1a90>,
 <Element 'featurename' at 0x7faba4ea1d60>,
 <Element 'featurename' at 0x7faba4ea5090>,
 <Element 'featurename' at 0x7faba4ea5310>,
 <Element 'featurename' at 0x7faba4ea5590>,
 <Element 'featurename' at 0x7faba4ea5810>]

The above list should contain 50 Elements corresponding to '*featurename*'.
As you may notice, the items returned by <font color="blue">findall()</font> are Element objects, each representing a node in the
XML parse tree. 
What we want is the data stored in those objects.
To pull out the data, we can access the element properpties: tag, attrib and text.

In [45]:
featurename = [elem.text for elem in elements]
featurename

['Harbour Town - Docklands Dve - Docklands',
 'Federation Square - Flinders St / Swanston St - City',
 'Plum Garland Reserve - Beaconsfield Pde - Albert Park',
 'State Library - Swanston St / Little Lonsdale St - City',
 'Bourke Street Mall - 205 Bourke St - City',
 'Melbourne Uni - Tin Alley - Carlton',
 'RMIT - Swanston St / Franklin St - City',
 "St Paul's Cathedral - Swanston St / Flinders St - City",
 'MSAC - Aughtie Dve - Albert Park',
 'Fitzroy Town Hall - Moor St - Fitzroy',
 'Coventry St / St Kilda Rd - Southbank',
 'NAB - Harbour Esp / Bourke St - Docklands',
 "Yarra's Point - Lorimer St / Yarra River - Docklands",
 'Argyle Square - Lygon St - Carlton',
 'Parliament Station - Nicholson St / Albert St - City',
 'Bridport St / Montague St - Albert Park',
 'Pickles St / Ingles St - Port Melbourne',
 "Yarra's Edge - River Esp / Yarra River - Docklands",
 'North Melbourne Station - Adderley St - North Melbourne',
 'Sandridge Bridge - Southbank',
 'Beach St - Port Melbourne',
 'New Quay Prom / Harbour Esp - Docklands',
 'Queensbridge St / Yarra River - Southbank',
 'Southern Cross Station - Spencer St - City',
 'Gasworks Arts Park - Pickles St - Albert Park',
 'Cleve Gardens - Fitzroy St - St Kilda',
 'West Beach Pavilion - Beaconsfield Pde - St Kilda West',
 'Siddeley St / Seafarers Bridge - Docklands',
 'RACV - Bourke St / New Chancery Ln - City',
 'Yorkshire Brewery - Wellington St - Collingwood',
 'Napier St / Victoria Pde - Fitzroy',
 'University Square - Grattan St - Carlton',
 'Aquarium - Kings Way / Flinders St - City',
 'Richmond Station - Brunton Ave - East Melbourne',
 'Rod Laver Arena - Batman Ave / Swan St - City',
 'Domain Interchange - Park St / St Kilda Rd - Melbourne',
 'Kings Way / St Kilda Rd - Melbourne',
 'Spring St / Collins St - City',
 'Queens Rd / Bowen Cres - Melbourne',
 'Luna Park - Lower Esp - St Kilda',
 'South Melbourne Market - York St / Cecil St - South Melbourne',
 'VCAM - St Kilda Rd / Southbank Blvd - Southbank',
 'Museum - Rathdowne St - Carlton',
 'Jolimont Station - Wellington Pde South - East Melbourne',
 'ACCA - Sturt St - Southbank',
 'ANZ - Collins St - Docklands',
 'Flagstaff Gardens - Peel St - West Melbourne',
 'Victoria Market - Elizabeth St / Victoria St - City',
 'Coventry St / Clarendon St - South Melbourne',
 'Fitzroy Street - St Kilda']

You might wonder whether there is another way to extract the text stored in the '*featurename*' tag.
It might be possible that the structure of an XML file is quite complex (more complex that our example XML file) 
and it is not easy to figure out the path. 
There are other ways to search for descendant elements, i.e., children, grandchildrens, 
and any element at any nesting level. 
Using the same function, <font color = 'blue'>findall()</font>, we can construct an XPath argument to look for all
'*featurename*' elements.

In [46]:
tree.findall('.//featurename')

[<Element 'featurename' at 0x7faba4e92270>,
 <Element 'featurename' at 0x7faba4e924f0>,
 <Element 'featurename' at 0x7faba4e92770>,
 <Element 'featurename' at 0x7faba4e929f0>,
 <Element 'featurename' at 0x7faba4e92c70>,
 <Element 'featurename' at 0x7faba4e92ef0>,
 <Element 'featurename' at 0x7faba4e941d0>,
 <Element 'featurename' at 0x7faba4e94450>,
 <Element 'featurename' at 0x7faba4e946d0>,
 <Element 'featurename' at 0x7faba4e94950>,
 <Element 'featurename' at 0x7faba4e94bd0>,
 <Element 'featurename' at 0x7faba4e94e50>,
 <Element 'featurename' at 0x7faba4e97130>,
 <Element 'featurename' at 0x7faba4e973b0>,
 <Element 'featurename' at 0x7faba4e97630>,
 <Element 'featurename' at 0x7faba4e978b0>,
 <Element 'featurename' at 0x7faba4e97b30>,
 <Element 'featurename' at 0x7faba4e97db0>,
 <Element 'featurename' at 0x7faba4e9a090>,
 <Element 'featurename' at 0x7faba4e9a310>,
 <Element 'featurename' at 0x7faba4e9a5e0>,
 <Element 'featurename' at 0x7faba4e9a8b0>,
 <Element 'featurename' at 0x7faba4e9ab30>,
 <Element 'featurename' at 0x7faba4e9adb0>,
 <Element 'featurename' at 0x7faba4e77bd0>,
 <Element 'featurename' at 0x7faba4e776d0>,
 <Element 'featurename' at 0x7faba4e77310>,
 <Element 'featurename' at 0x7faba4e9ae50>,
 <Element 'featurename' at 0x7faba4e9c130>,
 <Element 'featurename' at 0x7faba4e9c3b0>,
 <Element 'featurename' at 0x7faba4e9c630>,
 <Element 'featurename' at 0x7faba4e9c8b0>,
 <Element 'featurename' at 0x7faba4e9cb30>,
 <Element 'featurename' at 0x7faba4e9cdb0>,
 <Element 'featurename' at 0x7faba4e9f090>,
 <Element 'featurename' at 0x7faba4e9f310>,
 <Element 'featurename' at 0x7faba4e9f590>,
 <Element 'featurename' at 0x7faba4e9f810>,
 <Element 'featurename' at 0x7faba4e9fae0>,
 <Element 'featurename' at 0x7faba4e9fd60>,
 <Element 'featurename' at 0x7faba4ea1040>,
 <Element 'featurename' at 0x7faba4ea12c0>,
 <Element 'featurename' at 0x7faba4ea1540>,
 <Element 'featurename' at 0x7faba4ea1810>,
 <Element 'featurename' at 0x7faba4ea1a90>,
 <Element 'featurename' at 0x7faba4ea1d60>,
 <Element 'featurename' at 0x7faba4ea5090>,
 <Element 'featurename' at 0x7faba4ea5310>,
 <Element 'featurename' at 0x7faba4ea5590>,
 <Element 'featurename' at 0x7faba4ea5810>]

It is very similar to the previous example, except for the two forward slashes at the beginning of the query.
The two forward slashes are short for <font color='orange'>/descendant-or-self::node()/</font>. 
Here <font color='orange'>.//featurename</font> selects any 'featurename' element in the XML document. 
Similarly, we can extract the text with <font color='orange'>Element.text</font>.

Remember that to visit the elements in the XML document in order, 
you can use <font color='blue'>iter()</font> to create an iterator that iterates over all the ElementTree instances in a tree.
We have shown you how to explore the element hierarchy with this iteration fucntion.
Here you are going to learn how to find specifc elements.
[ElementTree's API](https://docs.python.org/2/library/xml.etree.elementtree.html#xml.etree.ElementTree.Element.findall)
shows that <font color='blue'>iter()</font> function can take an argument <font color='blue'>tag</font>.
If the tag is specified, the iterator loops over all elements in the tree and returns 
a list of elements having the specified tag.

In [47]:
featurename = [] 
for elem in tree.iter(tag = 'featurename'):
   featurename.append(elem.text) 
featurename

['Harbour Town - Docklands Dve - Docklands',
 'Federation Square - Flinders St / Swanston St - City',
 'Plum Garland Reserve - Beaconsfield Pde - Albert Park',
 'State Library - Swanston St / Little Lonsdale St - City',
 'Bourke Street Mall - 205 Bourke St - City',
 'Melbourne Uni - Tin Alley - Carlton',
 'RMIT - Swanston St / Franklin St - City',
 "St Paul's Cathedral - Swanston St / Flinders St - City",
 'MSAC - Aughtie Dve - Albert Park',
 'Fitzroy Town Hall - Moor St - Fitzroy',
 'Coventry St / St Kilda Rd - Southbank',
 'NAB - Harbour Esp / Bourke St - Docklands',
 "Yarra's Point - Lorimer St / Yarra River - Docklands",
 'Argyle Square - Lygon St - Carlton',
 'Parliament Station - Nicholson St / Albert St - City',
 'Bridport St / Montague St - Albert Park',
 'Pickles St / Ingles St - Port Melbourne',
 "Yarra's Edge - River Esp / Yarra River - Docklands",
 'North Melbourne Station - Adderley St - North Melbourne',
 'Sandridge Bridge - Southbank',
 'Beach St - Port Melbourne',
 'New Quay Prom / Harbour Esp - Docklands',
 'Queensbridge St / Yarra River - Southbank',
 'Southern Cross Station - Spencer St - City',
 'Gasworks Arts Park - Pickles St - Albert Park',
 'Cleve Gardens - Fitzroy St - St Kilda',
 'West Beach Pavilion - Beaconsfield Pde - St Kilda West',
 'Siddeley St / Seafarers Bridge - Docklands',
 'RACV - Bourke St / New Chancery Ln - City',
 'Yorkshire Brewery - Wellington St - Collingwood',
 'Napier St / Victoria Pde - Fitzroy',
 'University Square - Grattan St - Carlton',
 'Aquarium - Kings Way / Flinders St - City',
 'Richmond Station - Brunton Ave - East Melbourne',
 'Rod Laver Arena - Batman Ave / Swan St - City',
 'Domain Interchange - Park St / St Kilda Rd - Melbourne',
 'Kings Way / St Kilda Rd - Melbourne',
 'Spring St / Collins St - City',
 'Queens Rd / Bowen Cres - Melbourne',
 'Luna Park - Lower Esp - St Kilda',
 'South Melbourne Market - York St / Cecil St - South Melbourne',
 'VCAM - St Kilda Rd / Southbank Blvd - Southbank',
 'Museum - Rathdowne St - Carlton',
 'Jolimont Station - Wellington Pde South - East Melbourne',
 'ACCA - Sturt St - Southbank',
 'ANZ - Collins St - Docklands',
 'Flagstaff Gardens - Peel St - West Melbourne',
 'Victoria Market - Elizabeth St / Victoria St - City',
 'Coventry St / Clarendon St - South Melbourne',
 'Fitzroy Street - St Kilda']

The code pulls out data from all elements with a tag equal to '*featurename*', and stores the text in a list.
Similarly, you can retrieve data from elements having the following tags: 'id', 'terminalname', 'nbbikes',
'nbemptydoc', and 'uploaddate' as follows. Note that we only print out the first 10 records of the retrieved data.

In [48]:
id = [] 
for elem in tree.iter(tag='id'):
       id.append(elem.text) 
id[:10]

['2', '4', '5', '6', '7', '8', '9', '10', '11', '12']

In [49]:
terminalname = []
for elem in tree.iter(tag='terminalname'):
       terminalname.append(elem.text) 
terminalname[:10]

['60000',
 '60001',
 '60002',
 '60003',
 '60004',
 '60005',
 '60006',
 '60007',
 '60008',
 '60009']

In [50]:
nbbikes = []
for elem in tree.iter(tag='nbbikes'):
       nbbikes.append(elem.text)  
nbbikes[:10]

['9', '15', '16', '9', '10', '2', '11', '4', '9', '3']

In [51]:
nbemptydoc  = []
for elem in tree.iter(tag='nbemptydoc'):
       nbemptydoc.append(elem.text) 
nbemptydoc[:10]

['14', '7', '1', '2', '1', '17', '0', '7', '18', '4']

In [52]:
uploaddate = []
for elem in tree.iter(tag='uploaddate'):
       uploaddate.append(elem.text)  
uploaddate[:10]

['1453986006',
 '1453986006',
 '1453986006',
 '1453986006',
 '1453986006',
 '1453986006',
 '1453986006',
 '1453986006',
 '1453986006',
 '1453986006']

As mentioned in the introduction section, latitudes and longitudes
are stored as attributes in 'coordinates' elements. 
Extracting them needs to access specific attributes that corresponds
to latitude and longitude.
Recall that attributes are dictionaries. 
To extract a specific attribute value, you can use the 
square brackets along with the attribute name as the key to obtain
its value.
Let's first extract all the latitudes and longitudes and store them in two lists,
"lat" and "lon" respectively.

In [53]:
lat = []
lon = []
for elem in tree.iter(tag='coordinates'):
    lat.append(elem.attrib['latitude'])
    lon.append(elem.attrib['longitude'])
print (lat[0:10])
print (lon[0:10])

['-37.814022', '-37.817523', '-37.84782', '-37.810702', '-37.813088', '-37.79625', '-37.807699', '-37.817189', '-37.842395', '-37.801813']
['144.939521', '144.967814', '144.948196', '144.964417', '144.967437', '144.960858', '144.963095', '144.967409', '144.961868', '144.979209']

The last step is to store the extracted data into Pandas DataFrame.
There are multiple ways of constructing a DataFrame object. 
Here you are going to generate a DataFrame by passing a Python dictionary to DataFrame's constructor
and setting the index to IDs.

In [54]:
import pandas as pd 
dataDict = {}
dataDict['Featurename'] = featurename
dataDict['TerminalName'] = terminalname
dataDict['NBBikes'] = nbbikes
dataDict['NBEmptydoc'] = nbemptydoc
dataDict['UploadDate'] = uploaddate
dataDict['lat'] = lat
dataDict['lon'] = lon
df = pd.DataFrame(dataDict, index = id)
df.index.name = 'ID'
df.head()

,Featurename,TerminalName,NBBikes,NBEmptydoc,UploadDate,lat,lon
ID,,,,,,,
2,Harbour Town - Docklands Dve - Docklands,60000,9,14,1453986006,-37.814022,144.939521
4,Federation Square - Flinders St / Swanston St ...,60001,15,7,1453986006,-37.817523,144.967814
5,Plum Garland Reserve - Beaconsfield Pde - Albe...,60002,16,1,1453986006,-37.84782,144.948196
6,State Library - Swanston St / Little Lonsdale ...,60003,9,2,1453986006,-37.810702,144.964417
7,Bourke Street Mall - 205 Bourke St - City,60004,10,1,1453986006,-37.813088,144.967437

Pandas DataFrame has automatically sorted the columns according the alphabetic order of column names. 
You can change the order and make the dataframe look exactly the same as the one you got in Chapter 2. It can be easily done by specifying the value of the `columns` argument in the DataFrame constructor.
As a simple exercise, you are going to tidy up the dates, as we have done in Chapter 2.
* * *

## Part 4: PDF File

Portable Document Format ([PDF](https://acrobat.adobe.com/au/en/products/about-adobe-pdf.html)), invented by Adobe, is "*a file format used to present and exchange documents reliably, independent of software, hardware, or operating system.*" It is a great format for representing digital documents since each PDF file encapsulates a complete description of the layout of the original document (i.e., the text, fonts, graphics, and other meta information of the document). However, itâ€™s a document representation format and not a data format that is machine readable, like CSV, JSON, and XML. Unfortunately, much of real world data is stored in PDF files, particularly the data published by some government agencies and finance institutions. 
Here we would also like to point out that if you can avoid having to extract
data from PDFs, you should.

For data analysis, PDF is not a preferred storage or presentation format. However, sometimes we do not have any other choice. Throughout this chapter, you are going to learn two different ways of scraping data from PDFs with examples. We will cover how to write your own Python scripts, how to use some existing tools, and finally how to save the parsed data into a CSV file.

The example used in this chapter is "[Table 2: Nutrition](http://www.unicef.org/sowc2014/numbers/documents/english/EN-FINAL%20Table%202.pdf)" from Unicef's report on [The State of the Worlds Children](http://www.unicef.org/sowc2014/numbers/) for 2014. Click the link to download the pdf file, named "EN-FINAL Table 2.pdf" and save it into the same folder as where you stored this notebook. It is the same data as that used in the previous chapter, but in PDF format. The following screenshot shows what the the first page of the PDF file looks like. 
![](image/parse_pdf_table_2_page_1.jpg)

PDFs are more difficult to work with than Excel files because different PDFs can have different formats that are unpredictable. For those curious why it is so difficult to extract data from PDFs, you might be interested in reading the story from [ProPublica](https://www.propublica.org/nerds/item/heart-of-nerd-darkness-why-dollars-for-docs-was-so-difficult) (Read Section "PDFs Considered Harmful" ðŸ“– ). There are many ways of extracting data from PDFs. Just to name a few, here is a list of tools:

* [pdfminer](http://www.unixuser.org/~euske/python/pdfminer/): A tool for extracting text, images, object coordinates, metadata from PDF documents. It includes a PDF converter and an extensible PDF parser. 
* [pdftables](https://github.com/chrisdev/pdftables): A tool for extracting tables from PDF files, it uses pdfminer to get information on the locations of text elements. Each row in the table is extracted and stored in a list.
* [slate](https://pypi.python.org/pypi/slate): A Python package that simplifies the process of extracting text from PDF files. It is a small Python module that wraps pdfminer's API.
* [PyPDF2](http://mstamy2.github.io/PyPDF2/): A Python library built for manipulating PDFs, such as extracting document information, splitting, merging, and cropping pages, etc.
* [Tabula](http://tabula.technology/): A simple tool for extracting data tables out of PDF files. It is quite simple to use.

Try to find more tools on Internet! Note that you should search for PDF parsing tools that are capable of extracting data from PDFs, as some parsing tools are not suitable for data extraction.

Besides these tools, you can also scrape data from PDF files with many programming languages, like Python. After searching for online tutorials, documentation, and blog post, such as 
* [Get Started With Scraping â€“ Extracting Simple Tables from PDF Documents](http://schoolofdata.org/2013/06/18/get-started-with-scraping-extracting-simple-tables-from-pdf-documents/) ðŸ“– . It dicusses how to use pdftohtml to extract tables from PDFs.

In this chapter we will demonstrate how to use pdfminder and pdftables to extract data tables out from the downloaded PDF file and save the extracted data into a CSV file.
You are also required to try Tabula on the same PDF file as an exercise.
* * *

### Scraping data from PDFs with PDFMiner
We start with a crude approach in which one first converts PDF to text, and then extracts data for the text using, for example, regular expression. 
This approach is better if you have a very large PDF file or a series of PDF files that corresponds to a set of consistent documents. We will also show the drawbacks of this approach later in this section. 


### 4.1 Converting PDF to Text
To convert the downloaded PDF file to a text file, we are going to use *pdf2txt.py*, a command that comes with pdfminer. Let's install pdfminer. In your command line window, type either of the following scripts:
```shell
    pip install pdfminer.six==20181108
```
or 
```
    conda install -c https://conda.anaconda.org/hargup pdfminer
```

If you do not have *pip* or another Python package manager installed, You can also download the pdfminer package directly from its website, and install it using the Makefile as follows:
```shell
    make install
```

Now we have pdfminer installed and are ready to convert our PDF to text by running the following command:
```shell
   pdf2txt.py -o en_final_table_2.txt EN_FINAL_Table_2.pdf
```
The argument `-o` is the text file we want to create, the second argument is the PDF file that we want to convert. After running the above command, we have a text version of the PDF file, i.e., `en_final_table_2.txt`.

Take a moment to skim the txt file and the original PDF file, and have a comparison. What do you find? 

The text file is quite messy. All the tables have been converted into text form, and the nice table layout shown in the PDF file is lost. Now how can we extract data tables and reconstruct the layout? In the following section, you will learn how to gradually develop a Python script for scraping data from our converted text file. 

First, let's read the new text file into python.

In [55]:
pdfTxtFile = 'data/en_final_table_2.txt'
pdf_txt = open(pdfTxtFile, 'r')

# loop over all the lines
for line in pdf_txt:
    # repr() is a built-in Python fuction that returns a string containing a printable representation of an object.
    print (repr(line))

'TABLE 2     NUTRITION\n'
'\n'
'Countries  \n'
'and areas\n'
'Afghanistan \n'
'Albania \n'
'Algeria \n'
'Andorra \n'
'Angola \n'
'Antigua and Barbuda \n'
'Argentina \n'
'Armenia \n'
'Australia \n'
'Austria \n'
'Azerbaijan \n'
'Bahamas \n'
'Bahrain \n'
'Bangladesh \n'
'Barbados \n'
'Belarus \n'
'Belgium \n'
'Belize \n'
'Benin \n'
'Bhutan \n'
'Bolivia (Plurinational \n'
'   State of) \n'
'Bosnia and Herzegovina \n'
'Botswana \n'
'Brazil \n'
'Brunei Darussalam \n'
'Bulgaria \n'
'Burkina Faso \n'
'Burundi \n'
'Cabo Verde \n'
'Cambodia \n'
'Cameroon \n'
'Canada \n'
'Central African Republic \n'
'Chad \n'
'Chile \n'
'China \n'
'Colombia \n'
'Comoros \n'
'Congo \n'
'\n'
'birthweight  \n'
'\n'
'Low  \n'
'\n'
'(%) \n'
'\n'
'2008â€“2012*\n'
'\n'
'â€“  \n'
'4  \n'
'6 x \n'
'â€“  \n'
'12 x \n'
'5 x \n'
'7  \n'
'8  \n'
'7 x \n'
'7 x \n'
'10 x \n'
'11 x \n'
'â€“  \n'
'22 x \n'
'12  \n'
'4 x \n'
'â€“  \n'
'11  \n'
'15 x \n'
'10  \n'
'\n'
'6  \n'
'3  \n'
'13 x \n'
'8  \n'
'â€“  \n'
'9  \n'
'14  \n'
'13  \n'
'6 x \n'
'11  \n'
'11 x \n'
'6 x \n'
'14  \n'
'20  \n'
'6  \n'
'3  \n'
'6 x \n'
'25 x \n'
'13 x \n'
'\n'
'Early initiation  \n'
'of breastfeeding \n'
'\n'
'(%)\n'
'\n'
'Exclusive \n'
'breastfeeding\n'
'<6 months (%)\n'
'\n'
'Introduction of \n'
'solid, semi-solid \n'
'\n'
'or soft foods  \n'
'6â€“8 months (%)\n'
'\n'
'Underweight (%)\n'
'\n'
'Breastfeeding  \n'
'at age 2 (%)\n'
'\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'severe\n'
'\n'
'2008â€“2012*\n'
'\n'
'Stunting (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'2008â€“2012*\n'
'\n'
'Wasting (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'Overweight (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'â€“  \n'
'43  \n'
'50 x \n'
'â€“  \n'
'55 x \n'
'â€“  \n'
'â€“  \n'
'36  \n'
'â€“  \n'
'â€“  \n'
'32 x \n'
'â€“  \n'
'â€“  \n'
'47  \n'
'â€“  \n'
'21 x \n'
'â€“  \n'
'62  \n'
'50  \n'
'59  \n'
'\n'
'64  \n'
'42  \n'
'40 x \n'
'68  \n'
'â€“  \n'
'â€“  \n'
'42  \n'
'74  \n'
'73 x \n'
'66  \n'
'20 x \n'
'â€“  \n'
'44  \n'
'29  \n'
'â€“  \n'
'41  \n'
'49 x \n'
'25 x \n'
'39 x \n'
'\n'
'â€“  \n'
'39  \n'
'7 x \n'
'â€“  \n'
'11 x \n'
'â€“  \n'
'54  \n'
'35  \n'
'â€“  \n'
'â€“  \n'
'12 x \n'
'â€“  \n'
'â€“  \n'
'64  \n'
'â€“  \n'
'9 x \n'
'â€“  \n'
'15  \n'
'33  \n'
'49  \n'
'\n'
'60  \n'
'19  \n'
'20 x \n'
'41  \n'
'â€“  \n'
'â€“  \n'
'38  \n'
'69  \n'
'60 x \n'
'74  \n'
'20  \n'
'â€“  \n'
'34  \n'
'3  \n'
'63 x \n'
'28  \n'
'43  \n'
'â€“  \n'
'19 x \n'
'\n'
'29 x \n'
'78  \n'
'39 x,y \n'
'â€“  \n'
'77 x \n'
'â€“  \n'
'â€“  \n'
'75  \n'
'â€“  \n'
'â€“  \n'
'83 x \n'
'â€“  \n'
'â€“  \n'
'62  \n'
'â€“  \n'
'38 x \n'
'â€“  \n'
'69  \n'
'76 y \n'
'67  \n'
'\n'
'83  \n'
'71  \n'
'46 x,y \n'
'70 x,y \n'
'â€“  \n'
'â€“  \n'
'57  \n'
'70 y \n'
'80 x,y \n'
'88  \n'
'63 x \n'
'â€“  \n'
'60  \n'
'46  \n'
'â€“  \n'
'43 y \n'
'86  \n'
'34 x,y \n'
'78 x,y \n'
'\n'
'54 x \n'
'31  \n'
'22 x \n'
'â€“  \n'
'37 x \n'
'â€“  \n'
'28 x \n'
'23  \n'
'â€“  \n'
'â€“  \n'
'16 x \n'
'â€“  \n'
'â€“  \n'
'90  \n'
'â€“  \n'
'4 x \n'
'â€“  \n'
'35  \n'
'92  \n'
'66  \n'
'\n'
'40  \n'
'12  \n'
'6 x \n'
'25 x \n'
'â€“  \n'
'â€“  \n'
'80  \n'
'79  \n'
'13 x \n'
'43  \n'
'24  \n'
'â€“  \n'
'32  \n'
'59  \n'
'â€“  \n'
'â€“  \n'
'33  \n'
'45 x \n'
'21 x \n'
'\n'
'33 x \n'
'5  \n'
'3 x \n'
'â€“  \n'
'16 x \n'
'â€“  \n'
'2 x \n'
'5  \n'
'â€“  \n'
'â€“  \n'
'8 x \n'
'â€“  \n'
'â€“  \n'
'36  \n'
'â€“  \n'
'1 x \n'
'â€“  \n'
'6  \n'
'21  \n'
'13  \n'
'\n'
'4  \n'
'2  \n'
'11 x \n'
'2 x \n'
'â€“  \n'
'â€“  \n'
'24  \n'
'29  \n'
'â€“  \n'
'28  \n'
'15  \n'
'â€“  \n'
'24  \n'
'30  \n'
'â€“  \n'
'4  \n'
'3  \n'
'15  \n'
'11 x \n'
'\n'
'12 x \n'
'2  \n'
'1 x \n'
'â€“  \n'
'7 x \n'
'â€“  \n'
'0 x \n'
'1  \n'
'â€“  \n'
'â€“  \n'
'2 x \n'
'â€“  \n'
'â€“  \n'
'10  \n'
'â€“  \n'
'1 x \n'
'â€“  \n'
'1  \n'
'8  \n'
'3  \n'
'\n'
'1  \n'
'1  \n'
'4 x \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'6  \n'
'8  \n'
'â€“  \n'
'7  \n'
'5  \n'
'â€“  \n'
'8  \n'
'13  \n'
'â€“  \n'
'â€“  \n'
'1  \n'
'4  \n'
'3 x \n'
'\n'
'59 x \n'
'19  \n'
'15 x \n'
'â€“  \n'
'29 x \n'
'â€“  \n'
'8 x \n'
'19  \n'
'â€“  \n'
'â€“  \n'
'25 x \n'
'â€“  \n'
'â€“  \n'
'41  \n'
'â€“  \n'
'4 x \n'
'â€“  \n'
'19  \n'
'45  \n'
'34  \n'
'\n'
'27  \n'
'9  \n'
'31 x \n'
'7 x \n'
'â€“  \n'
'â€“  \n'
'33  \n'
'58  \n'
'â€“  \n'
'40  \n'
'33  \n'
'â€“  \n'
'41  \n'
'39  \n'
'â€“  \n'
'10  \n'
'13  \n'
'30  \n'
'30 x \n'
'\n'
'9 x \n'
'9  \n'
'4 x \n'
'â€“  \n'
'8 x \n'
'â€“  \n'
'1 x \n'
'4  \n'
'â€“  \n'
'â€“  \n'
'7 x \n'
'â€“  \n'
'â€“  \n'
'16  \n'
'â€“  \n'
'2 x \n'
'â€“  \n'
'3  \n'
'16  \n'
'6  \n'
'\n'
'1  \n'
'2  \n'
'7 x \n'
'2 x \n'
'â€“  \n'
'â€“  \n'
'11  \n'
'6  \n'
'â€“  \n'
'11  \n'
'6  \n'
'â€“  \n'
'7  \n'
'16  \n'
'â€“  \n'
'2  \n'
'1  \n'
'11  \n'
'8 x \n'
'\n'
'5 x \n'
'22  \n'
'13 x \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'10 x \n'
'15  \n'
'â€“  \n'
'â€“  \n'
'13 x \n'
'â€“  \n'
'â€“  \n'
'2  \n'
'â€“  \n'
'10 x \n'
'â€“  \n'
'8  \n'
'18  \n'
'8  \n'
'\n'
'9  \n'
'17  \n'
'11 x \n'
'7 x \n'
'â€“  \n'
'â€“  \n'
'2  \n'
'3  \n'
'â€“  \n'
'2  \n'
'7  \n'
'â€“  \n'
'2  \n'
'3  \n'
'â€“  \n'
'7  \n'
'5  \n'
'9  \n'
'3  \n'
'\n'
'36      THE STATE OF THE WORLDâ€™S CHILDREN 2014 IN NUMBERS\n'
'\n'
'T\n'
'A\n'
'B\n'
'L\n'
'E\n'
'2\n'
'\n'
' \n'
'\n'
'Iodized salt \n'
'\n'
'consumption (%) \n'
'\n'
'2008â€“2012*\n'
'\n'
'20 \n'
'76 \n'
'61 x\n'
'â€“ \n'
'45 x\n'
'â€“ \n'
'â€“ \n'
'97 x\n'
'â€“ \n'
'â€“ \n'
'54 x\n'
'â€“ \n'
'â€“ \n'
'82 y\n'
'â€“ \n'
'â€“\n'
'â€“ \n'
'â€“ \n'
'86 \n'
'96 x,y\n'
'\n'
'89 y\n'
'62 x,y\n'
'65 x\n'
'96 x,y\n'
'â€“ \n'
'100 x\n'
'96 y\n'
'96 y\n'
'75 \n'
'83 y\n'
'49 x,y\n'
'â€“ \n'
'65 \n'
'54 \n'
'â€“ \n'
'97 y\n'
'â€“ \n'
'82 x\n'
'82 x\n'
'\n'
'Vitamin A \n'
'\n'
'supplementation, \n'
'full coverageÎ” (%) \n'
'\n'
'2012\n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'44  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'90 w \n'
'â€“  \n'
'â€“  \n'
'99  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'99  \n'
'43  \n'
'\n'
'41  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'99  \n'
'â€“  \n'
'â€“  \n'
'98  \n'
'88  \n'
'â€“  \n'
'83  \n'
'0  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'\n'
'\x0cTABLE 2       NUTRITION >>\n'
'\n'
'Countries  \n'
'and areas\n'
'Cook Islands \n'
'Costa Rica \n'
'CÃ´te dâ€™Ivoire \n'
'Croatia \n'
'Cuba \n'
'Cyprus \n'
'Czech Republic \n'
'Democratic Peopleâ€™s \n'
'   Republic of Korea \n'
'Democratic Republic \n'
'   of the Congo \n'
'Denmark \n'
'Djibouti \n'
'Dominica \n'
'Dominican Republic \n'
'Ecuador \n'
'Egypt \n'
'El Salvador \n'
'Equatorial Guinea \n'
'Eritrea \n'
'Estonia \n'
'Ethiopia \n'
'Fiji \n'
'Finland \n'
'France \n'
'Gabon \n'
'Gambia \n'
'Georgia \n'
'Germany \n'
'Ghana \n'
'Greece \n'
'Grenada \n'
'Guatemala \n'
'Guinea \n'
'Guinea-Bissau \n'
'Guyana \n'
'Haiti \n'
'Holy See \n'
'Honduras \n'
'Hungary \n'
'\n'
'birthweight  \n'
'\n'
'Low  \n'
'\n'
'(%) \n'
'\n'
'2008â€“2012*\n'
'\n'
'3 x \n'
'7  \n'
'17 x \n'
'5  \n'
'5  \n'
'â€“  \n'
'7 x \n'
'\n'
'6  \n'
'\n'
'10  \n'
'5 x \n'
'10 x \n'
'10  \n'
'11 x \n'
'8  \n'
'13  \n'
'9  \n'
'13 x \n'
'14 x \n'
'4 x \n'
'20 x \n'
'10 x \n'
'4 x \n'
'â€“  \n'
'14 x \n'
'10  \n'
'5  \n'
'â€“  \n'
'11  \n'
'â€“  \n'
'9 x \n'
'11  \n'
'12 x \n'
'11  \n'
'14  \n'
'23  \n'
'â€“  \n'
'10  \n'
'9 x \n'
'\n'
'Early initiation  \n'
'of breastfeeding \n'
'\n'
'(%)\n'
'\n'
'Exclusive \n'
'breastfeeding\n'
'<6 months (%)\n'
'\n'
'Introduction of \n'
'solid, semi-solid \n'
'\n'
'or soft foods  \n'
'6â€“8 months (%)\n'
'\n'
'Underweight (%)\n'
'\n'
'Breastfeeding  \n'
'at age 2 (%)\n'
'\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'severe\n'
'\n'
'2008â€“2012*\n'
'\n'
'Stunting (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'2008â€“2012*\n'
'\n'
'Wasting (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'Overweight (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'â€“  \n'
'â€“  \n'
'31  \n'
'â€“  \n'
'77  \n'
'â€“  \n'
'â€“  \n'
'\n'
'18  \n'
'\n'
'43  \n'
'â€“  \n'
'55 x \n'
'â€“  \n'
'69 x \n'
'â€“  \n'
'43 x \n'
'33  \n'
'â€“  \n'
'78 x \n'
'â€“  \n'
'52  \n'
'57 x \n'
'â€“  \n'
'â€“  \n'
'32  \n'
'52  \n'
'69  \n'
'â€“  \n'
'46  \n'
'â€“  \n'
'â€“  \n'
'56  \n'
'40 x \n'
'55  \n'
'43 x \n'
'47  \n'
'â€“  \n'
'64  \n'
'â€“  \n'
'\n'
'â€“  \n'
'19 x \n'
'12  \n'
'â€“  \n'
'49  \n'
'â€“  \n'
'â€“  \n'
'\n'
'65 x \n'
'\n'
'37  \n'
'â€“  \n'
'1 x \n'
'â€“  \n'
'8 x \n'
'40 x \n'
'53  \n'
'31  \n'
'24 x \n'
'52 x \n'
'â€“  \n'
'52  \n'
'40 x \n'
'â€“  \n'
'â€“  \n'
'6  \n'
'34  \n'
'55  \n'
'â€“  \n'
'46  \n'
'â€“  \n'
'â€“  \n'
'50  \n'
'48  \n'
'38  \n'
'33  \n'
'40  \n'
'â€“  \n'
'31  \n'
'â€“  \n'
'\n'
'â€“  \n'
'92  \n'
'64  \n'
'â€“  \n'
'77  \n'
'â€“  \n'
'â€“  \n'
'\n'
'31 x,y \n'
'\n'
'52  \n'
'â€“  \n'
'35 x \n'
'â€“  \n'
'88 x \n'
'76 x,y \n'
'70  \n'
'80  \n'
'â€“  \n'
'43 x,y \n'
'â€“  \n'
'49  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'62 x,y \n'
'34  \n'
'43 y \n'
'â€“  \n'
'75  \n'
'â€“  \n'
'â€“  \n'
'71 y \n'
'32 y \n'
'43  \n'
'81  \n'
'87  \n'
'â€“  \n'
'83 x \n'
'â€“  \n'
'\n'
'â€“  \n'
'40  \n'
'38  \n'
'â€“  \n'
'17  \n'
'â€“  \n'
'â€“  \n'
'\n'
'36  \n'
'\n'
'53  \n'
'â€“  \n'
'18 x \n'
'â€“  \n'
'14  \n'
'23 x \n'
'35  \n'
'54  \n'
'â€“  \n'
'62 x \n'
'â€“  \n'
'82  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'4  \n'
'31  \n'
'17  \n'
'â€“  \n'
'37  \n'
'â€“  \n'
'â€“  \n'
'46  \n'
'â€“  \n'
'65  \n'
'49  \n'
'31  \n'
'â€“  \n'
'43  \n'
'â€“  \n'
'\n'
'â€“  \n'
'1  \n'
'15  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'\n'
'15  \n'
'\n'
'24  \n'
'â€“  \n'
'23  \n'
'â€“  \n'
'3 x \n'
'6 x \n'
'6  \n'
'6  \n'
'11 x \n'
'35 x \n'
'â€“  \n'
'29  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'6  \n'
'17  \n'
'1  \n'
'â€“  \n'
'13  \n'
'â€“  \n'
'â€“  \n'
'13  \n'
'16  \n'
'18  \n'
'11  \n'
'11  \n'
'â€“  \n'
'7  \n'
'â€“  \n'
'\n'
'â€“  \n'
'â€“  \n'
'3  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'\n'
'3  \n'
'\n'
'8  \n'
'â€“  \n'
'5  \n'
'â€“  \n'
'0 x \n'
'1 x \n'
'1  \n'
'1  \n'
'5 x \n'
'13 x \n'
'â€“  \n'
'9  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'1  \n'
'4  \n'
'1  \n'
'â€“  \n'
'3  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'4  \n'
'5  \n'
'2  \n'
'3  \n'
'â€“  \n'
'1  \n'
'â€“  \n'
'\n'
'â€“  \n'
'6  \n'
'30  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'\n'
'28  \n'
'\n'
'43  \n'
'â€“  \n'
'31  \n'
'â€“  \n'
'10 x \n'
'29 x \n'
'29  \n'
'19  \n'
'35 x \n'
'44 x \n'
'â€“  \n'
'44  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'17  \n'
'23  \n'
'11  \n'
'â€“  \n'
'23  \n'
'â€“  \n'
'â€“  \n'
'48  \n'
'35  \n'
'32  \n'
'18  \n'
'22  \n'
'â€“  \n'
'23  \n'
'â€“  \n'
'\n'
'â€“  \n'
'1  \n'
'8  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'\n'
'4  \n'
'\n'
'9  \n'
'â€“  \n'
'10  \n'
'â€“  \n'
'2 x \n'
'2 x \n'
'7  \n'
'1  \n'
'3 x \n'
'15 x \n'
'â€“  \n'
'10  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'3  \n'
'10  \n'
'2  \n'
'â€“  \n'
'6  \n'
'â€“  \n'
'â€“  \n'
'1  \n'
'5  \n'
'6  \n'
'5  \n'
'5  \n'
'â€“  \n'
'1  \n'
'â€“  \n'
'\n'
'â€“  \n'
'8  \n'
'3  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'\n'
'â€“  \n'
'\n'
'5  \n'
'â€“  \n'
'8  \n'
'â€“  \n'
'8  \n'
'5 x \n'
'21  \n'
'6  \n'
'8 x \n'
'2 x \n'
'â€“  \n'
'2  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'7  \n'
'2  \n'
'20  \n'
'â€“  \n'
'3  \n'
'â€“  \n'
'â€“  \n'
'5  \n'
'4  \n'
'3  \n'
'6  \n'
'4  \n'
'â€“  \n'
'5  \n'
'â€“  \n'
'\n'
'T\n'
'A\n'
'B\n'
'L\n'
'E\n'
'2\n'
'\n'
' \n'
'\n'
'Iodized salt \n'
'\n'
'consumption (%) \n'
'\n'
'2008â€“2012*\n'
'\n'
'â€“ \n'
'â€“ \n'
'84 x,y\n'
'â€“ \n'
'88 x\n'
'â€“ \n'
'â€“ \n'
'\n'
'25 y\n'
'\n'
'59 \n'
'â€“ \n'
'0 x\n'
'â€“ \n'
'19 x\n'
'â€“ \n'
'79 \n'
'62 x\n'
'33 x\n'
'68 x\n'
'â€“ \n'
'15 y\n'
'â€“ \n'
'â€“ \n'
'â€“ \n'
'36 x\n'
'22 \n'
'100 \n'
'â€“ \n'
'35 \n'
'â€“ \n'
'â€“ \n'
'76 x\n'
'41 \n'
'12 \n'
'11 \n'
'18 \n'
'â€“ \n'
'â€“ \n'
'â€“ \n'
'\n'
'Vitamin A \n'
'\n'
'supplementation, \n'
'full coverageÎ” (%) \n'
'\n'
'2012\n'
'â€“  \n'
'â€“  \n'
'99  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'\n'
'99  \n'
'\n'
'84  \n'
'â€“  \n'
'88  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'62  \n'
'81  \n'
'â€“  \n'
'38  \n'
'â€“  \n'
'31  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'2  \n'
'46  \n'
'â€“  \n'
'â€“  \n'
'17  \n'
'â€“  \n'
'â€“  \n'
'14  \n'
'99  \n'
'95  \n'
'â€“  \n'
'54  \n'
'â€“  \n'
'58  \n'
'â€“  \n'
'\n'
'37      THE STATE OF THE WORLDâ€™S CHILDREN 2014 IN NUMBERS\n'
'\n'
'\x0cTABLE 2       NUTRITION >>\n'
'\n'
'Countries  \n'
'and areas\n'
'Iceland \n'
'India \n'
'Indonesia \n'
'Iran (Islamic Republic of) \n'
'Iraq \n'
'Ireland \n'
'Israel \n'
'Italy \n'
'Jamaica \n'
'Japan \n'
'Jordan \n'
'Kazakhstan \n'
'Kenya \n'
'Kiribati \n'
'Kuwait \n'
'Kyrgyzstan \n'
'Lao Peopleâ€™s \n'
'   Democratic Republic \n'
'Latvia \n'
'Lebanon \n'
'Lesotho \n'
'Liberia \n'
'Libya \n'
'Liechtenstein \n'
'Lithuania \n'
'Luxembourg \n'
'Madagascar \n'
'Malawi \n'
'Malaysia \n'
'Maldives \n'
'Mali \n'
'Malta \n'
'Marshall Islands \n'
'Mauritania \n'
'Mauritius \n'
'Mexico \n'
'Micronesia (Federated \n'
'   States of) \n'
'Monaco \n'
'Mongolia \n'
'\n'
'birthweight  \n'
'\n'
'Low  \n'
'\n'
'(%) \n'
'\n'
'2008â€“2012*\n'
'\n'
'4 x \n'
'28 x \n'
'9 x \n'
'7 x \n'
'13  \n'
'â€“  \n'
'8 x \n'
'â€“  \n'
'12 x \n'
'8 x \n'
'13 x \n'
'5  \n'
'8  \n'
'â€“  \n'
'â€“  \n'
'5 x \n'
'\n'
'15  \n'
'5 x \n'
'12  \n'
'11  \n'
'14  \n'
'â€“  \n'
'â€“  \n'
'4 x \n'
'8 x \n'
'16  \n'
'14  \n'
'11  \n'
'11  \n'
'18  \n'
'6 x \n'
'18 x \n'
'35  \n'
'14 x \n'
'9  \n'
'\n'
'18 x \n'
'â€“  \n'
'5  \n'
'\n'
'Early initiation  \n'
'of breastfeeding \n'
'\n'
'(%)\n'
'\n'
'Exclusive \n'
'breastfeeding\n'
'<6 months (%)\n'
'\n'
'Introduction of \n'
'solid, semi-solid \n'
'\n'
'or soft foods  \n'
'6â€“8 months (%)\n'
'\n'
'Underweight (%)\n'
'\n'
'Breastfeeding  \n'
'at age 2 (%)\n'
'\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'severe\n'
'\n'
'2008â€“2012*\n'
'\n'
'Stunting (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'2008â€“2012*\n'
'\n'
'Wasting (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'Overweight (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'â€“  \n'
'41  \n'
'29  \n'
'56 x \n'
'43  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'62 x \n'
'â€“  \n'
'39 x \n'
'68  \n'
'58  \n'
'â€“  \n'
'â€“  \n'
'65 x \n'
'\n'
'30 x \n'
'â€“  \n'
'â€“  \n'
'53  \n'
'67 x \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'72  \n'
'95  \n'
'â€“  \n'
'64  \n'
'57  \n'
'â€“  \n'
'73 x \n'
'81  \n'
'â€“  \n'
'18  \n'
'\n'
'â€“  \n'
'â€“  \n'
'71  \n'
'\n'
'â€“  \n'
'46 x \n'
'42  \n'
'23 x \n'
'20  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'15 x \n'
'â€“  \n'
'23  \n'
'32  \n'
'32  \n'
'69  \n'
'â€“  \n'
'32 x \n'
'\n'
'26 x \n'
'â€“  \n'
'15  \n'
'54  \n'
'29 x \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'51  \n'
'71  \n'
'â€“  \n'
'48  \n'
'20  \n'
'â€“  \n'
'31 x \n'
'46  \n'
'21 x \n'
'19  \n'
'\n'
'â€“  \n'
'â€“  \n'
'66  \n'
'\n'
'â€“  \n'
'56 x \n'
'85 x \n'
'68 x,y \n'
'36  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'36 x \n'
'â€“  \n'
'83 x \n'
'49  \n'
'85  \n'
'â€“  \n'
'â€“  \n'
'60 x \n'
'\n'
'41 x \n'
'â€“  \n'

'35 x,y \n'
'68  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'86  \n'
'86  \n'
'â€“  \n'
'91  \n'
'27  \n'
'â€“  \n'
'77 x \n'
'61 y \n'
'â€“  \n'
'27  \n'
'\n'
'â€“  \n'
'â€“  \n'
'66  \n'
'\n'
'â€“  \n'
'77 x \n'
'55  \n'
'58 x \n'
'23  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'24 x \n'
'â€“  \n'
'13  \n'
'26  \n'
'54  \n'
'82  \n'
'â€“  \n'
'26 x \n'
'\n'
'48 x \n'
'â€“  \n'
'15  \n'
'35  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'61  \n'
'77  \n'
'â€“  \n'
'68  \n'
'46  \n'
'â€“  \n'
'53 x \n'
'47  \n'
'â€“  \n'
'â€“  \n'
'\n'
'â€“  \n'
'â€“  \n'
'65  \n'
'\n'
'â€“  \n'
'43 x \n'
'18  \n'
'â€“  \n'
'9  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'3  \n'
'â€“  \n'
'3  \n'
'4  \n'
'16  \n'
'â€“  \n'
'â€“  \n'
'5  \n'
'\n'
'27  \n'
'â€“  \n'
'â€“  \n'
'13  \n'
'15  \n'
'4 x \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'36 x \n'
'13  \n'
'12  \n'
'17  \n'
'19  \n'
'â€“  \n'
'â€“  \n'
'20  \n'
'â€“  \n'
'3  \n'
'\n'
'â€“  \n'
'â€“  \n'
'3  \n'
'\n'
'â€“  \n'
'16 x \n'
'5  \n'
'â€“  \n'
'4  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'1  \n'
'1  \n'
'4  \n'
'â€“  \n'
'â€“  \n'
'1  \n'
'\n'
'7  \n'
'â€“  \n'
'â€“  \n'
'2  \n'
'2  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'3  \n'
'2  \n'
'3  \n'
'5  \n'
'â€“  \n'
'â€“  \n'
'4  \n'
'â€“  \n'
'â€“  \n'
'\n'
'â€“  \n'
'â€“  \n'
'1  \n'
'\n'
'â€“  \n'
'48 x \n'
'36  \n'
'â€“  \n'
'23  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'5  \n'
'â€“  \n'
'8  \n'
'13  \n'
'35  \n'
'â€“  \n'
'â€“  \n'
'23  \n'
'\n'
'44  \n'
'â€“  \n'
'â€“  \n'
'39  \n'
'42  \n'
'21 x \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'50  \n'
'47  \n'
'17  \n'
'19  \n'
'28  \n'
'â€“  \n'
'â€“  \n'
'23  \n'
'â€“  \n'
'14  \n'
'\n'
'â€“  \n'
'â€“  \n'
'15  \n'
'\n'
'â€“  \n'
'20 x \n'
'13  \n'
'â€“  \n'
'7  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'4  \n'
'â€“  \n'
'2  \n'
'4  \n'
'7  \n'
'â€“  \n'
'â€“  \n'
'1  \n'
'\n'
'6  \n'
'â€“  \n'
'â€“  \n'
'4  \n'
'3  \n'
'4 x \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'15 x \n'
'4  \n'
'12  \n'
'11  \n'
'9  \n'
'â€“  \n'
'â€“  \n'
'12  \n'
'â€“  \n'
'2  \n'
'\n'
'â€“  \n'
'â€“  \n'
'2  \n'
'\n'
'â€“  \n'
'2 x \n'
'12  \n'
'â€“  \n'
'12  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'4  \n'
'â€“  \n'
'4  \n'
'1  \n'
'5  \n'
'â€“  \n'
'â€“  \n'
'4  \n'
'\n'
'2  \n'
'â€“  \n'
'â€“  \n'
'7  \n'
'5  \n'
'22 x \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'8  \n'
'5  \n'
'7  \n'
'1  \n'
'â€“  \n'
'â€“  \n'
'1  \n'
'â€“  \n'
'10  \n'
'\n'
'â€“  \n'
'â€“  \n'
'11  \n'
'\n'
'T\n'
'A\n'
'B\n'
'L\n'
'E\n'
'2\n'
'\n'
' \n'
'\n'
'Iodized salt \n'
'\n'
'consumption (%) \n'
'\n'
'2008â€“2012*\n'
'\n'
'â€“ \n'
'71 \n'
'62 x,y\n'
'99 x,y\n'
'29 \n'
'â€“ \n'
'â€“ \n'
'â€“ \n'
'â€“ \n'
'â€“ \n'
'88 x,y\n'
'85 \n'
'98 \n'
'â€“ \n'
'â€“ \n'
'76 x\n'
'\n'
'80 y\n'
'â€“ \n'
'71 \n'
'84 \n'
'â€“ \n'
'â€“ \n'
'â€“ \n'
'â€“ \n'
'â€“ \n'
'53 \n'
'97 y\n'
'18 \n'
'44 x\n'
'79 x\n'
'â€“ \n'
'â€“ \n'
'23 \n'
'â€“ \n'
'91 x\n'
'\n'
'â€“ \n'
'â€“ \n'
'70 \n'
'\n'
'Vitamin A \n'
'\n'
'supplementation, \n'
'full coverageÎ” (%) \n'
'\n'
'2012\n'
'â€“  \n'
'59  \n'
'73  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'66  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'\n'
'47  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'13  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'88  \n'
'60  \n'
'â€“  \n'
'â€“  \n'
'93  \n'
'â€“  \n'
'â€“  \n'
'99  \n'
'â€“  \n'
'â€“  \n'
'\n'
'â€“  \n'
'â€“  \n'
'54  \n'
'\n'
'38      THE STATE OF THE WORLDâ€™S CHILDREN 2014 IN NUMBERS\n'
'\n'
'\x0cTABLE 2       NUTRITION >>\n'
'\n'
'Countries  \n'
'and areas\n'
'Montenegro \n'
'Morocco \n'
'Mozambique \n'
'Myanmar \n'
'Namibia \n'
'Nauru \n'
'Nepal \n'
'Netherlands \n'
'New Zealand \n'
'Nicaragua \n'
'Niger \n'
'Nigeria \n'
'Niue \n'
'Norway \n'
'Oman \n'
'Pakistan \n'
'Palau \n'
'Panama \n'
'Papua New Guinea \n'
'Paraguay \n'
'Peru \n'
'Philippines \n'
'Poland \n'
'Portugal \n'
'Qatar \n'
'Republic of Korea \n'
'Republic of Moldova \n'
'Romania \n'
'Russian Federation \n'
'Rwanda \n'
'Saint Kitts and Nevis \n'
'Saint Lucia \n'
'Saint Vincent and \n'
'   the Grenadines \n'
'Samoa \n'
'San Marino \n'
'Sao Tome and Principe \n'
'Saudi Arabia \n'
'Senegal \n'
'Serbia \n'
'\n'
'birthweight  \n'
'\n'
'Low  \n'
'\n'
'(%) \n'
'\n'
'2008â€“2012*\n'
'\n'
'4 x \n'
'15 x \n'
'17  \n'
'9  \n'
'16 x \n'
'27 x \n'
'18  \n'
'â€“  \n'
'6 x \n'
'8  \n'
'27 x \n'
'15  \n'
'0 x \n'
'5 x \n'
'10  \n'
'32 x \n'
'â€“  \n'
'10 x \n'
'11 x \n'
'6  \n'
'8 x \n'
'21  \n'
'6 x \n'
'8 x \n'
'â€“  \n'
'4 x \n'
'6 x \n'
'8 x \n'
'6 x \n'
'7  \n'
'8  \n'
'11  \n'
'\n'
'8  \n'
'10  \n'
'â€“  \n'
'10  \n'
'â€“  \n'
'19  \n'
'6  \n'
'\n'
'Early initiation  \n'
'of breastfeeding \n'
'\n'
'(%)\n'
'\n'
'Exclusive \n'
'breastfeeding\n'
'<6 months (%)\n'
'\n'
'Introduction of \n'
'solid, semi-solid \n'
'\n'
'or soft foods  \n'
'6â€“8 months (%)\n'
'\n'
'Underweight (%)\n'
'\n'
'Breastfeeding  \n'
'at age 2 (%)\n'
'\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'severe\n'
'\n'
'2008â€“2012*\n'
'\n'
'Stunting (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'2008â€“2012*\n'
'\n'
'Wasting (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'Overweight (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'25 x \n'
'52 x \n'
'77  \n'
'76  \n'
'71 x \n'
'76 x,y \n'
'45  \n'
'â€“  \n'
'â€“  \n'
'76 x \n'
'42  \n'
'23  \n'
'â€“  \n'
'â€“  \n'
'85 x \n'
'29 x \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'47  \n'
'51  \n'
'54  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'65 x \n'
'â€“  \n'
'â€“  \n'
'71  \n'
'â€“  \n'
'â€“  \n'
'\n'
'â€“  \n'
'88  \n'
'â€“  \n'
'35 x \n'
'â€“  \n'
'48  \n'
'8  \n'
'\n'
'19 x \n'
'31 x \n'
'43  \n'
'24  \n'
'24 x \n'
'67 x \n'
'70  \n'
'â€“  \n'
'â€“  \n'
'31 x \n'
'23  \n'
'15  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'37 x \n'
'â€“  \n'
'â€“  \n'
'56 x \n'
'24  \n'
'71  \n'
'34  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'46 x \n'
'16 x \n'
'â€“  \n'
'85  \n'
'â€“  \n'
'â€“  \n'
'\n'
'â€“  \n'
'51  \n'
'â€“  \n'
'51  \n'
'â€“  \n'
'39  \n'
'14  \n'
'\n'
'35 x,y \n'
'52 x,y \n'
'90  \n'
'76  \n'
'91 x \n'
'65 x \n'
'66  \n'
'â€“  \n'
'â€“  \n'
'76 x,y \n'
'65 y \n'
'33  \n'
'â€“  \n'
'â€“  \n'
'91 x,y \n'
'36 x,y \n'
'â€“  \n'
'â€“  \n'
'76 x,y \n'
'67 y \n'
'82  \n'
'90  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'18 x,y \n'
'41 x,y \n'
'â€“  \n'
'79  \n'
'â€“  \n'
'â€“  \n'
'\n'
'â€“  \n'
'71 y \n'
'â€“  \n'
'74  \n'
'â€“  \n'
'67 y \n'
'84  \n'
'\n'
'13 x \n'
'15 x \n'
'52  \n'
'65  \n'
'28 x \n'
'65 x \n'
'93  \n'
'â€“  \n'
'â€“  \n'
'43 x \n'
'50  \n'
'35  \n'
'â€“  \n'
'â€“  \n'
'73 x \n'
'55 x \n'
'â€“  \n'
'â€“  \n'
'72 x \n'
'14  \n'
'55  \n'
'34  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'2 x \n'
'â€“  \n'
'â€“  \n'
'84  \n'
'â€“  \n'
'â€“  \n'
'\n'
'â€“  \n'
'74  \n'
'â€“  \n'
'20  \n'
'â€“  \n'
'51  \n'
'15  \n'
'\n'
'2 x \n'
'3  \n'
'15  \n'
'23  \n'
'17 x \n'
'5 x \n'
'29  \n'
'â€“  \n'
'â€“  \n'
'6 x \n'
'36  \n'
'24  \n'
'â€“  \n'
'â€“  \n'
'9  \n'
'32  \n'
'â€“  \n'
'4  \n'
'18 x \n'
'3 x \n'
'4  \n'
'22  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'3 x \n'
'4 x \n'
'â€“  \n'
'11  \n'
'â€“  \n'
'â€“  \n'
'\n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'13  \n'
'â€“  \n'
'18  \n'
'2  \n'
'\n'
'1 x \n'
'2 x \n'
'4  \n'
'6  \n'
'4 x \n'
'1 x \n'
'8  \n'
'â€“  \n'
'â€“  \n'
'1 x \n'
'13  \n'
'9  \n'
'â€“  \n'
'â€“  \n'
'1  \n'
'12  \n'
'â€“  \n'
'â€“  \n'
'5 x \n'
'â€“  \n'
'1  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'1 x \n'
'1 x \n'
'â€“  \n'
'2  \n'
'â€“  \n'
'â€“  \n'
'\n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'3  \n'
'â€“  \n'
'5  \n'
'1  \n'
'\n'
'7 x \n'
'15  \n'
'43  \n'
'35  \n'
'29 x \n'
'24 x \n'
'41  \n'
'â€“  \n'
'â€“  \n'
'22 x \n'
'44  \n'
'36  \n'
'â€“  \n'
'â€“  \n'
'10  \n'
'44  \n'
'â€“  \n'
'19  \n'
'44 x \n'
'18 x \n'
'20  \n'
'32  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'10 x \n'
'13 x \n'
'â€“  \n'
'44  \n'
'â€“  \n'
'â€“  \n'
'\n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'29  \n'
'â€“  \n'
'27  \n'
'7  \n'
'\n'
'4 x \n'
'2  \n'
'6  \n'
'8  \n'
'8 x \n'
'1 x \n'
'11  \n'
'â€“  \n'
'â€“  \n'
'1 x \n'
'18  \n'
'10  \n'
'â€“  \n'
'â€“  \n'
'7  \n'
'15  \n'
'â€“  \n'
'1  \n'
'5 x \n'
'1 x \n'
'0  \n'
'7  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'5 x \n'
'4 x \n'
'â€“  \n'
'3  \n'
'â€“  \n'
'â€“  \n'
'\n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'11  \n'
'â€“  \n'
'10  \n'
'4  \n'
'\n'
'16 x \n'
'11  \n'
'7  \n'
'3  \n'
'5 x \n'
'3 x \n'
'2  \n'
'â€“  \n'
'â€“  \n'
'6 x \n'
'2  \n'
'3  \n'
'â€“  \n'
'â€“  \n'
'2  \n'
'6  \n'
'â€“  \n'
'â€“  \n'
'4 x \n'
'7 x \n'
'10  \n'
'4  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'9 x \n'
'8 x \n'
'â€“  \n'
'7  \n'
'â€“  \n'
'â€“  \n'
'\n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'11  \n'
'â€“  \n'
'3  \n'
'16  \n'
'\n'
'T\n'
'A\n'
'B\n'
'L\n'
'E\n'
'2\n'
'\n'
' \n'
'\n'
'Iodized salt \n'
'\n'
'consumption (%) \n'
'\n'
'2008â€“2012*\n'
'\n'
'71 x\n'
'21 x\n'
'45 y\n'
'93 \n'
'63 x\n'
'â€“ \n'
'80 \n'
'â€“ \n'
'â€“ \n'
'97 x\n'
'32 \n'
'52 \n'
'â€“ \n'
'â€“ \n'
'69 x,y\n'
'69 \n'
'â€“ \n'
'â€“ \n'
'92 x\n'
'93 \n'
'91 \n'
'45 x\n'
'â€“ \n'
'â€“ \n'
'â€“ \n'
'â€“ \n'
'60 x\n'
'74 x\n'
'35 x,y\n'
'99 \n'
'100 x,y\n'
'\n'
'â€“ \n'
'\n'
'â€“ \n'
'â€“ \n'
'â€“ \n'
'86 \n'
'â€“ \n'
'47 \n'
'32 x\n'
'\n'
'Vitamin A \n'
'\n'
'supplementation, \n'
'full coverageÎ” (%) \n'
'\n'
'2012\n'
'â€“  \n'
'â€“  \n'
'20  \n'
'86  \n'
'46  \n'
'â€“  \n'
'95  \n'
'â€“  \n'
'â€“  \n'
'7  \n'
'98  \n'
'78  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'99  \n'
'â€“  \n'
'â€“  \n'
'15  \n'
'â€“  \n'
'â€“  \n'
'90  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'3  \n'
'â€“  \n'
'â€“  \n'
'\n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'34  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'\n'
'39      THE STATE OF THE WORLDâ€™S CHILDREN 2014 IN NUMBERS\n'
'\n'
'\x0cTABLE 2       NUTRITION >>\n'
'\n'
'Countries  \n'
'and areas\n'
'Seychelles \n'
'Sierra Leone \n'
'Singapore \n'
'Slovakia \n'
'Slovenia \n'
'Solomon Islands \n'
'Somalia \n'
'South Africa \n'
'South Sudan \n'
'Spain \n'
'Sri Lanka \n'
'State of Palestine \n'
'Sudan \n'
'Suriname \n'
'Swaziland \n'
'Sweden \n'
'Switzerland \n'
'Syrian Arab Republic \n'
'Tajikistan \n'
'Thailand \n'
'The former Yugoslav \n'
'   Republic of Macedonia \n'
'Timor-Leste \n'
'Togo \n'
'Tonga \n'
'Trinidad and Tobago \n'
'Tunisia \n'
'Turkey \n'
'Turkmenistan \n'
'Tuvalu \n'
'Uganda \n'
'Ukraine \n'
'United Arab Emirates \n'
'United Kingdom \n'
'United Republic \n'
'   of Tanzania \n'
'United States \n'
'Uruguay \n'
'Uzbekistan \n'
'Vanuatu \n'
'\n'
'birthweight  \n'
'\n'
'Low  \n'
'\n'
'(%) \n'
'\n'
'2008â€“2012*\n'
'\n'
'â€“  \n'
'11  \n'
'8 x \n'
'7 x \n'
'â€“  \n'
'13 x \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'17 x \n'
'9  \n'
'â€“  \n'
'14  \n'
'9  \n'
'â€“  \n'
'â€“  \n'
'10  \n'
'10 x \n'
'7  \n'
'\n'
'6  \n'
'12 x \n'
'11  \n'
'3 x \n'
'10  \n'
'7  \n'
'11  \n'
'4 x \n'
'6 x \n'
'12  \n'
'4 x \n'
'6  \n'
'8 x \n'
'\n'
'8  \n'
'8 x \n'
'9  \n'
'5 x \n'
'10 x \n'
'\n'
'Early initiation  \n'
'of breastfeeding \n'
'\n'
'(%)\n'
'\n'
'Exclusive \n'
'breastfeeding\n'
'<6 months (%)\n'
'\n'
'Introduction of \n'
'solid, semi-solid \n'
'\n'
'or soft foods  \n'
'6â€“8 months (%)\n'
'\n'
'Underweight (%)\n'
'\n'
'Breastfeeding  \n'
'at age 2 (%)\n'
'\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'severe\n'
'\n'
'2008â€“2012*\n'
'\n'
'Stunting (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'2008â€“2012*\n'
'\n'
'Wasting (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'Overweight (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'â€“  \n'
'45  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'75 x \n'
'26 x \n'
'61 x \n'
'â€“  \n'
'â€“  \n'
'80 x \n'
'â€“  \n'
'â€“  \n'
'45  \n'
'55  \n'
'â€“  \n'
'â€“  \n'
'46  \n'
'61 x \n'
'50 x \n'
'\n'
'21  \n'
'82  \n'
'46  \n'
'â€“  \n'
'41 x \n'
'87 x \n'
'39  \n'
'60 x \n'
'15 x \n'
'53  \n'
'41 x \n'
'â€“  \n'
'â€“  \n'
'\n'
'49  \n'
'â€“  \n'
'59  \n'
'67 x \n'
'72 x \n'
'\n'
'â€“  \n'
'32  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'74 x \n'
'9 x \n'
'8 x \n'
'45  \n'
'â€“  \n'
'76 x \n'
'27 x \n'
'41  \n'
'3  \n'
'44  \n'
'â€“  \n'
'â€“  \n'
'43  \n'
'25 x \n'
'15  \n'
'\n'
'23  \n'
'52  \n'
'62  \n'
'â€“  \n'
'13 x \n'
'6 x \n'
'42  \n'
'11 x \n'
'35 x \n'
'63  \n'
'18 x \n'
'â€“  \n'
'â€“  \n'
'\n'
'50  \n'
'â€“  \n'
'65  \n'
'26 x \n'
'40 x \n'
'\n'
'â€“  \n'
'25  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'80 x,y \n'
'16 x \n'
'49 x,y \n'
'21  \n'
'â€“  \n'
'87 x,y \n'
'â€“  \n'
'51  \n'
'47  \n'
'66  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'41 x \n'
'â€“  \n'
'\n'
'41  \n'
'82  \n'
'44  \n'
'â€“  \n'
'83 x \n'
'61 x,y \n'
'68 x,y \n'
'54 x \n'
'40 x,y \n'
'67  \n'
'86 x \n'
'â€“  \n'
'â€“  \n'
'\n'
'92  \n'
'â€“  \n'
'35 x,y \n'
'47 x \n'
'68 x \n'
'\n'
'â€“  \n'
'48  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'67 x \n'
'35 x \n'
'31 x \n'
'38  \n'
'â€“  \n'
'84 x \n'
'â€“  \n'
'40  \n'
'15  \n'
'11  \n'
'â€“  \n'
'â€“  \n'
'25  \n'
'34 x \n'
'â€“  \n'
'\n'
'13  \n'
'33  \n'
'64  \n'
'â€“  \n'
'22 x \n'
'15 x \n'
'22  \n'
'37 x \n'
'51 x \n'
'46  \n'
'6 x \n'
'â€“  \n'
'â€“  \n'
'\n'
'51  \n'
'â€“  \n'
'27  \n'
'38 x \n'
'32 x \n'
'\n'
'â€“  \n'
'22  \n'
'3 x \n'
'â€“  \n'
'â€“  \n'
'12 x \n'
'32 x \n'
'9 x \n'
'28  \n'
'â€“  \n'
'21 x \n'
'4  \n'
'32  \n'
'6  \n'
'6  \n'
'â€“  \n'
'â€“  \n'
'10  \n'
'12  \n'
'7 x \n'
'\n'
'1  \n'
'45  \n'
'17  \n'
'â€“  \n'
'â€“  \n'
'2  \n'
'2  \n'
'8 x \n'
'2 x \n'
'14  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'\n'
'16  \n'
'1 x \n'
'5 x \n'
'4 x \n'
'11 x \n'
'\n'
'â€“  \n'
'8  \n'
'0 x \n'
'â€“  \n'
'â€“  \n'
'2 x \n'
'12 x \n'
'â€“  \n'
'12  \n'
'â€“  \n'
'4 x \n'
'1  \n'
'13  \n'
'1  \n'
'1  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'4  \n'
'1 x \n'
'\n'
'0  \n'
'15  \n'
'4  \n'
'â€“  \n'
'â€“  \n'
'1  \n'
'0  \n'
'2 x \n'
'0 x \n'
'3  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'\n'
'4  \n'
'0 x \n'
'2 x \n'
'1 x \n'
'2 x \n'
'\n'
'â€“  \n'
'44  \n'
'4 x \n'
'â€“  \n'
'â€“  \n'
'33 x \n'
'42 x \n'
'33 x \n'
'31  \n'
'â€“  \n'
'17 x \n'
'11  \n'
'35  \n'
'9  \n'
'31  \n'
'â€“  \n'
'â€“  \n'
'28  \n'
'26  \n'
'16 x \n'
'\n'
'5  \n'
'58  \n'
'30  \n'
'â€“  \n'
'â€“  \n'
'10  \n'
'12  \n'
'19 x \n'
'10 x \n'
'33  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'\n'
'42  \n'
'3 x \n'
'15 x \n'
'19 x \n'
'26 x \n'
'\n'
'â€“  \n'
'9  \n'
'4 x \n'
'â€“  \n'
'â€“  \n'
'4 x \n'
'13 x \n'
'6 x \n'
'23  \n'
'â€“  \n'
'15 x \n'
'3  \n'
'16  \n'
'5  \n'
'1  \n'
'â€“  \n'
'â€“  \n'
'12  \n'
'10  \n'
'5 x \n'
'\n'
'2  \n'
'19  \n'
'5  \n'
'â€“  \n'
'â€“  \n'
'3  \n'
'1  \n'
'7 x \n'
'3 x \n'
'5  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'\n'
'5  \n'
'0 x \n'
'2 x \n'
'4 x \n'
'6 x \n'
'\n'
'â€“  \n'
'10  \n'
'3 x \n'
'â€“  \n'
'â€“  \n'
'3 x \n'
'5  \n'
'19 x \n'
'5  \n'
'â€“  \n'
'1  \n'
'â€“  \n'
'â€“  \n'
'4  \n'
'11  \n'
'â€“  \n'
'â€“  \n'
'18  \n'
'6  \n'
'8 x \n'
'\n'
'12  \n'
'5  \n'
'2  \n'
'â€“  \n'
'â€“  \n'
'14  \n'
'â€“  \n'
'â€“  \n'
'6 x \n'
'3  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'\n'
'5  \n'
'7 x \n'
'10 x \n'
'13 x \n'
'5 x \n'
'\n'
'T\n'
'A\n'
'B\n'
'L\n'
'E\n'
'2\n'

'\n'
' \n'
'\n'
'Iodized salt \n'
'\n'
'consumption (%) \n'
'\n'
'2008â€“2012*\n'
'\n'
'â€“ \n'
'63 \n'
'â€“ \n'
'â€“ \n'
'â€“ \n'
'â€“ \n'
'1 x\n'
'â€“ \n'
'54 \n'
'â€“ \n'
'92 x,y\n'
'86 x\n'
'10 \n'
'â€“ \n'
'52 \n'
'â€“ \n'
'â€“ \n'
'79 x\n'
'62 \n'
'47 x\n'
'\n'
'94 x,y\n'
'60 x\n'
'32 \n'
'â€“ \n'
'28 x\n'
'97 x\n'
'69 \n'
'87 x\n'
'â€“ \n'
'99 y\n'
'18 x\n'
'â€“ \n'
'â€“ \n'
'\n'
'59 \n'
'â€“ \n'
'â€“ \n'
'53 x\n'
'23 x\n'
'\n'
'Vitamin A \n'
'\n'
'supplementation, \n'
'full coverageÎ” (%) \n'
'\n'
'2012\n'
'â€“  \n'
'99  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'70  \n'
'â€“  \n'
'90  \n'
'â€“  \n'
'83  \n'
'â€“  \n'
'33  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'97  \n'
'â€“  \n'
'\n'
'â€“  \n'
'59  \n'
'64  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'70  \n'
'â€“  \n'
'â€“  \n'
'â€“  \n'
'\n'
'95  \n'
'â€“  \n'
'â€“  \n'
'99  \n'
'â€“  \n'
'\n'
'40      THE STATE OF THE WORLDâ€™S CHILDREN 2014 IN NUMBERS\n'
'\n'
'\x0cEarly initiation  \n'
'of breastfeeding \n'
'\n'
'(%)\n'
'\n'
'Exclusive \n'
'breastfeeding\n'
'<6 months (%)\n'
'\n'
'Introduction of \n'
'solid, semi-solid \n'
'\n'
'or soft foods  \n'
'6â€“8 months (%)\n'
'\n'
'Underweight (%)\n'
'\n'
'Breastfeeding  \n'
'at age 2 (%)\n'
'\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'severe\n'
'\n'
'Stunting (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'2008â€“2012*\n'
'\n'
'Wasting (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'Overweight (%)\n'
'moderate and \n'
'\n'
'severeÎ˜\n'
'\n'
'Vitamin A \n'
'\n'
'supplementation, \n'
'full coverageÎ” (%) \n'
'\n'
'2012\n'
'\n'
'T\n'
'A\n'
'B\n'
'L\n'
'E\n'
'2\n'
'\n'
' \n'
'\n'
'Iodized salt \n'
'\n'
'consumption (%) \n'
'\n'
'2008â€“2012*\n'
'\n'
'TABLE 2       NUTRITION\n'
'\n'
'Countries  \n'
'and areas\n'
'Venezuela (Bolivarian \n'
'   Republic of) \n'
'Viet Nam \n'
'Yemen \n'
'Zambia \n'
'Zimbabwe \n'
' \n'
'\n'
'birthweight  \n'
'\n'
'Low  \n'
'\n'
'(%) \n'
'\n'
'2008â€“2012*\n'
'\n'
'8  \n'
'5  \n'
'â€“  \n'
'11 x \n'
'11  \n'
' \n'
'\n'
'2008â€“2012*\n'
'\n'
'â€“  \n'
'40  \n'
'30 x \n'
'57 x \n'
'65  \n'
'\n'
'â€“  \n'
'17  \n'
'12 x \n'
'61 x \n'
'31  \n'
'\n'
'â€“  \n'
'50  \n'
'76 x,y \n'
'94 x \n'
'86  \n'
'\n'
'56  \n'
'\n'
'36  \n'
'\n'
'45  \n'
'\n'
'13  \n'
'\n'
'52  \n'
'25  \n'
'\n'
'60  \n'
'35  \n'
'\n'
'11  \n'
'14  \n'
'\n'
'SUMMARY INDICATORS# \n'
'Sub-Saharan Africa \n'
'   Eastern and \n'
'      Southern Africa \n'
'   West and Central Africa \n'
'Middle East and \n'
'   North Africa \n'
'South Asia \n'
'East Asia and Pacific \n'
'Latin America \n'
'   and Caribbean \n'
'CEE/CIS \n'
'Least developed countries \n'
'World \n'
'# For a complete list of countries and areas in the regions, subregions and country categories, see page 26.    \n'
'\n'
'9  \n'
'â€“  \n'
'13  \n'
'15  \n'
'\n'
'49  \n'
'â€“  \n'
'53  \n'
'43  \n'
'\n'
'39  \n'
'â€“  \n'
'48  \n'
'38  \n'
'\n'
'â€“  \n'
'â€“  \n'
'63  \n'
'55  \n'
'\n'
'â€“  \n'
'28  \n'
'6  \n'
'\n'
'â€“  \n'
'41  \n'
'41  \n'
'\n'
'â€“  \n'
'49  \n'
'30  \n'
'\n'
'â€“  \n'
'57  \n'
'51  \n'
'\n'
'72  \n'
'45  \n'
'\n'
'â€“  \n'
'19  \n'
'â€“  \n'
'42 x \n'
'20  \n'
'\n'
'50  \n'
'\n'
'61  \n'
'44  \n'
'\n'
'â€“  \n'
'78  \n'
'45 ** \n'
'\n'
'â€“  \n'
'â€“  \n'
'64  \n'
'58 ** \n'
'\n'
'4 x \n'
'12  \n'
'43 x \n'
'15 x \n'
'10  \n'
'\n'
'21  \n'
'\n'
'18  \n'
'22  \n'
'\n'
'7  \n'
'32  \n'
'5  \n'
'\n'
'3  \n'
'2  \n'
'23  \n'
'15  \n'
'\n'
'â€“  \n'
'2  \n'
'19 x \n'
'3 x \n'
'2  \n'
'\n'
'7  \n'
'\n'
'5  \n'
'8  \n'
'\n'
'â€“  \n'
'15  \n'
'4 ** \n'
'\n'
'â€“  \n'
'â€“  \n'
'7  \n'
'9 ** \n'
'\n'
'16 x \n'
'23  \n'
'58 x \n'
'45 x \n'
'32  \n'
'\n'
'38  \n'
'\n'
'39  \n'
'37  \n'
'\n'
'18  \n'
'38  \n'
'12  \n'
'\n'
'11  \n'
'11  \n'
'37  \n'
'25  \n'
'\n'
'5 x \n'
'4  \n'
'15 x \n'
'5 x \n'
'3  \n'
'\n'
'9  \n'
'\n'
'7  \n'
'11  \n'
'\n'
'8  \n'
'16  \n'
'4  \n'
'\n'
'1  \n'
'1  \n'
'10  \n'
'8  \n'
'\n'
'6 x \n'
'4  \n'
'5 x \n'
'8 x \n'
'6  \n'
'\n'
'6  \n'
'\n'
'5  \n'
'6  \n'
'\n'
'11  \n'
'4  \n'
'5  \n'
'\n'
'7  \n'
'15  \n'
'5  \n'
'7  \n'
'\n'
'â€“  \n'
'98 w \n'
'11  \n'
'â€“  \n'
'61  \n'
'\n'
'68  \n'
'\n'
'56  \n'
'77  \n'
'\n'
'â€“  \n'
'69  \n'
'81 ** \n'
'\n'
'â€“  \n'
'â€“  \n'
'70  \n'
'70 ** \n'
'\n'
'â€“ \n'
'45 \n'
'30 x\n'
'77 x\n'
'94 y\n'
'\n'
'54 \n'
'\n'
'61 \n'
'53 \n'
'\n'
'â€“ \n'
'71 \n'
'91 \n'
'\n'
'â€“ \n'
'â€“ \n'
'60 \n'
'76 \n'
'\n'
'DEFINITIONS OF THE INDICATORS\n'
'Low birthweight â€“ Percentage of infants weighing less than 2,500 grams at birth.\n'
'Early initiation of breastfeeding â€“ Percentage of infants who are put to the breast within one hour of birth.\n'
'Exclusive breastfeeding <6 months â€“ Percentage of children aged 0â€“5 months who are fed exclusively with breast milk in the 24 \n'
'hours prior to the survey.\n'
'Introduction of solid, semi-solid or soft foods (6â€“8 months) â€“ Percentage of children aged 6â€“8 months who received solid,  \n'
'semi-solid or soft foods in the 24 hours prior to the survey.\n'
'Breastfeeding at age 2 â€“ Percentage of children aged 20â€“23 months who received breast milk in the 24 hours prior to the survey.\n'
'Underweight â€“ Moderate and severe: Percentage of children aged 0â€“59 months who are below minus two standard deviations from \n'
'median weight-for-age of the World Health Organization (WHO) Child Growth Standards; Severe: Percentage of children aged 0â€“59 \n'
'months who are below minus three standard deviations from median weight-for-age of the WHO Child Growth Standards.\n'
'Stunting â€“ Moderate and severe: Percentage of children aged 0â€“59 months who are below minus two standard deviations from me-\n'
'dian height-for-age of the WHO Child Growth Standards.\n'
'Wasting â€“ Moderate and severe: Percentage of children aged 0â€“59 months who are below minus two standard deviations from me-\n'
'dian weight-for-height of the WHO Child Growth Standards.\n'
'Overweight â€“ Moderate and severe: Percentage of children aged 0â€“59 months who are above two standard deviations from median \n'
'weight-for-height of the WHO Child Growth Standards. \n'
'Vitamin A supplementation, full coverage â€“ The estimated percentage of children aged 6â€“59 months reached with  \n'
'2 doses of vitamin A supplements.\n'
'Iodized salt consumption â€“ Percentage of households consuming adequately iodized salt (15 parts per million or more).\n'
'\n'
'41      THE STATE OF THE WORLDâ€™S CHILDREN 2014 IN NUMBERS\n'
'\n'
'MAIN DATA SOURCES\n'
'Low birthweight â€“ Demographic and Health Surveys (DHS), Multiple Indicator Cluster Surveys (MICS), other national household \n'
'surveys, data from routine reporting systems, UNICEF and WHO.\n'
'Breastfeeding â€“ DHS, MICS, other national household surveys and UNICEF.\n'
'Underweight, stunting, wasting and overweight â€“ DHS, MICS, other national household surveys, WHO and UNICEF.\n'
'Vitamin A supplementation â€“ UNICEF.\n'
'Iodized salt consumption â€“ DHS, MICS, other national household surveys and UNICEF.\n'
'\n'
'NOTES\n'
'â€“  Data not available.\n'
'w  Identifies countries with national vitamin A supplementation programmes targeted towards a reduced age range. Coverage figure is \n'
'\n'
'reported as targeted.\n'
'\n'
'x   Data refer to years or periods other than those specified in the column heading. Such data are not included in the calculation of regional \n'
'\n'
'and global averages, with the exception of 2005â€“2006 data from India. Estimates from data years prior to 2000 are not displayed.\n'
'\n'
'y   Data differ from the standard definition or refer to only part of a country. If they fall within the noted reference period, such data are \n'
'\n'
'included in the calculation of regional and global averages.\n'
'\n'
'Î”  Full coverage with vitamin A supplements is reported as the lower percentage of 2 annual coverage points (i.e., lower point \n'
'\n'
'between round 1 (Januaryâ€“June) and round 2 (Julyâ€“December) of 2012).\n'
'\n'
'*  Data refer to the most recent year available during the period specified in the column heading. \n'
'** Excludes China.\n'
'Î˜ Regional averages for underweight (moderate and severe), stunting (moderate and severe), wasting (moderate and severe) and \n'
'\n'
'overweight (moderate and severe) are estimated using statistical modeling of data from the UNICEF-WHO-World Bank Joint Global \n'
'Nutrition Database, 2012 revision (completed July 2013). The severe underweight indicator was not included in this exercise; \n'
'regional averages for this indicator are based on a population-weighted average calculated by UNICEF.\n'
'\n'
'\x0c'

The above code read the text file line-by-line and printed each line. You should notice that we have converted each line into a printable representation of a string object using Python's build-in function, `repr()`, as it will help us  discover some patterns that can be used to extract those data tables.

### 4.2 Collecting all the country names
We start with collecting all the country names, because the country names are going to be the unique identifier of each record in our final dataset, i.e., indices in Pandas's DataFrame. To do so, let's open up the text file, i.e., `en_final_table_2.txt`, and search for blocks of text that contain country names. Can you identify any pattern?

We can find the following patterns that are consistent for all blocks of text that contain country names.

* Country names start after the line containing "and areas". For example,
    ```
        3 'Countries  \n'
        4 'and areas\n'
        5 'Afghanistan \n'
        6 'Albania \n'
        7 'Algeria \n'
        8 'Andorra \n'
    ```
* The last country name in the name block is followed by a line containing just a new line character (`\n`). For example,
    ```
        41 'China \n'
        42 'Colombia \n'
        43 'Comoros \n'
        44 'Congo \n'
        45 '\n'
        46 'Low  \n'
    ```

Thus, to extract the country names, we need to create a Boolean variable to indicate the start and end of each name block. This Boolean variable should be set to `True` when we hit the "and areas" line, and to `false` when we hit the line containing only a new line character. We then update our python script with the Boolean variable accordingly.

In [56]:
# 
# Create a Boolean variable that acts as an on/off switch
#
isCountryName = False

for line in pdf_txt:
    if line != "\n":

        if isCountryName:
            print (repr(line))
    #
    # Search for the line that starts with 'and areas'. If the line starts with 'and areas', 
    # we set  isCountryName to True
    #
        if line.startswith('and areas'):
            isCountryName = True
    #
    # If isCountryName is turned on, and the line is equal to a new line character,
    # Set isCountryName to False.
    #
        elif isCountryName and line == '\n':
            isCountryName = False

Now, when we run the above script, we get what looks like all the lines with country names returned. However, if we look closely at the output, we will find that our script is not adequately parsing the lines with country name. The following issues can be identified:

1. Line breaks with or without white spaces. For example, at the end of the output, you will find 
    ```
        'Viet Nam \n'
        'Yemen \n'
        'Zambia \n'
        'Zimbabwe \n'
        ' \n'
        '\n'
    ```
    The script we have written so far cannot exclude the lines equal to '\n' and handle the lines containining only while spaces. Note that line breaks, as shown above, are difficult to find with the naked eye. That is why we used `repr()` to print out each line. 
2. Countries with names spreading over more than one line. For example,
   ```
       'Bolivia (Plurinational \n'
       '   State of) \n'
   ```
3. All the country names end with '\n' and some country names containing special characters, for example
    ```
        'Democratic People\xe2\x80\x99s \n'
        '   Republic of Korea \n'
    ```
    We need to clean those names to make them readable.

First, we start with excluding all the lines that are equal to either '\n' or '\n' with leading white spaces. Here we choose to use regular expressions:
```python
    import re
    reg = re.complie(r"^\s*$")
    for line in pdf_txt:
        reg.match(line) != None
```
This regular expression matches all empty lines that contain zero or more space characters. Inserting those code into our script, we have

In [57]:
import re
reg = re.compile(r"^\s*$")

pdfTxtFile = 'data/en_final_table_2.txt'
pdf_txt = open(pdfTxtFile, 'r')
isCountryName = False
for line in pdf_txt:
    #
    # Print out all the country names and exclude line breaks
    #
    if isCountryName and reg.match(line) == None:
        print (repr(line))
    # Set the switch
    if line.startswith('and areas'):
        isCountryName = True
    #
    # Set the boolean variable to False, if we reach a line break
    #
    elif isCountryName and reg.match(line) != None:
        isCountryName = False

'Afghanistan \n'
'Albania \n'
'Algeria \n'
'Andorra \n'
'Angola \n'
'Antigua and Barbuda \n'
'Argentina \n'
'Armenia \n'
'Australia \n'
'Austria \n'
'Azerbaijan \n'
'Bahamas \n'
'Bahrain \n'
'Bangladesh \n'
'Barbados \n'
'Belarus \n'
'Belgium \n'
'Belize \n'
'Benin \n'
'Bhutan \n'
'Bolivia (Plurinational \n'
'   State of) \n'
'Bosnia and Herzegovina \n'
'Botswana \n'
'Brazil \n'
'Brunei Darussalam \n'
'Bulgaria \n'
'Burkina Faso \n'
'Burundi \n'
'Cabo Verde \n'
'Cambodia \n'
'Cameroon \n'
'Canada \n'
'Central African Republic \n'
'Chad \n'
'Chile \n'
'China \n'
'Colombia \n'
'Comoros \n'
'Congo \n'
'Cook Islands \n'
'Costa Rica \n'
'CÃ´te dâ€™Ivoire \n'
'Croatia \n'
'Cuba \n'
'Cyprus \n'
'Czech Republic \n'
'Democratic Peopleâ€™s \n'
'   Republic of Korea \n'
'Democratic Republic \n'
'   of the Congo \n'
'Denmark \n'
'Djibouti \n'
'Dominica \n'
'Dominican Republic \n'
'Ecuador \n'
'Egypt \n'
'El Salvador \n'
'Equatorial Guinea \n'
'Eritrea \n'
'Estonia \n'
'Ethiopia \n'
'Fiji \n'
'Finland \n'
'France \n'
'Gabon \n'
'Gambia \n'
'Georgia \n'
'Germany \n'
'Ghana \n'
'Greece \n'
'Grenada \n'
'Guatemala \n'
'Guinea \n'
'Guinea-Bissau \n'
'Guyana \n'
'Haiti \n'
'Holy See \n'
'Honduras \n'
'Hungary \n'
'Iceland \n'
'India \n'
'Indonesia \n'
'Iran (Islamic Republic of) \n'
'Iraq \n'
'Ireland \n'
'Israel \n'
'Italy \n'
'Jamaica \n'
'Japan \n'
'Jordan \n'
'Kazakhstan \n'
'Kenya \n'
'Kiribati \n'
'Kuwait \n'
'Kyrgyzstan \n'
'Lao Peopleâ€™s \n'
'   Democratic Republic \n'
'Latvia \n'
'Lebanon \n'
'Lesotho \n'
'Liberia \n'
'Libya \n'
'Liechtenstein \n'
'Lithuania \n'
'Luxembourg \n'
'Madagascar \n'
'Malawi \n'
'Malaysia \n'
'Maldives \n'
'Mali \n'
'Malta \n'
'Marshall Islands \n'
'Mauritania \n'
'Mauritius \n'
'Mexico \n'
'Micronesia (Federated \n'
'   States of) \n'
'Monaco \n'
'Mongolia \n'
'Montenegro \n'
'Morocco \n'
'Mozambique \n'
'Myanmar \n'
'Namibia \n'
'Nauru \n'
'Nepal \n'
'Netherlands \n'
'New Zealand \n'
'Nicaragua \n'
'Niger \n'
'Nigeria \n'
'Niue \n'
'Norway \n'
'Oman \n'
'Pakistan \n'
'Palau \n'
'Panama \n'
'Papua New Guinea \n'
'Paraguay \n'
'Peru \n'
'Philippines \n'
'Poland \n'
'Portugal \n'
'Qatar \n'
'Republic of Korea \n'
'Republic of Moldova \n'
'Romania \n'
'Russian Federation \n'
'Rwanda \n'
'Saint Kitts and Nevis \n'
'Saint Lucia \n'
'Saint Vincent and \n'
'   the Grenadines \n'
'Samoa \n'
'San Marino \n'
'Sao Tome and Principe \n'
'Saudi Arabia \n'
'Senegal \n'
'Serbia \n'
'Seychelles \n'
'Sierra Leone \n'
'Singapore \n'
'Slovakia \n'
'Slovenia \n'
'Solomon Islands \n'
'Somalia \n'
'South Africa \n'
'South Sudan \n'
'Spain \n'
'Sri Lanka \n'
'State of Palestine \n'
'Sudan \n'
'Suriname \n'
'Swaziland \n'
'Sweden \n'
'Switzerland \n'
'Syrian Arab Republic \n'
'Tajikistan \n'
'Thailand \n'
'The former Yugoslav \n'
'   Republic of Macedonia \n'
'Timor-Leste \n'
'Togo \n'
'Tonga \n'
'Trinidad and Tobago \n'
'Tunisia \n'
'Turkey \n'
'Turkmenistan \n'
'Tuvalu \n'
'Uganda \n'
'Ukraine \n'
'United Arab Emirates \n'
'United Kingdom \n'
'United Republic \n'
'   of Tanzania \n'
'United States \n'
'Uruguay \n'
'Uzbekistan \n'
'Vanuatu \n'
'Venezuela (Bolivarian \n'
'   Republic of) \n'
'Viet Nam \n'
'Yemen \n'
'Zambia \n'
'Zimbabwe \n'

To resolve the second issue in the list, let's look at all the countries names that spread over two lines. 
```
'Bolivia (Plurinational \n'
'   State of) \n'
'Democratic People\xe2\x80\x99s \n'
'   Republic of Korea \n'
'Democratic Republic \n'
'   of the Congo \n'
'Lao People\xe2\x80\x99s \n'
'   Democratic Republic \n'
'Micronesia (Federated \n'
'   States of) \n'
'Saint Vincent and \n'
'   the Grenadines \n'
'The former Yugoslav \n'
'   Republic of Macedonia \n'
'United Republic \n'
'   of Tanzania \n'
'Venezuela (Bolivarian \n'
'   Republic of) \n'
```
It is clear that there is a consistent pattern that the second line of each of those names starts with a couple of white spaces. To find all the lines starting with white spaces, we can use the following regular expression
```python
    re.match(r"^\s+", line) != None
```
The regular expression matches strings that start with 1 or more white spaces. Now you should see the difference between '*' and '+' in regular expression. 

However, this regular expression can only identify every second line in the above list. Our final goal is to merge, for example, 'Bolivia (Plurinational \n' and '   State of) \n' into one line. To do so, we will create a variable, called *previous_line*, to temporarily store 'Bolivia (Plurinational \n' before we hit '   State of) \n'.
The updated script is as follows.

In [58]:
import re
reg = re.compile("^\s*$")
pdfTxtFile = 'data/en_final_table_2.txt'
pdf_txt = open(pdfTxtFile, 'r')
isCountryName = False

#
# A variabel used to cache the preceding line
#
previous_line =''

for line in pdf_txt:
    if isCountryName and reg.match(line) == None: 
        #
        # If the current line starts with one or more white spaces, it will be merged with the preceding 
        # line to generate the full country name
        #
        if re.match(r"^\s+", line) != None:
            #
            # Join two strings
            #
            line = ''.join([previous_line, line])
            print (repr(line))
        else:
            print (repr(line))
    
    if line.startswith('and areas'):
        isCountryName = True
    elif isCountryName and reg.match(line) !=None:
        isCountryName = False
    #
    # Cache the line right before the current line.
    #
    previous_line = line

'Afghanistan \n'
'Albania \n'
'Algeria \n'
'Andorra \n'
'Angola \n'
'Antigua and Barbuda \n'
'Argentina \n'
'Armenia \n'
'Australia \n'
'Austria \n'
'Azerbaijan \n'
'Bahamas \n'
'Bahrain \n'
'Bangladesh \n'
'Barbados \n'
'Belarus \n'
'Belgium \n'
'Belize \n'
'Benin \n'
'Bhutan \n'
'Bolivia (Plurinational \n'
'Bolivia (Plurinational \n   State of) \n'
'Bosnia and Herzegovina \n'
'Botswana \n'
'Brazil \n'
'Brunei Darussalam \n'
'Bulgaria \n'
'Burkina Faso \n'
'Burundi \n'
'Cabo Verde \n'
'Cambodia \n'
'Cameroon \n'
'Canada \n'
'Central African Republic \n'
'Chad \n'
'Chile \n'
'China \n'
'Colombia \n'
'Comoros \n'
'Congo \n'
'Cook Islands \n'
'Costa Rica \n'
'CÃ´te dâ€™Ivoire \n'
'Croatia \n'
'Cuba \n'
'Cyprus \n'
'Czech Republic \n'
'Democratic Peopleâ€™s \n'
'Democratic Peopleâ€™s \n   Republic of Korea \n'
'Democratic Republic \n'
'Democratic Republic \n   of the Congo \n'
'Denmark \n'
'Djibouti \n'
'Dominica \n'
'Dominican Republic \n'
'Ecuador \n'
'Egypt \n'
'El Salvador \n'
'Equatorial Guinea \n'
'Eritrea \n'
'Estonia \n'
'Ethiopia \n'
'Fiji \n'
'Finland \n'
'France \n'
'Gabon \n'
'Gambia \n'
'Georgia \n'
'Germany \n'
'Ghana \n'
'Greece \n'
'Grenada \n'
'Guatemala \n'
'Guinea \n'
'Guinea-Bissau \n'
'Guyana \n'
'Haiti \n'
'Holy See \n'
'Honduras \n'
'Hungary \n'
'Iceland \n'
'India \n'
'Indonesia \n'
'Iran (Islamic Republic of) \n'
'Iraq \n'
'Ireland \n'
'Israel \n'
'Italy \n'
'Jamaica \n'
'Japan \n'
'Jordan \n'
'Kazakhstan \n'
'Kenya \n'
'Kiribati \n'
'Kuwait \n'
'Kyrgyzstan \n'
'Lao Peopleâ€™s \n'
'Lao Peopleâ€™s \n   Democratic Republic \n'
'Latvia \n'
'Lebanon \n'
'Lesotho \n'
'Liberia \n'
'Libya \n'
'Liechtenstein \n'
'Lithuania \n'
'Luxembourg \n'
'Madagascar \n'
'Malawi \n'
'Malaysia \n'
'Maldives \n'
'Mali \n'
'Malta \n'
'Marshall Islands \n'
'Mauritania \n'
'Mauritius \n'
'Mexico \n'
'Micronesia (Federated \n'
'Micronesia (Federated \n   States of) \n'
'Monaco \n'
'Mongolia \n'
'Montenegro \n'
'Morocco \n'
'Mozambique \n'
'Myanmar \n'
'Namibia \n'
'Nauru \n'
'Nepal \n'
'Netherlands \n'
'New Zealand \n'
'Nicaragua \n'
'Niger \n'
'Nigeria \n'
'Niue \n'
'Norway \n'
'Oman \n'
'Pakistan \n'
'Palau \n'
'Panama \n'
'Papua New Guinea \n'
'Paraguay \n'
'Peru \n'
'Philippines \n'
'Poland \n'
'Portugal \n'
'Qatar \n'
'Republic of Korea \n'
'Republic of Moldova \n'
'Romania \n'
'Russian Federation \n'
'Rwanda \n'
'Saint Kitts and Nevis \n'
'Saint Lucia \n'
'Saint Vincent and \n'
'Saint Vincent and \n   the Grenadines \n'
'Samoa \n'
'San Marino \n'
'Sao Tome and Principe \n'
'Saudi Arabia \n'
'Senegal \n'
'Serbia \n'
'Seychelles \n'
'Sierra Leone \n'
'Singapore \n'
'Slovakia \n'
'Slovenia \n'
'Solomon Islands \n'
'Somalia \n'
'South Africa \n'
'South Sudan \n'
'Spain \n'
'Sri Lanka \n'
'State of Palestine \n'
'Sudan \n'
'Suriname \n'
'Swaziland \n'
'Sweden \n'
'Switzerland \n'
'Syrian Arab Republic \n'
'Tajikistan \n'
'Thailand \n'
'The former Yugoslav \n'
'The former Yugoslav \n   Republic of Macedonia \n'
'Timor-Leste \n'
'Togo \n'
'Tonga \n'
'Trinidad and Tobago \n'
'Tunisia \n'
'Turkey \n'
'Turkmenistan \n'
'Tuvalu \n'
'Uganda \n'
'Ukraine \n'
'United Arab Emirates \n'
'United Kingdom \n'
'United Republic \n'
'United Republic \n   of Tanzania \n'
'United States \n'
'Uruguay \n'
'Uzbekistan \n'
'Vanuatu \n'
'Venezuela (Bolivarian \n'
'Venezuela (Bolivarian \n   Republic of) \n'
'Viet Nam \n'
'Yemen \n'
'Zambia \n'
'Zimbabwe \n'

After joining the previous line with the current line, we have not yet removed the previous line from the printout. Next we will remove those redundant lines and store all the country names in a list, `countryNames`.

In [59]:
import pprint
import re
reg = re.compile("^\s*$")

pdfTxtFile = 'data/en_final_table_2.txt'
pdf_txt = open(pdfTxtFile, 'r')
isCountryName = False
previous_line =''
#
# Intialise an empty list in Python
#
countryNames = []

for line in pdf_txt:
    if isCountryName and reg.match(line) == None: 

        if re.match(r"^\s+", line) != None:
            line = ''.join([previous_line, line])
            #
            # Delete previous_line from the list, and add the merged line
            #
            del countryNames[-1]
            countryNames.append(line)
        else:
            countryNames.append(line)
    
    if line.startswith('and areas'):
        isCountryName = True
    elif isCountryName and reg.match(line) !=None:
        isCountryName = False
    previous_line = line
pprint.pprint(countryNames)

['Afghanistan \n',
 'Albania \n',
 'Algeria \n',
 'Andorra \n',
 'Angola \n',
 'Antigua and Barbuda \n',
 'Argentina \n',
 'Armenia \n',
 'Australia \n',
 'Austria \n',
 'Azerbaijan \n',
 'Bahamas \n',
 'Bahrain \n',
 'Bangladesh \n',
 'Barbados \n',
 'Belarus \n',
 'Belgium \n',
 'Belize \n',
 'Benin \n',
 'Bhutan \n',
 'Bolivia (Plurinational \n   State of) \n',
 'Bosnia and Herzegovina \n',
 'Botswana \n',
 'Brazil \n',
 'Brunei Darussalam \n',
 'Bulgaria \n',
 'Burkina Faso \n',
 'Burundi \n',
 'Cabo Verde \n',
 'Cambodia \n',
 'Cameroon \n',
 'Canada \n',
 'Central African Republic \n',
 'Chad \n',
 'Chile \n',
 'China \n',
 'Colombia \n',
 'Comoros \n',
 'Congo \n',
 'Cook Islands \n',
 'Costa Rica \n',
 'CÃ´te dâ€™Ivoire \n',
 'Croatia \n',
 'Cuba \n',
 'Cyprus \n',
 'Czech Republic \n',
 'Democratic Peopleâ€™s \n   Republic of Korea \n',
 'Democratic Republic \n   of the Congo \n',
 'Denmark \n',
 'Djibouti \n',
 'Dominica \n',
 'Dominican Republic \n',
 'Ecuador \n',
 'Egypt \n',
 'El Salvador \n',
 'Equatorial Guinea \n',
 'Eritrea \n',
 'Estonia \n',
 'Ethiopia \n',
 'Fiji \n',
 'Finland \n',
 'France \n',
 'Gabon \n',
 'Gambia \n',
 'Georgia \n',
 'Germany \n',
 'Ghana \n',
 'Greece \n',
 'Grenada \n',
 'Guatemala \n',
 'Guinea \n',
 'Guinea-Bissau \n',
 'Guyana \n',
 'Haiti \n',
 'Holy See \n',
 'Honduras \n',
 'Hungary \n',
 'Iceland \n',
 'India \n',
 'Indonesia \n',
 'Iran (Islamic Republic of) \n',
 'Iraq \n',
 'Ireland \n',
 'Israel \n',
 'Italy \n',
 'Jamaica \n',
 'Japan \n',
 'Jordan \n',
 'Kazakhstan \n',
 'Kenya \n',
 'Kiribati \n',
 'Kuwait \n',
 'Kyrgyzstan \n',
 'Lao Peopleâ€™s \n   Democratic Republic \n',
 'Latvia \n',
 'Lebanon \n',
 'Lesotho \n',
 'Liberia \n',
 'Libya \n',
 'Liechtenstein \n',
 'Lithuania \n',
 'Luxembourg \n',
 'Madagascar \n',
 'Malawi \n',
 'Malaysia \n',
 'Maldives \n',
 'Mali \n',
 'Malta \n',
 'Marshall Islands \n',
 'Mauritania \n',
 'Mauritius \n',
 'Mexico \n',
 'Micronesia (Federated \n   States of) \n',
 'Monaco \n',
 'Mongolia \n',
 'Montenegro \n',
 'Morocco \n',
 'Mozambique \n',
 'Myanmar \n',
 'Namibia \n',
 'Nauru \n',
 'Nepal \n',
 'Netherlands \n',
 'New Zealand \n',
 'Nicaragua \n',
 'Niger \n',
 'Nigeria \n',
 'Niue \n',
 'Norway \n',
 'Oman \n',
 'Pakistan \n',
 'Palau \n',
 'Panama \n',
 'Papua New Guinea \n',
 'Paraguay \n',
 'Peru \n',
 'Philippines \n',
 'Poland \n',
 'Portugal \n',
 'Qatar \n',
 'Republic of Korea \n',
 'Republic of Moldova \n',
 'Romania \n',
 'Russian Federation \n',
 'Rwanda \n',
 'Saint Kitts and Nevis \n',
 'Saint Lucia \n',
 'Saint Vincent and \n   the Grenadines \n',
 'Samoa \n',
 'San Marino \n',
 'Sao Tome and Principe \n',
 'Saudi Arabia \n',
 'Senegal \n',
 'Serbia \n',
 'Seychelles \n',
 'Sierra Leone \n',
 'Singapore \n',
 'Slovakia \n',
 'Slovenia \n',
 'Solomon Islands \n',
 'Somalia \n',
 'South Africa \n',
 'South Sudan \n',
 'Spain \n',
 'Sri Lanka \n',
 'State of Palestine \n',
 'Sudan \n',
 'Suriname \n',
 'Swaziland \n',
 'Sweden \n',
 'Switzerland \n',
 'Syrian Arab Republic \n',
 'Tajikistan \n',
 'Thailand \n',
 'The former Yugoslav \n   Republic of Macedonia \n',
 'Timor-Leste \n',
 'Togo \n',
 'Tonga \n',
 'Trinidad and Tobago \n',
 'Tunisia \n',
 'Turkey \n',
 'Turkmenistan \n',
 'Tuvalu \n',
 'Uganda \n',
 'Ukraine \n',
 'United Arab Emirates \n',
 'United Kingdom \n',
 'United Republic \n   of Tanzania \n',
 'United States \n',
 'Uruguay \n',
 'Uzbekistan \n',
 'Vanuatu \n',
 'Venezuela (Bolivarian \n   Republic of) \n',
 'Viet Nam \n',
 'Yemen \n',
 'Zambia \n',
 'Zimbabwe \n']

We have collected all the country names from the text version of our PDF file. The total number of countries is 197. Now, we are going to do some cleaning to resolve the last issue. Data cleaning will be explained in greater detail in Module 3. For now, we will just clean up the country names, as they are not easy to read. We wrap the cleaning code into a Python function as follows.
```python
    def clean(line):
        line = line.strip('\n')  
        line = line.strip() 
        line = line.replace('\xe2\x80\x99', '\'')
        return line
```
The first line in the function removes both the leading and the trailing new line characters, '\n'. The second line removes the leading and railing white spaces. The third line replaces a special character encoding. Now insert the `clean` function into the FOR-loop.

In [60]:
import pprint
import re
reg = re.compile("^\s*$")

def clean(line):
        line = line.strip('\n') # remove leading and trailing '\n' 
        line = line.strip() # remove leading and trailing while spaces
        line = line.replace('\xe2\x80\x99', '\'')
        return line

pdfTxtFile = 'data/en_final_table_2.txt'
pdf_txt = open(pdfTxtFile, 'r')
isCountryName = False
previous_line =''
countryNames = []
for line in pdf_txt:
    if isCountryName and reg.match(line) == None: 
        if re.match(r"^\s+", line) != None:
            line = ' '.join([clean(previous_line), clean(line)])
            del countryNames[-1]
            countryNames.append(line)
        else:
            countryNames.append(clean(line))
    
    if line.startswith('and areas'):
        isCountryName = True
    elif isCountryName and reg.match(line) !=None:
        isCountryName = False
    previous_line = line
pprint.pprint(countryNames)

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 'CÃ´te dâ€™Ivoire',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Democratic Peopleâ€™s Republic of Korea',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Lao Peopleâ€™s Democratic Republic',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia (Federated States of)',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'State of Palestine',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Thailand',
 'The former Yugoslav Republic of Macedonia',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Republic of Tanzania',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

Finally, we have successfully extracted the names of 197 countries and stored them in a list. Next we are going to extract all the columns.

In [61]:
len(countryNames)

197

### 4.3 Extracting all the table columns

Extracting the table columns is not as easy as collecting the country names. Scanning the text file, you will find that you cannot simply create a Boolean variable, as there are no patterns that can be used to identify the start and the end of each column on each PDF page. All columns on the same PDF page are stacked together and interleaved with either text or line breaks. 

How can we extract the data in columns and recover the table structure? 

Fortunately, it looks like `pdf2txt.py` extracted the data from our PDF file in a column-wise way. Each cell in our PDF was extracted as one line in the text file; and cells were stacked according to the linear layout of the table on each page. If we are able to extract all the cell values in order and know the number of records and the number of columns on each page, we might then be able to unstack all the cells and put them into a tabular format. 

Getting the number of columns in the PDF table is easy. Manually counting the number of columns, you will get the number 12. 

Next, let's count the number of records on each PDF page. Since we have written the script to collect all the country names from each PDF page, it should be easy to compute the number of records on each page by inserting a count variable into the same script. Let the count variable be `numRec`. While the script hits the line starting with 'and areas', we set `numRec` to zero. We then increase `numRec` by one every time we successfully retrieve a name until the script hits the end of the name block. Let's insert this logic into the script and save the counts in a list, `recordsPerPage`.

In [62]:
import re
reg = re.compile("^\s*$")

def clean(line):
        line = line.strip('\n') 
        line = line.strip()
        #print(repr(line))
        line = line.replace('\xe2\x80\x99', '\'')
        return line

pdfTxtFile = 'data/en_final_table_2.txt'
pdf_txt = open(pdfTxtFile, 'r')
isCountryName = False
previous_line =''
countryNames = []
recordsPerPage = [] ###
numRec = 0 ###

for line in pdf_txt:
    if isCountryName and reg.match(line) == None: 
        #print repr(line)
        if re.match(r"^\s+", line) != None:
            line = ' '.join([clean(previous_line), clean(line)])
            del countryNames[-1]
            countryNames.append(line)
            numRec -= 1 ###
        else:
            countryNames.append(clean(line))
        numRec += 1 ###
    
    if line.startswith('and areas'):
        isCountryName = True
        numRec = 0 ###
    elif isCountryName and reg.match(line) !=None:
        isCountryName = False
        recordsPerPage.append(numRec) ###
    previous_line = line
    
print(recordsPerPage)

[39, 38, 38, 39, 38, 5]

To collect all the cell values from the text file, we will use regular expressions. The values that each cell can take are
```
    '6  \n'
    '6 x \n'  
    '12 x \n'
    '39 x,y \n'
    '96 x,y\n'
    '76 y \n'
    '100 \n'
    '100 x\n'
    '90 w \n'
    '-  \n'
```
It is not hard for you to figure out the patterns in the above values, which are a dash, a number with 1, 2 or 3 digits, or a number followed by 'x', 'x,y', 'y' or 'w'. Taking into account white spaces, we generate the following regular expression to encode all the patterns.
```python
    regx = re.compile("^(\d{1,3}|-)\s?(x|x,y|y|w)?\s*$")
```
* `^(\d{1,3}|-)`: The matched line should start with a dash symbol or a number with 1 to 3 digits
* `(x|x,y|y|w)?`: The matched line should contain none or one of elements in the parentheses
* `\s*$`: The matched line should end with zero or more white space characters.

The following script will print out all the cell values that match these patterns.

```python
    import re
    regx = re.compile("^(\d{1,3}|-)\s?(x|x,y|y|w)?\s*$")
    pdfTxtFile = './en_final_table_2.txt'
    pdf_txt = open(pdfTxtFile, 'r')

    for line in pdf_txt:
        line = line.replace('\xe2\x80\x93', '-')
        if regx.match(line) != None:
            print repr(line)
```

However, this script will also extract '2' in the following lines:
```
    'T\n'
    'A\n'
    'B\n'
    'L\n'
    'E\n'
    '2\n'
```
'2' following 'E' is not a cell value. We need to exclude it in order to make proper alignment
among rows and columns. Checking whether the preceding line of '2' is equal to 'E\n' or not will
solve this problem. Similar to the method we used to handle country names that spread over two lines, 
we introduce a string variable, ` previous_line`, to cache the preceding line. Thus, if the 
preceding line is 'E\n', the following line equal to '2\n' will be excluded. We add the following 
conditition into the IF statement

```python
    re.match(r"^E\s*$", previous_line) == None:
```

So, the updated script will be

```python
    import re
    regx = re.compile("^(\d{1,3}|-)\s?(x|x,y|y|w)?\s*$")
    pdfTxtFile = './en_final_table_2.txt'
    pdf_txt = open(pdfTxtFile, 'r')
    previous_line = ''
    for line in pdf_txt:
        line = line.replace('\xe2\x80\x93', '-')
        if regx.match(line) != None and re.match(r"^E\s*$", previous_line) == None:
            print repr(line)
        previous_line = line
```

Now, we can merge all the scripts that we have written so far together and generate the final script 
for scraping data tables from the PDF file.
In the following merged script, the part of collecting country names and counting the number of 
records on each page is wrapped in a Python function, called `extract`. This function takes the 
the text file as input and output two lists, one for country names, and another for record counts.
The extracted data is going to be stored in a dictionary, where keys are column indices, values 
are lists of cell values in individual columns.

In [63]:
import re

def clean(line):
    line = line.strip('\n')
    line = line.strip() 
    line = line.replace('\xe2\x80\x99', '\'')
    return line

def extract(pdfTxtFile):
    """
        Collecting all the country names and counting the number
        of records, i.e., countries, on each page. 
    """
    reg = re.compile("^\s*$")
    isCountryName = False
    countryNames = []
    recordsPerPage = []
    numRec = 0
    previous_line =''

    pdf_txt = open(pdfTxtFile, 'r') 
    # add encoding if you have problems, e.g., pdf_txt = open(pdfTxtFile, 'r', encoding='UTF-8')

    for line in pdf_txt:
        if isCountryName and reg.match(line) == None: 
            #print repr(line)
            if re.match(r"^\s+", line) != None:
                line = ' '.join([clean(previous_line), clean(line)])
                del countryNames[-1]
                countryNames.append(line)
                numRec -= 1
            else:
                countryNames.append(clean(line))
            numRec += 1

        if line.startswith('and areas'):
            isCountryName = True
            numRec = 0
        elif isCountryName and reg.match(line) !=None:
            isCountryName = False
            recordsPerPage.append(numRec)
        previous_line = line
    return countryNames,recordsPerPage

pdfTxtFile = 'data/en_final_table_2.txt'

countryNames, recordsPerPage = extract(pdfTxtFile)

regx = re.compile(r"^(\d{1,3}|â€“)\s?(x|x,y|y|w)?\s*$")
pdf_txt = open(pdfTxtFile, 'r')
# add encoding if you have problems, e.g., pdf_txt = open(pdfTxtFile, 'r', encoding='UTF-8')

totalNumCols = 12

pageNum = -1;
numRecs = 0
colIdx = 0

#
# Python dictinoary used to store all the data
#
data = {}
for i in range(totalNumCols):
    data[i] = []
    
idx = 0
previous_line = ''
for line in pdf_txt:
    if line.startswith('and areas'):
        pageNum += 1
        numRecs = recordsPerPage[pageNum]
        colIdx = 0
        idx = 0
    if regx.match(line) != None and re.match(r"^E\s*$", previous_line) == None and colIdx < 12:
        line = line.strip('\n').strip()
        data[colIdx].append(line)
        idx += 1
        if idx % numRecs == 0:
            colIdx += 1
    previous_line = line

### 4.4 Storing data in CSV format 

The final step of scraping data from PDFs is to store the extracted data in a machine readable format. Here 
we are going to store the data in CSV format using Pandas.

In [64]:
import pandas as pd
df = pd.DataFrame(data, index = countryNames)
df.to_csv('data/en_final_table_2_1.csv')

Scraping data from PDFs using `pdf2txt.py` is crude, as you need to go over the text dozens of times 
to manually identify patterns, and encode these patterns with regular expressions. Checking the CSV file, 
you will find the script does not correctly extract the table in the last page of our PDF. The patterns
we found while extracting cell values do not apply to the text extracted from the last page. 
`pdf2txt.py` has stacked columns in arbitrary order. However, one can image that if a tool 
can make use of the location information of the text elements, this problem will then be solved. 

Besides the above approach, there are multiple ways of scraping data from PDFs, which utilise the meta information
encapsulated in PDF. We will walk through some of them in the following sections.
* * *

### 4.5 Scraping data from PDFs with  pdftables
 
After scratching our heads at the complexity shown in the approach of using 'pdf2txt.py'. We started searching for
other tools or libraries that <font color = "red"> make use of information on the locations of text elements in a PDF document </font>. We came across a Python library, called pdftables. In this section, you will learn how to use pdftables to extract data from our PDF files. To install this library, use the following command
```shell
    pip install pdftables.six
```
Note that installing pdftables might downgrade your numpy version, which could cause Pandas to fail. In this case,
you need to upgrade your numpy after installing pdftables. We should mention that the drawback of using pdftables 
is that its developers do not maintain proper documentation. Hence you might need to look at the source code to
figure out the functions that you are going to use. Nevertheless, it is a good tool for extracting data tables from
PDFs. You will eventually find that the all-in-one function that you are going to use to get the data is
```python
    pdftables.get_tables()
```

In this section, we will use the same PDF file as we used in the previous section to demonstrate how to use pdftables to scrape all the tables from that PDF file. Let's start with loading our PDF with the `get_tables()` function.

In [65]:
from pdftables import get_tables
pdfFile = 'data/EN_FINAL_Table_2.pdf'
pdfobj = open(pdfFile, 'rb')
tables = get_tables(pdfobj)

The above script will take a couple of seconds to load our PDF. The `get_tables()` function returns each page as its
own table, each of those tables have a list of rows, and each of those row is a contained list of columns. You can use the following Python code to print out each row in each table:
```python
    for table in tables:
        for row in table:
            print row
```
After printing all the rows, you will find that all the strings returned by pdftables are Unicode strings. So you need to convert them to strings with Python's string encoding function.
```python
    str.encode('UTF8')
```
We also need to replace the following UTF-8 literals with their corresponding strings.
```
    '\xe2\x80\x93': -
    '\xe2\x80\x99': '
```

The above script will take a couple of seconds to load our PDF. The `get_tables()` function returns each page as its
own table, each of those tables have a list of rows, and each of those row is a contained list of columns. You can use the following Python code to print out each row in each table:
```python
    for table in tables:
        for row in table:
            print row
```

In [66]:
for table in tables:
    for row in table[:10]:
        print (row)
    print ('==========================\n')

['TABLE 2    N', 'UTRI', 'TION', '', '', '', '', '', '', '', '', '', '', 'TA']
['', '', '', '', '', '', '', '', '', '', '', '', '', 'BL']
['', '', '', '', '', 'Introduction of', '', '', '', '', '', '', '', 'E']
['', 'Low', 'Early initiation', 'Exclus', 'ive', 'solid, semi-solid', '', 'Under', 'weight (%)', 'Stunting (%)', 'Wasting (%)', 'Overweight (%)', 'Vitamin A', '2']
['Countries', 'birthweight  (%)', 'of breastfeeding(%)', 'breastfe<6 mont', 'edinghs (%)', 'or soft foods  6â€“8 months (%)', 'Breastfeeding  at age 2 (%)', 'moderate and severeÎ˜', 'severe', 'moderate and severeÎ˜', 'moderate and severeÎ˜', 'moderate and severeÎ˜', 'supplementation, full coverageÎ” (%)', 'Iodized salt consumption (%)']
['and areas', '2008â€“2012*', '', '', '200', '8â€“2012*', '', '', '', '2008â€“2012*', '', '', '2012', '2008â€“2012*']
['Afghanistan', 'â€“', 'â€“', 'â€“', '', '29 x', '54 x', '33 x', '12 x', '59 x', '9 x', '5 x', 'â€“', '20']
['Albania', '4', '43', '39', '', '78', '31', '5', '2', '19', '9', '22', 'â€“', '76']
['Algeria', '6 x', '50 x', '7 x', '', '39 x,y', '22 x', '3 x', '1 x', '15 x', '4 x', '13 x', 'â€“', '61 x']
['Andorra', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
==========================

['TATABLE 2      NUT', 'RITION>>', '', '', '', '', '', '', '', '', '', '', '', 'TA']
['BL', '', '', '', '', '', '', '', '', '', '', '', '', 'BL']
['E', '', '', '', '', 'Introduction of', '', '', '', '', '', '', '', 'E']
['2', 'Low', 'Early initiation', 'Exclu', 'sive', 'solid, semi-solid', '', 'Under', 'weight (%)', 'Stunting (%)', 'Wasting (%)', 'Overweight (%)', 'Vitamin A', '2']
['Countries', 'birthweight  (%)', 'of breastfeeding (%)', 'breastfe<6 mont', 'edinghs (%)', 'or soft foods  6â€“8 months (%)', 'Breastfeeding  at age 2 (%)', 'moderate and severeÎ˜', 'severe', 'moderate and severeÎ˜', 'moderate and severeÎ˜', 'moderate and severeÎ˜', 'supplementation, full coverageÎ” (%)', 'Iodized salt consumption (%)']
['and areas', '2008â€“2012*', '', '', '200', '8â€“2012*', '', '', '', '2008â€“2012*', '', '', '2012', '2008â€“2012*']
['Cook Islands', '3 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Costa Rica', '7', 'â€“', '19 x', '', '92', '40', '1', 'â€“', '6', '1', '8', 'â€“', 'â€“']
['CÃ´te dâ€™Ivoire', '17 x', '31', '12', '', '64', '38', '15', '3', '30', '8', '3', '99', '84 x,y']
['Croatia', '5', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
==========================

['TABLE 2      NUTRIT', 'ION>>', '', '', '', '', '', '', '', '', '', '', '', 'TA']
['', '', '', '', '', '', '', '', '', '', '', '', '', 'BL']
['', '', '', '', '', 'Introduction of', '', '', '', '', '', '', '', 'E']
['', 'Low', 'Early initiation', 'Exclus', 'ive', 'solid, semi-solid', '', 'Under', 'weight (%)', 'Stunting (%)', 'Wasting (%)', 'Overweight (%)', 'Vitamin A', '2']
['Countries', 'birthweight  (%)', 'of breastfeeding(%)', 'breastfe<6 mont', 'edinghs (%)', 'or soft foods  6â€“8 months (%)', 'Breastfeeding  at age 2 (%)', 'moderate and severeÎ˜', 'severe', 'moderate and severeÎ˜', 'moderate and severeÎ˜', 'moderate and severeÎ˜', 'supplementation, full coverageÎ” (%)', 'Iodized salt consumption (%)']
['and areas', '2008â€“2012*', '', '', '200', '8â€“2012*', '', '', '', '2008â€“2012*', '', '', '2012', '2008â€“2012*']
['Iceland', '4 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['India', '28 x', '41', '46 x', '', '56 x', '77 x', '43 x', '16 x', '48 x', '20 x', '2 x', '59', '71']
['Indonesia', '9 x', '29', '42', '', '85 x', '55', '18', '5', '36', '13', '12', '73', '62 x,y']
['Iran (Islamic Republic of)', '7 x', '56 x', '23 x', '', '68 x,y', '58 x', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '99 x,y']
==========================

['TATABLE 2      NUTR', 'ITION>>', '', '', '', '', '', '', '', '', '', '', '', 'TA']
['BL', '', '', '', '', '', '', '', '', '', '', '', '', 'BL']
['E', '', '', '', '', 'Introduction of', '', '', '', '', '', '', '', 'E']
['2', 'Low', 'Early initiation', 'Exclu', 'sive', 'solid, semi-solid', '', 'Under', 'weight (%)', 'Stunting (%)', 'Wasting (%)', 'Overweight (%)', 'Vitamin A', '2']
['Countries', 'birthweight  (%)', 'of breastfeeding (%)', 'breastfe<6 mont', 'edinghs (%)', 'or soft foods  6â€“8 months (%)', 'Breastfeeding  at age 2 (%)', 'moderate and severeÎ˜', 'severe', 'moderate and severeÎ˜', 'moderate and severeÎ˜', 'moderate and severeÎ˜', 'supplementation, full coverageÎ” (%)', 'Iodized salt consumption (%)']
['and areas', '2008â€“2012*', '', '', '200', '8â€“2012*', '', '', '', '2008â€“2012*', '', '', '2012', '2008â€“2012*']
['Montenegro', '4 x', '25 x', '19 x', '', '35 x,y', '13 x', '2 x', '1 x', '7 x', '4 x', '16 x', 'â€“', '71 x']
['Morocco', '15 x', '52 x', '31 x', '', '52 x,y', '15 x', '3', '2 x', '15', '2', '11', 'â€“', '21 x']
['Mozambique', '17', '77', '43', '', '90', '52', '15', '4', '43', '6', '7', '20', '45 y']
['Myanmar', '9', '76', '24', '', '76', '65', '23', '6', '35', '8', '3', '86', '93']
==========================

['TABLE 2      NUTRI', 'TION>>', '', '', '', '', '', '', '', '', '', '', '', 'TA']
['', '', '', '', '', '', '', '', '', '', '', '', '', 'BL']
['', '', '', '', '', 'Introduction of', '', '', '', '', '', '', '', 'E']
['', 'Low', 'Early initiation', 'Exclus', 'ive', 'solid, semi-solid', '', 'Under', 'weight (%)', 'Stunting (%)', 'Wasting (%)', 'Overweight (%)', 'Vitamin A', '2']
['Countries', 'birthweight  (%)', 'of breastfeeding(%)', 'breastfe<6 mont', 'edinghs (%)', 'or soft foods  6â€“8 months (%)', 'Breastfeeding  at age 2 (%)', 'moderate and severeÎ˜', 'severe', 'moderate and severeÎ˜', 'moderate and severeÎ˜', 'moderate and severeÎ˜', 'supplementation, full coverageÎ” (%)', 'Iodized salt consumption (%)']
['and areas', '2008â€“2012*', '', '', '200', '8â€“2012*', '', '', '', '2008â€“2012*', '', '', '2012', '2008â€“2012*']
['Seychelles', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Sierra Leone', '11', '45', '32', '', '25', '48', '22', '8', '44', '9', '10', '99', '63']
['Singapore', '8 x', 'â€“', 'â€“', '', 'â€“', 'â€“', '3 x', '0 x', '4 x', '4 x', '3 x', 'â€“', 'â€“']
['Slovakia', '7 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
==========================

['TATABLE 2      NUTRIT', 'ION', '', '', '', '', '', '', '', '', '', '', '', 'TA']
['BL', '', '', '', '', '', '', '', '', '', '', '', '', 'BL']
['E', '', '', '', '', 'Introduction of', '', '', '', '', '', '', '', 'E']
['2', 'Low', 'Early initiation', 'Exclu', 'sive', 'solid, semi-solid', '', 'Under', 'weight (%)', 'Stunting (%)', 'Wasting (%)', 'Overweight (%)', 'Vitamin A', '2']
['Countries', 'birthweight  (%)', 'of breastfeeding (%)', 'breastfe<6 mont', 'edinghs (%)', 'or soft foods  6â€“8 months (%)', 'Breastfeeding  at age 2 (%)', 'moderate and severeÎ˜', 'severe', 'moderate and severeÎ˜', 'moderate and severeÎ˜', 'moderate and severeÎ˜', 'supplementation, full coverageÎ” (%)', 'Iodized salt consumption (%)']
['and areas', '2008â€“2012*', '', '', '200', '8â€“2012*', '', '', '', '2008â€“2012*', '', '', '2012', '2008â€“2012*']
['Venezuela (Bolivarian', '', '', '', '', '', '', '', '', '', '', '', '', '']
['Republic of)', '8', 'â€“', 'â€“', '', 'â€“', 'â€“', '4 x', 'â€“', '16 x', '5 x', '6 x', 'â€“', 'â€“']
['Viet Nam', '5', '40', '17', '', '50', '19', '12', '2', '23', '4', '4', '98 w', '45']
['Yemen', 'â€“', '30 x', '12 x', '', '76 x,y', 'â€“', '43 x', '19 x', '58 x', '15 x', '5 x', '11', '30 x']
==========================

What did you find? 

All the titles are included in the first 5 lists, and they are very messy. For simplification,
we do not extract column titles here with a Python script. Instead assume that we can manually set up the 
title list by eyeballing the original PDF. However, we can also see country rows start from the sixth list,
and those rows are quite clean. To exclude the first five lists in each table, we can use list slicing in 
the FOR-loop over rows:
``` python
    for row in table[5:]
```

Similarly, if we print out the last 10 rows of each table,

In [67]:
for table in tables:
    for row in table[-10:]:
        print (row)
    print ('==========================\n')

['Canada', '6 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Central African Republic', '14', '44', '34', '', '60', '32', '24', '8', '41', '7', '2', '83', '65']
['Chad', '20', '29', '3', '', '46', '59', '30', '13', '39', '16', '3', '0', '54']
['Chile', '6', 'â€“', '63 x', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['China', '3', '41', '28', '', '43 y', 'â€“', '4', 'â€“', '10', '2', '7', 'â€“', '97 y']
['Colombia', '6 x', '49 x', '43', '', '86', '33', '3', '1', '13', '1', '5', 'â€“', 'â€“']
['Comoros', '25 x', '25 x', 'â€“', '', '34 x,y', '45 x', '15', '4', '30', '11', '9', 'â€“', '82 x']
['Congo', '13 x', '39 x', '19 x', '', '78 x,y', '21 x', '11 x', '3 x', '30 x', '8 x', '3', 'â€“', '82 x']
['36      THE STATE OF T', 'HE WORLD', 'â€™S CHILDREN', '2014 IN', 'NU', 'MBERS', '', '', '', '', '', '', '', '']
['', '', '', '', '', '', '', '', '', '', '', '', '', '']
==========================

['Guatemala', '11', '56', '50', '', '71 y', '46', '13', 'â€“', '48', '1', '5', '14', '76 x']
['Guinea', '12 x', '40 x', '48', '', '32 y', 'â€“', '16', '4', '35', '5', '4', '99', '41']
['Guinea-Bissau', '11', '55', '38', '', '43', '65', '18', '5', '32', '6', '3', '95', '12']
['Guyana', '14', '43 x', '33', '', '81', '49', '11', '2', '18', '5', '6', 'â€“', '11']
['Haiti', '23', '47', '40', '', '87', '31', '11', '3', '22', '5', '4', '54', '18']
['Holy See', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Honduras', '10', '64', '31', '', '83 x', '43', '7', '1', '23', '1', '5', '58', 'â€“']
['Hungary', '9 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['37      THE STATE O', 'F THE WORLDâ€™', 'S CHILDREN', '2014 IN', 'NU', 'MBERS', '', '', '', '', '', '', '', '']
['', '', '', '', '', '', '', '', '', '', '', '', '', '']
==========================

['Marshall Islands', '18 x', '73 x', '31 x', '', '77 x', '53 x', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Mauritania', '35', '81', '46', '', '61 y', '47', '20', '4', '23', '12', '1', '99', '23']
['Mauritius', '14 x', 'â€“', '21 x', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Mexico', '9', '18', '19', '', '27', 'â€“', '3', 'â€“', '14', '2', '10', 'â€“', '91 x']
['Micronesia (Federated', '', '', '', '', '', '', '', '', '', '', '', '', '']
['States of)', '18 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Monaco', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Mongolia', '5', '71', '66', '', '66', '65', '3', '1', '15', '2', '11', '54', '70']
['38      THE STATE OF T', 'HE WORLD', 'â€™S CHILDREN', '2014 IN', 'NU', 'MBERS', '', '', '', '', '', '', '', '']
['', '', '', '', '', '', '', '', '', '', '', '', '', '']
==========================

['Saint Vincent and', '', '', '', '', '', '', '', '', '', '', '', '', '']
['the Grenadines', '8', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Samoa', '10', '88', '51', '', '71 y', '74', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['San Marino', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Sao Tome and Principe', '10', '35 x', '51', '', '74', '20', '13', '3', '29', '11', '11', '34', '86']
['Saudi Arabia', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Senegal', '19', '48', '39', '', '67 y', '51', '18', '5', '27', '10', '3', 'â€“', '47']
['Serbia', '6', '8', '14', '', '84', '15', '2', '1', '7', '4', '16', 'â€“', '32 x']
['39      THE STATE OF', 'THE WORLDâ€™', 'S CHILDREN', '2014 IN', 'NU', 'MBERS', '', '', '', '', '', '', '', '']
['', '', '', '', '', '', '', '', '', '', '', '', '', '']
==========================

['United Arab Emirates', '6', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['United Kingdom', '8 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['United Republic', '', '', '', '', '', '', '', '', '', '', '', '', '']
['of Tanzania', '8', '49', '50', '', '92', '51', '16', '4', '42', '5', '5', '95', '59']
['United States', '8 x', 'â€“', 'â€“', '', 'â€“', 'â€“', '1 x', '0 x', '3 x', '0 x', '7 x', 'â€“', 'â€“']
['Uruguay', '9', '59', '65', '', '35 x,y', '27', '5 x', '2 x', '15 x', '2 x', '10 x', 'â€“', 'â€“']
['Uzbekistan', '5 x', '67 x', '26 x', '', '47 x', '38 x', '4 x', '1 x', '19 x', '4 x', '13 x', '99', '53 x']
['Vanuatu', '10 x', '72 x', '40 x', '', '68 x', '32 x', '11 x', '2 x', '26 x', '6 x', '5 x', 'â€“', '23 x']
['40      THE STATE OF T', 'HE WORLD', 'â€™S CHILDREN', '2014 IN', 'NU', 'MBERS', '', '', '', '', '', '', '', '']
['', '', '', '', '', '', '', '', '', '', '', '', '', '']
==========================

['Overweight â€“ Moderate and sever', 'e: Percentage of c', 'hildren aged 0â€“59 mo', 'nths who ar', 'e abov', 'e two standard deviati', 'ons from median', 'included in', 'the calculation', 'of regional and global av', 'erages.', '', '', '']
['weight-for-height of the WHO Child Vitamin A supplementation, full', 'Growth Standardcoverage â€“ The e', 's. stimated percentage', 'of children a', 'ged 6', 'â€“59 months reached w', 'ith', 'Î”  Full covera', 'ge with vitamin', 'A supplements is reporte', 'd as the lower perce', 'ntage of 2 annual co', 'verage points (i.e., lo', 'wer point']
['2 doses of vitamin A supplements.', '', '', '', '', '', '', 'between ro', 'und 1 (January', 'â€“June) and round 2 (Julyâ€“', 'December) of 2012)', '.', '', '']
['Iodized salt consumption â€“ Perce', 'ntage of househo', 'lds consuming adequa', 'tely iodized', 'salt (1', '5 parts per million or m', 'ore).', '*  Data refer t** Excludes C', 'o the most recehina.', 'nt year available during t', 'he period specified', 'in the column headin', 'g.', '']
['', '', '', '', '', '', '', 'Î˜ Regional av', 'erages for und', 'erweight (moderate and s', 'evere), stunting (mo', 'derate and severe),', 'wasting (moderate and', 'severe) and']
['', '', '', '', '', '', '', 'overweight', '(moderate and', 'severe) are estimated us', 'ing statistical model', 'ing of data from the', 'UNICEF-WHO-World B', 'ank Joint Global']
['', '', '', '', '', '', '', 'Nutrition D', 'atabase, 2012 r', 'evision (completed July 2', '013). The severe un', 'derweight indicator', 'was not included in thi', 's exercise;']
['', '', '', '', '', '', '', 'regional av', 'erages for this i', 'ndicator are based on a p', 'opulation-weighted', 'average calculated b', 'y UNICEF.', '']
['41      THE STATE OF T', 'HE WORLDâ€™', 'S CHILDREN', '2014 IN', 'NU', 'MBERS', '', '', '', '', '', '', '', '']
['', '', '', '', '', '', '', '', '', '', '', '', '', '']
==========================

Again, what did you find?

In the first five tables, the last country row is always followed by a similar row like
```
['39      THE STATE OF', 'THE WORLD\xe2\x80\x99', 'S CHILDREN', '2014 IN', 'NU', 'MBERS', '', '', '', '', '', '', '', '']
```
Therefore, our script should stop collecting country rows while it hit the above row. In the FOR-loop over rows, we should have something like
```python
    if 'THE STATE OF' in row[0]:
            break
```

Unfortunately, the above pattern does not apply to the last table. It needs specially treatment. If we look at the 
original PDF file, we will see that the last country row to be collected is the row for 'Zimbabwe'. It appears in
the last table as
```
['Zimbabwe', '11', '65', '31', '', '86', '20', '10', '2', '32', '3', '6', '61', '94 y']
```
Thus, we can put another IF statement to check if the first string in the list is 
equal to 'Zimbabwe'. If it is, then we stop collecting country rows after collecting the current row. 
```python
    if row[0] == 'Zimbabwe':
        print row
        break
```
Let's insert this logic into the FOR loop over rows.

In [68]:
for table in tables:
    for row in table[5:]:
        if 'THE STATE' in row[0]:
            break
        if row[0] == 'Zimbabwe':
            print (row)
            break;
        print (row)
    print ('==========================\n')

['and areas', '2008â€“2012*', '', '', '200', '8â€“2012*', '', '', '', '2008â€“2012*', '', '', '2012', '2008â€“2012*']
['Afghanistan', 'â€“', 'â€“', 'â€“', '', '29 x', '54 x', '33 x', '12 x', '59 x', '9 x', '5 x', 'â€“', '20']
['Albania', '4', '43', '39', '', '78', '31', '5', '2', '19', '9', '22', 'â€“', '76']
['Algeria', '6 x', '50 x', '7 x', '', '39 x,y', '22 x', '3 x', '1 x', '15 x', '4 x', '13 x', 'â€“', '61 x']
['Andorra', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Angola', '12 x', '55 x', '11 x', '', '77 x', '37 x', '16 x', '7 x', '29 x', '8 x', 'â€“', '44', '45 x']
['Antigua and Barbuda', '5 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Argentina', '7', 'â€“', '54', '', 'â€“', '28 x', '2 x', '0 x', '8 x', '1 x', '10 x', 'â€“', 'â€“']
['Armenia', '8', '36', '35', '', '75', '23', '5', '1', '19', '4', '15', 'â€“', '97 x']
['Australia', '7 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Austria', '7 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Azerbaijan', '10 x', '32 x', '12 x', '', '83 x', '16 x', '8 x', '2 x', '25 x', '7 x', '13 x', '90 w', '54 x']
['Bahamas', '11 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Bahrain', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Bangladesh', '22 x', '47', '64', '', '62', '90', '36', '10', '41', '16', '2', '99', '82 y']
['Barbados', '12', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Belarus', '4 x', '21 x', '9 x', '', '38 x', '4 x', '1 x', '1 x', '4 x', '2 x', '10 x', 'â€“', 'â€“']
['Belgium', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Belize', '11', '62', '15', '', '69', '35', '6', '1', '19', '3', '8', 'â€“', 'â€“']
['Benin', '15 x', '50', '33', '', '76 y', '92', '21', '8', '45', '16', '18', '99', '86']
['Bhutan', '10', '59', '49', '', '67', '66', '13', '3', '34', '6', '8', '43', '96 x,y']
['Bolivia (Plurinational', '', '', '', '', '', '', '', '', '', '', '', '', '']
['State of)', '6', '64', '60', '', '83', '40', '4', '1', '27', '1', '9', '41', '89 y']
['Bosnia and Herzegovina', '3', '42', '19', '', '71', '12', '2', '1', '9', '2', '17', 'â€“', '62 x,y']
['Botswana', '13 x', '40 x', '20 x', '', '46 x,y', '6 x', '11 x', '4 x', '31 x', '7 x', '11 x', 'â€“', '65 x']
['Brazil', '8', '68', '41', '', '70 x,y', '25 x', '2 x', 'â€“', '7 x', '2 x', '7 x', 'â€“', '96 x,y']
['Brunei Darussalam', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Bulgaria', '9', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '100 x']
['Burkina Faso', '14', '42', '38', '', '57', '80', '24', '6', '33', '11', '2', '99', '96 y']
['Burundi', '13', '74', '69', '', '70 y', '79', '29', '8', '58', '6', '3', 'â€“', '96 y']
['Cabo Verde', '6 x', '73 x', '60 x', '', '80 x,y', '13 x', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '75']
['Cambodia', '11', '66', '74', '', '88', '43', '28', '7', '40', '11', '2', '98', '83 y']
['Cameroon', '11 x', '20 x', '20', '', '63 x', '24', '15', '5', '33', '6', '7', '88', '49 x,y']
['Canada', '6 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Central African Republic', '14', '44', '34', '', '60', '32', '24', '8', '41', '7', '2', '83', '65']
['Chad', '20', '29', '3', '', '46', '59', '30', '13', '39', '16', '3', '0', '54']
['Chile', '6', 'â€“', '63 x', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['China', '3', '41', '28', '', '43 y', 'â€“', '4', 'â€“', '10', '2', '7', 'â€“', '97 y']
['Colombia', '6 x', '49 x', '43', '', '86', '33', '3', '1', '13', '1', '5', 'â€“', 'â€“']
['Comoros', '25 x', '25 x', 'â€“', '', '34 x,y', '45 x', '15', '4', '30', '11', '9', 'â€“', '82 x']
['Congo', '13 x', '39 x', '19 x', '', '78 x,y', '21 x', '11 x', '3 x', '30 x', '8 x', '3', 'â€“', '82 x']
==========================

['and areas', '2008â€“2012*', '', '', '200', '8â€“2012*', '', '', '', '2008â€“2012*', '', '', '2012', '2008â€“2012*']
['Cook Islands', '3 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Costa Rica', '7', 'â€“', '19 x', '', '92', '40', '1', 'â€“', '6', '1', '8', 'â€“', 'â€“']
['CÃ´te dâ€™Ivoire', '17 x', '31', '12', '', '64', '38', '15', '3', '30', '8', '3', '99', '84 x,y']
['Croatia', '5', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Cuba', '5', '77', '49', '', '77', '17', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '88 x']
['Cyprus', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Czech Republic', '7 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Democratic Peopleâ€™s', '', '', '', '', '', '', '', '', '', '', '', '', '']
['Republic of Korea', '6', '18', '65 x', '', '31 x,y', '36', '15', '3', '28', '4', 'â€“', '99', '25 y']
['Democratic Republic', '', '', '', '', '', '', '', '', '', '', '', '', '']
['of the Congo', '10', '43', '37', '', '52', '53', '24', '8', '43', '9', '5', '84', '59']
['Denmark', '5 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Djibouti', '10 x', '55 x', '1 x', '', '35 x', '18 x', '23', '5', '31', '10', '8', '88', '0 x']
['Dominica', '10', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Dominican Republic', '11 x', '69 x', '8 x', '', '88 x', '14', '3 x', '0 x', '10 x', '2 x', '8', 'â€“', '19 x']
['Ecuador', '8', 'â€“', '40 x', '', '76 x,y', '23 x', '6 x', '1 x', '29 x', '2 x', '5 x', 'â€“', 'â€“']
['Egypt', '13', '43 x', '53', '', '70', '35', '6', '1', '29', '7', '21', '62', '79']
['El Salvador', '9', '33', '31', '', '80', '54', '6', '1', '19', '1', '6', '81', '62 x']
['Equatorial Guinea', '13 x', 'â€“', '24 x', '', 'â€“', 'â€“', '11 x', '5 x', '35 x', '3 x', '8 x', 'â€“', '33 x']
['Eritrea', '14 x', '78 x', '52 x', '', '43 x,y', '62 x', '35 x', '13 x', '44 x', '15 x', '2 x', '38', '68 x']
['Estonia', '4 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Ethiopia', '20 x', '52', '52', '', '49', '82', '29', '9', '44', '10', '2', '31', '15 y']
['Fiji', '10 x', '57 x', '40 x', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Finland', '4 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['France', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Gabon', '14 x', '32', '6', '', '62 x,y', '4', '6', '1', '17', '3', '7', '2', '36 x']
['Gambia', '10', '52', '34', '', '34', '31', '17', '4', '23', '10', '2', '46', '22']
['Georgia', '5', '69', '55', '', '43 y', '17', '1', '1', '11', '2', '20', 'â€“', '100']
['Germany', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Ghana', '11', '46', '46', '', '75', '37', '13', '3', '23', '6', '3', '17', '35']
['Greece', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Grenada', '9 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Guatemala', '11', '56', '50', '', '71 y', '46', '13', 'â€“', '48', '1', '5', '14', '76 x']
['Guinea', '12 x', '40 x', '48', '', '32 y', 'â€“', '16', '4', '35', '5', '4', '99', '41']
['Guinea-Bissau', '11', '55', '38', '', '43', '65', '18', '5', '32', '6', '3', '95', '12']
['Guyana', '14', '43 x', '33', '', '81', '49', '11', '2', '18', '5', '6', 'â€“', '11']
['Haiti', '23', '47', '40', '', '87', '31', '11', '3', '22', '5', '4', '54', '18']
['Holy See', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Honduras', '10', '64', '31', '', '83 x', '43', '7', '1', '23', '1', '5', '58', 'â€“']
['Hungary', '9 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
==========================

['and areas', '2008â€“2012*', '', '', '200', '8â€“2012*', '', '', '', '2008â€“2012*', '', '', '2012', '2008â€“2012*']
['Iceland', '4 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['India', '28 x', '41', '46 x', '', '56 x', '77 x', '43 x', '16 x', '48 x', '20 x', '2 x', '59', '71']
['Indonesia', '9 x', '29', '42', '', '85 x', '55', '18', '5', '36', '13', '12', '73', '62 x,y']
['Iran (Islamic Republic of)', '7 x', '56 x', '23 x', '', '68 x,y', '58 x', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '99 x,y']
['Iraq', '13', '43', '20', '', '36', '23', '9', '4', '23', '7', '12', 'â€“', '29']
['Ireland', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Israel', '8 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Italy', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Jamaica', '12 x', '62 x', '15 x', '', '36 x', '24 x', '3', 'â€“', '5', '4', '4', 'â€“', 'â€“']
['Japan', '8 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Jordan', '13 x', '39 x', '23', '', '83 x', '13', '3', '1', '8', '2', '4', 'â€“', '88 x,y']
['Kazakhstan', '5', '68', '32', '', '49', '26', '4', '1', '13', '4', '1', 'â€“', '85']
['Kenya', '8', '58', '32', '', '85', '54', '16', '4', '35', '7', '5', '66', '98']
['Kiribati', 'â€“', 'â€“', '69', '', 'â€“', '82', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Kuwait', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Kyrgyzstan', '5 x', '65 x', '32 x', '', '60 x', '26 x', '5', '1', '23', '1', '4', 'â€“', '76 x']
['Lao Peopleâ€™s', '', '', '', '', '', '', '', '', '', '', '', '', '']
['Democratic Republic', '15', '30 x', '26 x', '', '41 x', '48 x', '27', '7', '44', '6', '2', '47', '80 y']
['Latvia', '5 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Lebanon', '12', 'â€“', '15', '', '35 x,y', '15', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '71']
['Lesotho', '11', '53', '54', '', '68', '35', '13', '2', '39', '4', '7', 'â€“', '84']
['Liberia', '14', '67 x', '29 x', '', 'â€“', 'â€“', '15', '2', '42', '3', '5', '13', 'â€“']
['Libya', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', '4 x', 'â€“', '21 x', '4 x', '22 x', 'â€“', 'â€“']
['Liechtenstein', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Lithuania', '4 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Luxembourg', '8 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Madagascar', '16', '72', '51', '', '86', '61', '36 x', 'â€“', '50', '15 x', 'â€“', '88', '53']
['Malawi', '14', '95', '71', '', '86', '77', '13', '3', '47', '4', '8', '60', '97 y']
['Malaysia', '11', 'â€“', 'â€“', '', 'â€“', 'â€“', '12', '2', '17', '12', '5', 'â€“', '18']
['Maldives', '11', '64', '48', '', '91', '68', '17', '3', '19', '11', '7', 'â€“', '44 x']
['Mali', '18', '57', '20', '', '27', '46', '19', '5', '28', '9', '1', '93', '79 x']
['Malta', '6 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Marshall Islands', '18 x', '73 x', '31 x', '', '77 x', '53 x', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Mauritania', '35', '81', '46', '', '61 y', '47', '20', '4', '23', '12', '1', '99', '23']
['Mauritius', '14 x', 'â€“', '21 x', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Mexico', '9', '18', '19', '', '27', 'â€“', '3', 'â€“', '14', '2', '10', 'â€“', '91 x']
['Micronesia (Federated', '', '', '', '', '', '', '', '', '', '', '', '', '']
['States of)', '18 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Monaco', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Mongolia', '5', '71', '66', '', '66', '65', '3', '1', '15', '2', '11', '54', '70']
==========================

['and areas', '2008â€“2012*', '', '', '200', '8â€“2012*', '', '', '', '2008â€“2012*', '', '', '2012', '2008â€“2012*']
['Montenegro', '4 x', '25 x', '19 x', '', '35 x,y', '13 x', '2 x', '1 x', '7 x', '4 x', '16 x', 'â€“', '71 x']
['Morocco', '15 x', '52 x', '31 x', '', '52 x,y', '15 x', '3', '2 x', '15', '2', '11', 'â€“', '21 x']
['Mozambique', '17', '77', '43', '', '90', '52', '15', '4', '43', '6', '7', '20', '45 y']
['Myanmar', '9', '76', '24', '', '76', '65', '23', '6', '35', '8', '3', '86', '93']
['Namibia', '16 x', '71 x', '24 x', '', '91 x', '28 x', '17 x', '4 x', '29 x', '8 x', '5 x', '46', '63 x']
['Nauru', '27 x', '76 x,y', '67 x', '', '65 x', '65 x', '5 x', '1 x', '24 x', '1 x', '3 x', 'â€“', 'â€“']
['Nepal', '18', '45', '70', '', '66', '93', '29', '8', '41', '11', '2', '95', '80']
['Netherlands', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['New Zealand', '6 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Nicaragua', '8', '76 x', '31 x', '', '76 x,y', '43 x', '6 x', '1 x', '22 x', '1 x', '6 x', '7', '97 x']
['Niger', '27 x', '42', '23', '', '65 y', '50', '36', '13', '44', '18', '2', '98', '32']
['Nigeria', '15', '23', '15', '', '33', '35', '24', '9', '36', '10', '3', '78', '52']
['Niue', '0 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Norway', '5 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Oman', '10', '85 x', 'â€“', '', '91 x,y', '73 x', '9', '1', '10', '7', '2', 'â€“', '69 x,y']
['Pakistan', '32 x', '29 x', '37 x', '', '36 x,y', '55 x', '32', '12', '44', '15', '6', '99', '69']
['Palau', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Panama', '10 x', 'â€“', 'â€“', '', 'â€“', 'â€“', '4', 'â€“', '19', '1', 'â€“', 'â€“', 'â€“']
['Papua New Guinea', '11 x', 'â€“', '56 x', '', '76 x,y', '72 x', '18 x', '5 x', '44 x', '5 x', '4 x', '15', '92 x']
['Paraguay', '6', '47', '24', '', '67 y', '14', '3 x', 'â€“', '18 x', '1 x', '7 x', 'â€“', '93']
['Peru', '8 x', '51', '71', '', '82', '55', '4', '1', '20', '0', '10', 'â€“', '91']
['Philippines', '21', '54', '34', '', '90', '34', '22', 'â€“', '32', '7', '4', '90', '45 x']
['Poland', '6 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Portugal', '8 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Qatar', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Republic of Korea', '4 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Republic of Moldova', '6 x', '65 x', '46 x', '', '18 x,y', '2 x', '3 x', '1 x', '10 x', '5 x', '9 x', 'â€“', '60 x']
['Romania', '8 x', 'â€“', '16 x', '', '41 x,y', 'â€“', '4 x', '1 x', '13 x', '4 x', '8 x', 'â€“', '74 x']
['Russian Federation', '6 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '35 x,y']
['Rwanda', '7', '71', '85', '', '79', '84', '11', '2', '44', '3', '7', '3', '99']
['Saint Kitts and Nevis', '8', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '100 x,y']
['Saint Lucia', '11', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Saint Vincent and', '', '', '', '', '', '', '', '', '', '', '', '', '']
['the Grenadines', '8', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Samoa', '10', '88', '51', '', '71 y', '74', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['San Marino', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Sao Tome and Principe', '10', '35 x', '51', '', '74', '20', '13', '3', '29', '11', '11', '34', '86']
['Saudi Arabia', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Senegal', '19', '48', '39', '', '67 y', '51', '18', '5', '27', '10', '3', 'â€“', '47']
['Serbia', '6', '8', '14', '', '84', '15', '2', '1', '7', '4', '16', 'â€“', '32 x']
==========================

['and areas', '2008â€“2012*', '', '', '200', '8â€“2012*', '', '', '', '2008â€“2012*', '', '', '2012', '2008â€“2012*']
['Seychelles', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Sierra Leone', '11', '45', '32', '', '25', '48', '22', '8', '44', '9', '10', '99', '63']
['Singapore', '8 x', 'â€“', 'â€“', '', 'â€“', 'â€“', '3 x', '0 x', '4 x', '4 x', '3 x', 'â€“', 'â€“']
['Slovakia', '7 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Slovenia', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Solomon Islands', '13 x', '75 x', '74 x', '', '80 x,y', '67 x', '12 x', '2 x', '33 x', '4 x', '3 x', 'â€“', 'â€“']
['Somalia', 'â€“', '26 x', '9 x', '', '16 x', '35 x', '32 x', '12 x', '42 x', '13 x', '5', 'â€“', '1 x']
['South Africa', 'â€“', '61 x', '8 x', '', '49 x,y', '31 x', '9 x', 'â€“', '33 x', '6 x', '19 x', 'â€“', 'â€“']
['South Sudan', 'â€“', 'â€“', '45', '', '21', '38', '28', '12', '31', '23', '5', '70', '54']
['Spain', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Sri Lanka', '17 x', '80 x', '76 x', '', '87 x,y', '84 x', '21 x', '4 x', '17 x', '15 x', '1', '90', '92 x,y']
['State of Palestine', '9', 'â€“', '27 x', '', 'â€“', 'â€“', '4', '1', '11', '3', 'â€“', 'â€“', '86 x']
['Sudan', 'â€“', 'â€“', '41', '', '51', '40', '32', '13', '35', '16', 'â€“', '83', '10']
['Suriname', '14', '45', '3', '', '47', '15', '6', '1', '9', '5', '4', 'â€“', 'â€“']
['Swaziland', '9', '55', '44', '', '66', '11', '6', '1', '31', '1', '11', '33', '52']
['Sweden', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Switzerland', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Syrian Arab Republic', '10', '46', '43', '', 'â€“', '25', '10', 'â€“', '28', '12', '18', 'â€“', '79 x']
['Tajikistan', '10 x', '61 x', '25 x', '', '41 x', '34 x', '12', '4', '26', '10', '6', '97', '62']
['Thailand', '7', '50 x', '15', '', 'â€“', 'â€“', '7 x', '1 x', '16 x', '5 x', '8 x', 'â€“', '47 x']
['The former Yugoslav', '', '', '', '', '', '', '', '', '', '', '', '', '']
['Republic of Macedonia', '6', '21', '23', '', '41', '13', '1', '0', '5', '2', '12', 'â€“', '94 x,y']
['Timor-Leste', '12 x', '82', '52', '', '82', '33', '45', '15', '58', '19', '5', '59', '60 x']
['Togo', '11', '46', '62', '', '44', '64', '17', '4', '30', '5', '2', '64', '32']
['Tonga', '3 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Trinidad and Tobago', '10', '41 x', '13 x', '', '83 x', '22 x', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '28 x']
['Tunisia', '7', '87 x', '6 x', '', '61 x,y', '15 x', '2', '1', '10', '3', '14', 'â€“', '97 x']
['Turkey', '11', '39', '42', '', '68 x,y', '22', '2', '0', '12', '1', 'â€“', 'â€“', '69']
['Turkmenistan', '4 x', '60 x', '11 x', '', '54 x', '37 x', '8 x', '2 x', '19 x', '7 x', 'â€“', 'â€“', '87 x']
['Tuvalu', '6 x', '15 x', '35 x', '', '40 x,y', '51 x', '2 x', '0 x', '10 x', '3 x', '6 x', 'â€“', 'â€“']
['Uganda', '12', '53', '63', '', '67', '46', '14', '3', '33', '5', '3', '70', '99 y']
['Ukraine', '4 x', '41 x', '18 x', '', '86 x', '6 x', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '18 x']
['United Arab Emirates', '6', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['United Kingdom', '8 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['United Republic', '', '', '', '', '', '', '', '', '', '', '', '', '']
['of Tanzania', '8', '49', '50', '', '92', '51', '16', '4', '42', '5', '5', '95', '59']
['United States', '8 x', 'â€“', 'â€“', '', 'â€“', 'â€“', '1 x', '0 x', '3 x', '0 x', '7 x', 'â€“', 'â€“']
['Uruguay', '9', '59', '65', '', '35 x,y', '27', '5 x', '2 x', '15 x', '2 x', '10 x', 'â€“', 'â€“']

It seems that running the above script returns all the country rows. It will. However, it will also return, for example,
```
['Bolivia (Plurinational', '', '', '', '', '', '', '', '', '', '', '', '', '']
['State of)', '6', '64', '60', '', '83', '40', '4', '1', '27', '1', '9', '41', '89 y']
```
This is similar to what we found earlier in Section 2, while we were handling <font color = "red"> country names spreading over two rows.</font>
We want to programmatically solve this problem with some tests based on what we have learnt so far. Since '-' is used to indicate missing data in our PDF, we know for sure that if the first element of the row is a string (i.e., not null)
and all the following elements are null, this row must contain the first part of a country name. Before we skip this
row, we need to use a variable (say 'first_name') to cache the first part, as we need to merge it with the
corresponding second part.
The code should look like
```python
    if row[2] == '':
        first_name = row[0]
        continue
```
Since these country names spread over two consecutive rows, we add the following IF statement to join the two parts 
of a country name:
```python
    if first_name != '':
        row[0] = '{} {}'.format(first_name, row[0])
        first_name = ''
```
Now, we put the two IF statements into the FOR loop over rows.

In [69]:
first_name = ''

for table in tables:
    for row in table[5:]:
        if row[2] == '':
            first_name = row[0]
            continue
        if first_name != '':
            row[0] = '{} {}'.format(first_name, row[0])
            first_name = ''
        if 'THE STATE OF' in row[0]:
            break
        if row[0] == 'Zimbabwe':
            print (row)
            break
        print (row)

['and areas Afghanistan', 'â€“', 'â€“', 'â€“', '', '29 x', '54 x', '33 x', '12 x', '59 x', '9 x', '5 x', 'â€“', '20']
['Albania', '4', '43', '39', '', '78', '31', '5', '2', '19', '9', '22', 'â€“', '76']
['Algeria', '6 x', '50 x', '7 x', '', '39 x,y', '22 x', '3 x', '1 x', '15 x', '4 x', '13 x', 'â€“', '61 x']
['Andorra', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Angola', '12 x', '55 x', '11 x', '', '77 x', '37 x', '16 x', '7 x', '29 x', '8 x', 'â€“', '44', '45 x']
['Antigua and Barbuda', '5 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Argentina', '7', 'â€“', '54', '', 'â€“', '28 x', '2 x', '0 x', '8 x', '1 x', '10 x', 'â€“', 'â€“']
['Armenia', '8', '36', '35', '', '75', '23', '5', '1', '19', '4', '15', 'â€“', '97 x']
['Australia', '7 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Austria', '7 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Azerbaijan', '10 x', '32 x', '12 x', '', '83 x', '16 x', '8 x', '2 x', '25 x', '7 x', '13 x', '90 w', '54 x']
['Bahamas', '11 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Bahrain', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Bangladesh', '22 x', '47', '64', '', '62', '90', '36', '10', '41', '16', '2', '99', '82 y']
['Barbados', '12', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Belarus', '4 x', '21 x', '9 x', '', '38 x', '4 x', '1 x', '1 x', '4 x', '2 x', '10 x', 'â€“', 'â€“']
['Belgium', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Belize', '11', '62', '15', '', '69', '35', '6', '1', '19', '3', '8', 'â€“', 'â€“']
['Benin', '15 x', '50', '33', '', '76 y', '92', '21', '8', '45', '16', '18', '99', '86']
['Bhutan', '10', '59', '49', '', '67', '66', '13', '3', '34', '6', '8', '43', '96 x,y']
['Bolivia (Plurinational State of)', '6', '64', '60', '', '83', '40', '4', '1', '27', '1', '9', '41', '89 y']
['Bosnia and Herzegovina', '3', '42', '19', '', '71', '12', '2', '1', '9', '2', '17', 'â€“', '62 x,y']
['Botswana', '13 x', '40 x', '20 x', '', '46 x,y', '6 x', '11 x', '4 x', '31 x', '7 x', '11 x', 'â€“', '65 x']
['Brazil', '8', '68', '41', '', '70 x,y', '25 x', '2 x', 'â€“', '7 x', '2 x', '7 x', 'â€“', '96 x,y']
['Brunei Darussalam', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Bulgaria', '9', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '100 x']
['Burkina Faso', '14', '42', '38', '', '57', '80', '24', '6', '33', '11', '2', '99', '96 y']
['Burundi', '13', '74', '69', '', '70 y', '79', '29', '8', '58', '6', '3', 'â€“', '96 y']
['Cabo Verde', '6 x', '73 x', '60 x', '', '80 x,y', '13 x', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '75']
['Cambodia', '11', '66', '74', '', '88', '43', '28', '7', '40', '11', '2', '98', '83 y']
['Cameroon', '11 x', '20 x', '20', '', '63 x', '24', '15', '5', '33', '6', '7', '88', '49 x,y']
['Canada', '6 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Central African Republic', '14', '44', '34', '', '60', '32', '24', '8', '41', '7', '2', '83', '65']
['Chad', '20', '29', '3', '', '46', '59', '30', '13', '39', '16', '3', '0', '54']
['Chile', '6', 'â€“', '63 x', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['China', '3', '41', '28', '', '43 y', 'â€“', '4', 'â€“', '10', '2', '7', 'â€“', '97 y']
['Colombia', '6 x', '49 x', '43', '', '86', '33', '3', '1', '13', '1', '5', 'â€“', 'â€“']
['Comoros', '25 x', '25 x', 'â€“', '', '34 x,y', '45 x', '15', '4', '30', '11', '9', 'â€“', '82 x']
['Congo', '13 x', '39 x', '19 x', '', '78 x,y', '21 x', '11 x', '3 x', '30 x', '8 x', '3', 'â€“', '82 x']
['and areas Cook Islands', '3 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Costa Rica', '7', 'â€“', '19 x', '', '92', '40', '1', 'â€“', '6', '1', '8', 'â€“', 'â€“']
['CÃ´te dâ€™Ivoire', '17 x', '31', '12', '', '64', '38', '15', '3', '30', '8', '3', '99', '84 x,y']
['Croatia', '5', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Cuba', '5', '77', '49', '', '77', '17', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '88 x']
['Cyprus', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Czech Republic', '7 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Democratic Peopleâ€™s Republic of Korea', '6', '18', '65 x', '', '31 x,y', '36', '15', '3', '28', '4', 'â€“', '99', '25 y']
['Democratic Republic of the Congo', '10', '43', '37', '', '52', '53', '24', '8', '43', '9', '5', '84', '59']
['Denmark', '5 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Djibouti', '10 x', '55 x', '1 x', '', '35 x', '18 x', '23', '5', '31', '10', '8', '88', '0 x']
['Dominica', '10', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Dominican Republic', '11 x', '69 x', '8 x', '', '88 x', '14', '3 x', '0 x', '10 x', '2 x', '8', 'â€“', '19 x']
['Ecuador', '8', 'â€“', '40 x', '', '76 x,y', '23 x', '6 x', '1 x', '29 x', '2 x', '5 x', 'â€“', 'â€“']
['Egypt', '13', '43 x', '53', '', '70', '35', '6', '1', '29', '7', '21', '62', '79']
['El Salvador', '9', '33', '31', '', '80', '54', '6', '1', '19', '1', '6', '81', '62 x']
['Equatorial Guinea', '13 x', 'â€“', '24 x', '', 'â€“', 'â€“', '11 x', '5 x', '35 x', '3 x', '8 x', 'â€“', '33 x']
['Eritrea', '14 x', '78 x', '52 x', '', '43 x,y', '62 x', '35 x', '13 x', '44 x', '15 x', '2 x', '38', '68 x']
['Estonia', '4 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Ethiopia', '20 x', '52', '52', '', '49', '82', '29', '9', '44', '10', '2', '31', '15 y']
['Fiji', '10 x', '57 x', '40 x', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Finland', '4 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['France', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Gabon', '14 x', '32', '6', '', '62 x,y', '4', '6', '1', '17', '3', '7', '2', '36 x']
['Gambia', '10', '52', '34', '', '34', '31', '17', '4', '23', '10', '2', '46', '22']
['Georgia', '5', '69', '55', '', '43 y', '17', '1', '1', '11', '2', '20', 'â€“', '100']
['Germany', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Ghana', '11', '46', '46', '', '75', '37', '13', '3', '23', '6', '3', '17', '35']
['Greece', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Grenada', '9 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Guatemala', '11', '56', '50', '', '71 y', '46', '13', 'â€“', '48', '1', '5', '14', '76 x']
['Guinea', '12 x', '40 x', '48', '', '32 y', 'â€“', '16', '4', '35', '5', '4', '99', '41']
['Guinea-Bissau', '11', '55', '38', '', '43', '65', '18', '5', '32', '6', '3', '95', '12']
['Guyana', '14', '43 x', '33', '', '81', '49', '11', '2', '18', '5', '6', 'â€“', '11']
['Haiti', '23', '47', '40', '', '87', '31', '11', '3', '22', '5', '4', '54', '18']
['Holy See', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Honduras', '10', '64', '31', '', '83 x', '43', '7', '1', '23', '1', '5', '58', 'â€“']
['Hungary', '9 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['37      THE STATE O', 'F THE WORLDâ€™', 'S CHILDREN', '2014 IN', 'NU', 'MBERS', '', '', '', '', '', '', '', '']
['and areas Iceland', '4 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['India', '28 x', '41', '46 x', '', '56 x', '77 x', '43 x', '16 x', '48 x', '20 x', '2 x', '59', '71']
['Indonesia', '9 x', '29', '42', '', '85 x', '55', '18', '5', '36', '13', '12', '73', '62 x,y']
['Iran (Islamic Republic of)', '7 x', '56 x', '23 x', '', '68 x,y', '58 x', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '99 x,y']
['Iraq', '13', '43', '20', '', '36', '23', '9', '4', '23', '7', '12', 'â€“', '29']
['Ireland', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Israel', '8 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Italy', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Jamaica', '12 x', '62 x', '15 x', '', '36 x', '24 x', '3', 'â€“', '5', '4', '4', 'â€“', 'â€“']
['Japan', '8 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Jordan', '13 x', '39 x', '23', '', '83 x', '13', '3', '1', '8', '2', '4', 'â€“', '88 x,y']
['Kazakhstan', '5', '68', '32', '', '49', '26', '4', '1', '13', '4', '1', 'â€“', '85']
['Kenya', '8', '58', '32', '', '85', '54', '16', '4', '35', '7', '5', '66', '98']
['Kiribati', 'â€“', 'â€“', '69', '', 'â€“', '82', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Kuwait', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Kyrgyzstan', '5 x', '65 x', '32 x', '', '60 x', '26 x', '5', '1', '23', '1', '4', 'â€“', '76 x']
['Lao Peopleâ€™s Democratic Republic', '15', '30 x', '26 x', '', '41 x', '48 x', '27', '7', '44', '6', '2', '47', '80 y']
['Latvia', '5 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Lebanon', '12', 'â€“', '15', '', '35 x,y', '15', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '71']
['Lesotho', '11', '53', '54', '', '68', '35', '13', '2', '39', '4', '7', 'â€“', '84']
['Liberia', '14', '67 x', '29 x', '', 'â€“', 'â€“', '15', '2', '42', '3', '5', '13', 'â€“']
['Libya', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', '4 x', 'â€“', '21 x', '4 x', '22 x', 'â€“', 'â€“']
['Liechtenstein', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Lithuania', '4 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Luxembourg', '8 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Madagascar', '16', '72', '51', '', '86', '61', '36 x', 'â€“', '50', '15 x', 'â€“', '88', '53']
['Malawi', '14', '95', '71', '', '86', '77', '13', '3', '47', '4', '8', '60', '97 y']
['Malaysia', '11', 'â€“', 'â€“', '', 'â€“', 'â€“', '12', '2', '17', '12', '5', 'â€“', '18']
['Maldives', '11', '64', '48', '', '91', '68', '17', '3', '19', '11', '7', 'â€“', '44 x']
['Mali', '18', '57', '20', '', '27', '46', '19', '5', '28', '9', '1', '93', '79 x']
['Malta', '6 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Marshall Islands', '18 x', '73 x', '31 x', '', '77 x', '53 x', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Mauritania', '35', '81', '46', '', '61 y', '47', '20', '4', '23', '12', '1', '99', '23']
['Mauritius', '14 x', 'â€“', '21 x', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Mexico', '9', '18', '19', '', '27', 'â€“', '3', 'â€“', '14', '2', '10', 'â€“', '91 x']
['Micronesia (Federated States of)', '18 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Monaco', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Mongolia', '5', '71', '66', '', '66', '65', '3', '1', '15', '2', '11', '54', '70']
['and areas Montenegro', '4 x', '25 x', '19 x', '', '35 x,y', '13 x', '2 x', '1 x', '7 x', '4 x', '16 x', 'â€“', '71 x']
['Morocco', '15 x', '52 x', '31 x', '', '52 x,y', '15 x', '3', '2 x', '15', '2', '11', 'â€“', '21 x']
['Mozambique', '17', '77', '43', '', '90', '52', '15', '4', '43', '6', '7', '20', '45 y']
['Myanmar', '9', '76', '24', '', '76', '65', '23', '6', '35', '8', '3', '86', '93']
['Namibia', '16 x', '71 x', '24 x', '', '91 x', '28 x', '17 x', '4 x', '29 x', '8 x', '5 x', '46', '63 x']
['Nauru', '27 x', '76 x,y', '67 x', '', '65 x', '65 x', '5 x', '1 x', '24 x', '1 x', '3 x', 'â€“', 'â€“']
['Nepal', '18', '45', '70', '', '66', '93', '29', '8', '41', '11', '2', '95', '80']
['Netherlands', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['New Zealand', '6 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Nicaragua', '8', '76 x', '31 x', '', '76 x,y', '43 x', '6 x', '1 x', '22 x', '1 x', '6 x', '7', '97 x']
['Niger', '27 x', '42', '23', '', '65 y', '50', '36', '13', '44', '18', '2', '98', '32']
['Nigeria', '15', '23', '15', '', '33', '35', '24', '9', '36', '10', '3', '78', '52']
['Niue', '0 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Norway', '5 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Oman', '10', '85 x', 'â€“', '', '91 x,y', '73 x', '9', '1', '10', '7', '2', 'â€“', '69 x,y']
['Pakistan', '32 x', '29 x', '37 x', '', '36 x,y', '55 x', '32', '12', '44', '15', '6', '99', '69']
['Palau', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Panama', '10 x', 'â€“', 'â€“', '', 'â€“', 'â€“', '4', 'â€“', '19', '1', 'â€“', 'â€“', 'â€“']
['Papua New Guinea', '11 x', 'â€“', '56 x', '', '76 x,y', '72 x', '18 x', '5 x', '44 x', '5 x', '4 x', '15', '92 x']
['Paraguay', '6', '47', '24', '', '67 y', '14', '3 x', 'â€“', '18 x', '1 x', '7 x', 'â€“', '93']
['Peru', '8 x', '51', '71', '', '82', '55', '4', '1', '20', '0', '10', 'â€“', '91']
['Philippines', '21', '54', '34', '', '90', '34', '22', 'â€“', '32', '7', '4', '90', '45 x']
['Poland', '6 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Portugal', '8 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Qatar', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Republic of Korea', '4 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Republic of Moldova', '6 x', '65 x', '46 x', '', '18 x,y', '2 x', '3 x', '1 x', '10 x', '5 x', '9 x', 'â€“', '60 x']
['Romania', '8 x', 'â€“', '16 x', '', '41 x,y', 'â€“', '4 x', '1 x', '13 x', '4 x', '8 x', 'â€“', '74 x']
['Russian Federation', '6 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '35 x,y']
['Rwanda', '7', '71', '85', '', '79', '84', '11', '2', '44', '3', '7', '3', '99']
['Saint Kitts and Nevis', '8', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '100 x,y']
['Saint Lucia', '11', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Saint Vincent and the Grenadines', '8', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Samoa', '10', '88', '51', '', '71 y', '74', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['San Marino', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Sao Tome and Principe', '10', '35 x', '51', '', '74', '20', '13', '3', '29', '11', '11', '34', '86']
['Saudi Arabia', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Senegal', '19', '48', '39', '', '67 y', '51', '18', '5', '27', '10', '3', 'â€“', '47']
['Serbia', '6', '8', '14', '', '84', '15', '2', '1', '7', '4', '16', 'â€“', '32 x']
['and areas Seychelles', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Sierra Leone', '11', '45', '32', '', '25', '48', '22', '8', '44', '9', '10', '99', '63']
['Singapore', '8 x', 'â€“', 'â€“', '', 'â€“', 'â€“', '3 x', '0 x', '4 x', '4 x', '3 x', 'â€“', 'â€“']
['Slovakia', '7 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Slovenia', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Solomon Islands', '13 x', '75 x', '74 x', '', '80 x,y', '67 x', '12 x', '2 x', '33 x', '4 x', '3 x', 'â€“', 'â€“']
['Somalia', 'â€“', '26 x', '9 x', '', '16 x', '35 x', '32 x', '12 x', '42 x', '13 x', '5', 'â€“', '1 x']
['South Africa', 'â€“', '61 x', '8 x', '', '49 x,y', '31 x', '9 x', 'â€“', '33 x', '6 x', '19 x', 'â€“', 'â€“']
['South Sudan', 'â€“', 'â€“', '45', '', '21', '38', '28', '12', '31', '23', '5', '70', '54']
['Spain', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Sri Lanka', '17 x', '80 x', '76 x', '', '87 x,y', '84 x', '21 x', '4 x', '17 x', '15 x', '1', '90', '92 x,y']
['State of Palestine', '9', 'â€“', '27 x', '', 'â€“', 'â€“', '4', '1', '11', '3', 'â€“', 'â€“', '86 x']
['Sudan', 'â€“', 'â€“', '41', '', '51', '40', '32', '13', '35', '16', 'â€“', '83', '10']
['Suriname', '14', '45', '3', '', '47', '15', '6', '1', '9', '5', '4', 'â€“', 'â€“']
['Swaziland', '9', '55', '44', '', '66', '11', '6', '1', '31', '1', '11', '33', '52']
['Sweden', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Switzerland', 'â€“', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Syrian Arab Republic', '10', '46', '43', '', 'â€“', '25', '10', 'â€“', '28', '12', '18', 'â€“', '79 x']
['Tajikistan', '10 x', '61 x', '25 x', '', '41 x', '34 x', '12', '4', '26', '10', '6', '97', '62']
['Thailand', '7', '50 x', '15', '', 'â€“', 'â€“', '7 x', '1 x', '16 x', '5 x', '8 x', 'â€“', '47 x']
['The former Yugoslav Republic of Macedonia', '6', '21', '23', '', '41', '13', '1', '0', '5', '2', '12', 'â€“', '94 x,y']
['Timor-Leste', '12 x', '82', '52', '', '82', '33', '45', '15', '58', '19', '5', '59', '60 x']
['Togo', '11', '46', '62', '', '44', '64', '17', '4', '30', '5', '2', '64', '32']
['Tonga', '3 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['Trinidad and Tobago', '10', '41 x', '13 x', '', '83 x', '22 x', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '28 x']
['Tunisia', '7', '87 x', '6 x', '', '61 x,y', '15 x', '2', '1', '10', '3', '14', 'â€“', '97 x']
['Turkey', '11', '39', '42', '', '68 x,y', '22', '2', '0', '12', '1', 'â€“', 'â€“', '69']
['Turkmenistan', '4 x', '60 x', '11 x', '', '54 x', '37 x', '8 x', '2 x', '19 x', '7 x', 'â€“', 'â€“', '87 x']
['Tuvalu', '6 x', '15 x', '35 x', '', '40 x,y', '51 x', '2 x', '0 x', '10 x', '3 x', '6 x', 'â€“', 'â€“']
['Uganda', '12', '53', '63', '', '67', '46', '14', '3', '33', '5', '3', '70', '99 y']
['Ukraine', '4 x', '41 x', '18 x', '', '86 x', '6 x', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', '18 x']
['United Arab Emirates', '6', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['United Kingdom', '8 x', 'â€“', 'â€“', '', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“', 'â€“']
['United Republic of Tanzania', '8', '49', '50', '', '92', '51', '16', '4', '42', '5', '5', '95', '59']
['United States', '8 x', 'â€“', 'â€“', '', 'â€“', 'â€“', '1 x', '0 x', '3 x', '0 x', '7 x', 'â€“', 'â€“']
['Uruguay', '9', '59', '65', '', '35 x,y', '27', '5 x', '2 x', '15 x', '2 x', '10 x', 'â€“', 'â€“']
['Uzbekistan', '5 x', '67 x', '26 x', '', '47 x', '38 x', '4 x', '1 x', '19 x', '4 x', '13 x', '99', '53 x']
['Vanuatu', '10 x', '72 x', '40 x', '', '68 x', '32 x', '11 x', '2 x', '26 x', '6 x', '5 x', 'â€“', '23 x']
['Venezuela (Bolivarian Republic of)', '8', 'â€“', 'â€“', '', 'â€“', 'â€“', '4 x', 'â€“', '16 x', '5 x', '6 x', 'â€“', 'â€“']
['Viet Nam', '5', '40', '17', '', '50', '19', '12', '2', '23', '4', '4', '98 w', '45']
['Yemen', 'â€“', '30 x', '12 x', '', '76 x,y', 'â€“', '43 x', '19 x', '58 x', '15 x', '5 x', '11', '30 x']
['Zambia', '11 x', '57 x', '61 x', '', '94 x', '42 x', '15 x', '3 x', '45 x', '5 x', '8 x', 'â€“', '77 x']
['Zimbabwe', '11', '65', '31', '', '86', '20', '10', '2', '32', '3', '6', '61', '94 y']

We now have completely extracted all the country rows from the six tables. Next we are going to store them in Panda's
DataFrame. There are multiple ways of creating a DataFrame.<font color = "red"> Here we create DataFrame by passing a dictionary of objects.</font>

In [70]:
import pandas as pd

data = {}
for table in tables:
    for row in table[5:]:
        if row[2] == '':
            continue
        if row[0] == 'Zimbabwe':
            data[row[0]] = row[1:]
            break
        if 'THE STATE' in row[0]:
            break
        data[row[0]] = row[1:] 
        
data = pd.DataFrame(data)
data

,and areas Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Republic of Tanzania,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
0,â€“,4,6 x,â€“,12 x,5 x,7,8,7 x,7 x,...,8,8 x,9,5 x,10 x,8,5,â€“,11 x,11
1,â€“,43,50 x,â€“,55 x,â€“,â€“,36,â€“,â€“,...,49,â€“,59,67 x,72 x,â€“,40,30 x,57 x,65
2,â€“,39,7 x,â€“,11 x,â€“,54,35,â€“,â€“,...,50,â€“,65,26 x,40 x,â€“,17,12 x,61 x,31
3,,,,,,,,,,,...,,,,,,,,,,
4,29 x,78,"39 x,y",â€“,77 x,â€“,â€“,75,â€“,â€“,...,92,â€“,"35 x,y",47 x,68 x,â€“,50,"76 x,y",94 x,86
5,54 x,31,22 x,â€“,37 x,â€“,28 x,23,â€“,â€“,...,51,â€“,27,38 x,32 x,â€“,19,â€“,42 x,20
6,33 x,5,3 x,â€“,16 x,â€“,2 x,5,â€“,â€“,...,16,1 x,5 x,4 x,11 x,4 x,12,43 x,15 x,10
7,12 x,2,1 x,â€“,7 x,â€“,0 x,1,â€“,â€“,...,4,0 x,2 x,1 x,2 x,â€“,2,19 x,3 x,2
8,59 x,19,15 x,â€“,29 x,â€“,8 x,19,â€“,â€“,...,42,3 x,15 x,19 x,26 x,16 x,23,58 x,45 x,32
9,9 x,9,4 x,â€“,8 x,â€“,1 x,4,â€“,â€“,...,5,0 x,2 x,4 x,6 x,5 x,4,15 x,5 x,3
10,5 x,22,13 x,â€“,â€“,â€“,10 x,15,â€“,â€“,...,5,7 x,10 x,13 x,5 x,6 x,4,5 x,8 x,6
11,â€“,â€“,â€“,â€“,44,â€“,â€“,â€“,â€“,â€“,...,95,â€“,â€“,99,â€“,â€“,98 w,11,â€“,61
12,20,76,61 x,â€“,45 x,â€“,â€“,97 x,â€“,â€“,...,59,â€“,â€“,53 x,23 x,â€“,45,30 x,77 x,94 y

When you run the script, you will find that the forth row is empty. The number of rows is supposed to be 12, as there are 12 columns in our PDF. <font color = "red"> The empty row needs to be dropped </font>, which can be easily done with the `drop()` function of
Pandas' DataFrame. i.e.,
```python
    data.drop(3, 0)
```
The last step is to transpose the DataFrame so that each row is a record for a country, and save the data into a CSV file.

In [71]:
data = data.drop(3, 0)
data = data.T # tranpose the dataframe
data.columns = range(12)
data.to_csv('data/en_final_table_2_2new.csv', sep='\t')

/var/folders/4n/y3z900hx7yj7qq3g3q2t8y7m0000gn/T/ipykernel_76629/2418531339.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data = data.drop(3, 0)